.signIn {
  padding: var(--seeds-spacer-section);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  @media (max-width: theme("screens.sm")) {
    flex-direction: column;
  }

  .footer {
    padding: var(--seeds-spacer-content);
  }
}
