.form {
  position: relative;
}

.forgotPassword {
  position: absolute;
  right: 0;
  font-size: var(--seeds-font-size-sm);
}

.signInButton {
  margin: var(--seeds-spacer-text) 0 var(--seeds-spacer-content) 0;
}

.getCodeButton {
  margin: var(--seeds-spacer-text) 0 var(--seeds-spacer-content) 0;
}

.oneTimeCodeNote {
  padding-top: var(--seeds-spacer-text);
}

.createAccountDescription {
  padding-bottom: var(--seeds-spacer-header);
}

.errorAlert {
  margin-bottom: var(--seeds-spacer-header);
}

.requiredLoginsMessage {
  --message-border-radius: var(--seeds-rounded);
  --message-border: 2px solid var(--seeds-color-primary-light);
  background: var(--seeds-color-primary-lighter) !important;
  justify-content: flex-start;
  line-height: var(--seeds-line-height-5);
  margin-bottom: var(--seeds-spacer-header);
  svg {
    color: var(--seeds-color-primary-dark) !important;
  }
  a {
    color: var(--seeds-color-primary-darker) !important;
  }
}
