.reverify {
  display: flex;
  flex-direction: column;
  gap: var(--seeds-spacer-content);
}

.alert {
  margin: 0;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--seeds-spacer-text);
}
