.field .field-note {
  margin-bottom: var(--seeds-spacer-label);
}

.radio-field-group {
  display: flex;
  gap: var(--seeds-spacer-label);
  flex-direction: column;
}

.radio-field {
  margin-left: 0 !important;
}

.field-sub-note {
  color: var(--seeds-color-success);
}

.text__caps-spaced {
  text-transform: none;
  font-variant: normal;
  letter-spacing: normal;
  font-weight: var(--seeds-font-weight-semibold);
  text-decoration: none;
  font-style: normal;
  font-size: var(--seeds-font-size-sm);
  color: unset;
}

strong {
  font-weight: var(--seeds-font-weight-semibold);
}

.checkbox-field-label {
  label {
    color: var(--seeds-color-blue-500);
    font-weight: var(--seeds-font-weight-semibold) !important;
  }
}

.legend-header {
  font-size: var(--seeds-font-size-sm);
  font-weight: var(--seeds-font-weight-semibold);
  margin-bottom: var(--seeds-s2);
}
