.field-note {
  margin-bottom: var(--seeds-spacer-label);
}

.radio-field-group {
  display: flex;
  gap: var(--seeds-spacer-label);
  flex-direction: column;
}

.radio-field {
  margin-left: 0 !important;
}

.field-sub-note {
  color: var(--seeds-color-success);
}

.text__caps-spaced {
  text-transform: none;
  font-variant: normal;
  letter-spacing: normal;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-size: 100%;
}

strong {
  font-weight: var(--seeds-font-weight-semibold);
}
