<header class="lead-header bg-attention">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="lead-title c-white">Get Assistance</h1>
      <div class="medium-8 columns no-padding show-for-medium-up">
        <p class="c-white t-gamma t-light">Whether you’re looking for assistance from a housing counselor, language support or additional housing listings, you've come to the right place.</p>
      </div>
    </div>
  </div>
</header>
<section class="row">
  <div class="medium-8 columns">
    <div class="property-block block--icon text-center">
      <figure class="block-icon">
        <img src="/assets/toolkit/images/icon-phone.png">
      </figure>
      <h2 class="delta t-serif c-oil">For more help, we suggest talking with a housing counselor to explore your options.</h2>

      <a href="#" class="button radius">Find a Housing Counselor</a>
    </div>    <hr class="hr hr-5">

    <div class="block--icon text-center bg-dust">
      <figure class="block-icon">
        <img src="/assets/toolkit/images/icon-trans.png">
      </figure>
      <h2 class="delta t-serif c-oil">Download translations in multiple languages, and quickly contact counselors providing language support.</h2>

      <section class="language-actions">
        <ul class="button-group radius even-3">
          <li>
            <button class="button blank">
              Español
            </button>
          </li>
          <li>
            <button class="button blank">
              中国
            </button>
          </li>
          <li>
            <button class="button blank">
              Tagalog
            </button>
          </li>
        </ul>
      </section>    </div>

    <hr class="hr hr-5">
    <div class="property-block block--icon text-center">
      <figure class="block-icon">
        <img src="/assets/toolkit/images/icon-home.png">
      </figure>
      <h2 class="delta t-serif c-oil">See more rental and ownership affordable housing opportunities.</h2>

      <a href="#" class="button radius">View Additional Opportunities</a>
    </div>  </div>

  <div class="medium-4 columns shift--top margin-bottom--2x">
    <div class="box-shadow bg-white padding--2x margin-top--2x">
      <h4 class="t-tiny t-caps t-sans t-bold">Contact</h4>
      <h3 class="t-delta t-sans">Mayor's Office of Housing and Community Development</h3>

      <p><a href="mailto:" class="">sfhousing.info@sfgov.org</a></p>

      <p class="t-small t-steel">For listing and application questions, please contact the Leasing Agent displayed on the listing.</p>
      <p class="t-small t-steel">For general program inquiries, you may call MOHCD at (415) 701-5560.</p>
    </div>  </div>
</section>
