.overview {
  width: 100%;
  :global(.seeds-tabs.vertical-sidebar-layout) {
    @media (max-width: theme("screens.sm")) {
      :global(.tabs-tab) {
        border-radius: 0;
      }
    }
    :global(.tabs-tab.is-active),
    :global(.tabs-tab[aria-selected="true"]) {
      box-shadow: none;
    }

    @media (min-width: theme("screens.lg")) {
      :global(.tabs-tab) {
        cursor: default;
      }
      :global(.tabs-tab:hover) {
        color: var(--tab-label-color);
        background-color: var(--tab-background-color);
      }

      .overviewFooter:global(.tabs-tab):hover {
        background-color: var(--seeds-color-blue-100);
        color: var(--tab-label-color);
      }
    }
    :global(.tabs-tab) .overviewIcon {
      color: var(--seeds-color-primary);
    }
  }
}

.overviewOverLg {
  @media (min-width: theme("screens.lg")) {
    display: none;
  }
}

.overviewUnderLg {
  display: none;
  @media (min-width: theme("screens.lg")) {
    display: block;
  }
}

.overviewSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--seeds-spacer-section);
  @media (max-width: theme("screens.lg")) {
    :global(.tabs-tab-link) {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }
  }
}

.overviewContent {
  flex: 1;
  min-width: 0;
}

.infoIcon {
  flex-shrink: 0;
  padding: var(--seeds-s4) var(--seeds-s6) var(--seeds-s4) 0;
  border-right: 3px solid var(--seeds-color-blue-500);
  margin-right: var(--seeds-s8);
}

.overviewHeading {
  font-weight: var(--seeds-font-weight-regular);
  margin-bottom: var(--seeds-spacer-text);
  color: var(--seeds-color-gray-950);
}

.overviewText {
  font-size: var(--seeds-type-caption-size);
  font-weight: var(--seeds-font-weight-regular);
  color: var(--seeds-color-gray-750);
}

.overviewFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--seeds-spacer-container);
  background: var(--seeds-color-blue-100);
}

.overviewButton {
  display: none;
  width: var(--seeds-s40);
  margin-left: var(--seeds-s8);
  @media (min-width: theme("screens.lg")) {
    display: inline-flex;
  }
}

.overviewIcon {
  margin-left: var(--seeds-s8);
  color: var(--seeds-color-primary);
  @media (min-width: theme("screens.lg")) {
    display: none;
  }
}

.signOut {
  text-decoration: underline;
  color: var(--seeds-color-alert) !important;
}
