// label for each section
.fieldset-legend {
  font-size: 18px;
  line-height: 22.5px;
  color: #555;
}

// padding for bottoms of form labels
.form-fieldset > .fieldset-legend {
  padding-bottom: 12px;
}

.email-fieldset > .fieldset-legend {
  padding-bottom: 8px;
}

.password-fieldset > .fieldset-legend {
  padding-bottom: 0px;
}

// label for fields in name and DOB section
.form-fieldset > .field > .label {
  color: #767676;
  font-size: 16px;
  line-height: 24px;
}

// password section

.bullet::marker {
  font-size: 8px;
}

// label for fields in password section
.password-fieldset > .field > .label, .new-password-label {
  color: #555;
  font-size: 16px;
  line-height: 24px;
}

// note for choosing a new password
.password-fieldset > .field-note {
  color: #555;
  font-size: 13px;
  line-height: 150%;
}

// forgot password link
.forgot-password-link {
  font-size: 13px;
}

// date section

// label for fields in date section
.form-fieldset > .field-group--date > .field > .label {
  color: #767676;
  font-size: 14px;
  line-height: 24px;
}

//banner for updates
.account-settings-banner {
  background-color: var(--seeds-color-blue-100) !important;
}

//override alert component icon
.seeds-common-message > .seeds-icon {
  color:  var(--seeds-color-blue-100);
}

.seeds-common-message > .seeds-icon ~ .seeds-icon {
  color: var(--seeds-color-black);
}