.profileHeader {
  margin-top: var(--seeds-spacer-header);
}

.dobExample {
  margin: var(--seeds-spacer-text) 0;
  font-size: var(--seeds-font-size-xs);
}

.submitButton {
  margin: var(--seeds-spacer-content) 0;
}
