.card {
  width: 100%;
  @media (max-width: theme("screens.md")) {
    border: none;
  }
}

.card h1,
.card h2 {
  padding-bottom: var(--seeds-spacer-header);
}

.skip {
  --message-border-radius: var(--seeds-rounded);
  --message-border: 2px solid var(--seeds-color-primary-light);
  background: var(--seeds-color-primary-lighter) !important;
  justify-content: flex-start;
  margin-bottom: var(--seeds-spacer-header);
  svg {
    color: var(--seeds-color-primary-dark) !important;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--seeds-spacer-text);
  margin-top: var(--seeds-spacer-content);
}
