.contactCard {
  max-width: var(--seeds-width-2xl);
}

.contactField {
  max-width: var(--seeds-width-sm);
}

.checkboxLabel {
  color: var(--seeds-color-blue-500);
  font-weight: var(--seeds-font-weight-semibold);
}

.contactSection {
  padding: var(--seeds-spacer-section) !important;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: var(--seeds-spacer-content) var(--seeds-s16) !important;
}

.heading {
  margin: var(--seeds-spacer-header) 0;
}

.iconBackground {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--seeds-rounded-full);
  background: var(--seeds-color-blue-300);
  width: var(--seeds-s16);
  height: var(--seeds-s16);
}

.icon {
  display: block;
  width: var(--seeds-s8);
  height: var(--seeds-s8);
}

.footer {
  display: flex;
  justify-content: center;
  padding: var(--seeds-spacer-section);
  background: var(--seeds-color-blue-100);
}

.email {
  font-size: var(--seeds-font-size-md);
  font-weight: var(--seeds-font-weight-semibold);
  color: var(--seeds-color-gray-750);
}

.changeEmail {
  font-size: var(--seeds-font-size-sm);
  color: var(--seeds-color-gray-750);
  margin-top: var(--seeds-spacer-header);
}

.phoneSection {
  padding-inline: var(--seeds-spacer-container);
}

.phoneCheckboxGroup {
  display: block;
  padding-top: var(--seeds-spacer-header);
}

.fieldLabel {
  font-size: var(--seeds-font-size-sm);
  font-weight: var(--seeds-font-weight-semibold);
  margin-bottom: var(--seeds-s2);
}

.saveButton {
  margin-top: var(--seeds-spacer-content);
}
