.settingsCard {
  @media (max-width: theme("screens.sm")) {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}

.settingsButton {
  display: flex;
  justify-content: center;
  padding-top: var(--seeds-spacer-text);
}
