.card {
  max-width: var(--seeds-width-2xl);
  --card-content-padding-inline: var(--seeds-spacer-container);
  --card-header-padding-inline: var(--seeds-spacer-container);
  --card-content-padding-block: var(--seeds-spacer-section);
  --card-header-padding-block: var(--seeds-spacer-section);

  @media (max-width: theme("screens.md")) {
    max-width: none;
  }

  @media (max-width: theme("screens.sm")) {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }

  :global(.seeds-card-header):first-child,
  :global(.seeds-card-section):first-child {
    padding-block-start: var(--seeds-spacer-container);
  }

  :global(.seeds-card-section):last-child,
  :global(.seeds-card-footer):last-child {
    padding-block-end: var(--seeds-spacer-container);
  }
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-top: var(--seeds-spacer-header);
  padding-bottom: var(--seeds-spacer-section);
}

.iconBackground {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--seeds-rounded-full);
  background: var(--seeds-color-blue-300);
  width: var(--seeds-s16);
  height: var(--seeds-s16);
}
