.sentTo {
  font-size: var(--seeds-font-size-sm);
  margin-bottom: var(--seeds-spacer-content);
}

.email {
  font-weight: var(--seeds-font-weight-semibold);
}

.editEmail {
  margin-left: var(--seeds-spacer-text);
}

.codeField {
  font-weight: var(--seeds-font-weight-semibold);
}

.confirmButton {
  margin: var(--seeds-spacer-content) 0;
}

.resendSection {
  font-family: var(--seeds-font-alt-sans);
  margin-bottom: var(--seeds-spacer-content);
}

.resendRow {
  display: flex;
  margin-bottom: 0;
  font-family: var(--seeds-font-alt-sans);
  font-size: var(--seeds-font-size-sm);
  font-weight: var(--seeds-font-weight-regular);
}

.sendAgain {
  margin-left: var(--seeds-spacer-text);
}

.emailSent {
  margin-left: var(--seeds-spacer-text);
  color: var(--seeds-color-success);
  font-family: var(--seeds-font-sans);
  font-weight: var(--seeds-font-weight-semibold);
  display: inline-flex;
  align-items: center;
  gap: var(--seeds-s1);
}

.howToUseCode {
  button {
    font-weight: var(--seeds-font-weight-semibold) !important;
  }
}

.resendNote {
  font-size: var(--seeds-font-size-sm);
  color: var(--seeds-color-on-disabled);
}

.howToContent {
  font-size: var(--seeds-font-size-sm);
  color: var(--seeds-color-gray-750);
}

.howToList {
  list-style-type: decimal;
  margin-left: var(--seeds-spacer-content);
  padding: var(--seeds-spacer-text) 0;
}

.forgotPasswordDescription {
  margin-bottom: var(--seeds-spacer-header);
}
