.sentTo {
  margin-bottom: var(--seeds-spacer-header);
}

.email {
  font-weight: var(--seeds-font-weight-semibold);
}

.editEmail {
  margin-left: var(--seeds-spacer-text);
}

.codeField {
  font-weight: var(--seeds-font-weight-semibold);
}

.confirmButton {
  margin: var(--seeds-spacer-content) 0;
}

.resendSection {
  margin-bottom: var(--seeds-spacer-header);
}

.resendRow {
  margin-bottom: 0;
}

.didntGetEmail {
  font-weight: var(--seeds-font-weight-semibold);
  color: var(--seeds-color-gray-750);
}

.sendAgain {
  margin-left: var(--seeds-spacer-text);
  font-weight: 200 !important;
  font-family: inherit !important;
}

.emailSent {
  margin-left: var(--seeds-spacer-text);
  color: var(--seeds-color-success);
  font-weight: var(--seeds-font-weight-semibold);
  display: inline-flex;
  align-items: center;
  gap: var(--seeds-s1);
}

.howToUseCode {
  button {
    font-weight: var(--seeds-font-weight-semibold) !important;
    font-size: var(--seeds-font-size-base) !important;
  }
}

.howToList {
  list-style-type: decimal;
  margin-left: var(--seeds-spacer-content);
  padding: var(--seeds-spacer-text) 0;
}

.forgotPasswordDescription {
  margin-bottom: var(--seeds-spacer-header);
}
