small.error id="errorId" ng-messages="form.applicationForm[inputName].$error" ng-if="inputInvalid(inputName)"
  span ng-message="email" translate="{{translatedError}}"
  span ng-message="pattern" translate="error.please_provide_answers_in_english"
  span ng-message="required" translate="{{translatedError}}"
