small.error id="errorId" ng-messages="form.applicationForm[inputName].$error" ng-if="inputInvalid(inputName)"
  span ng-message="pattern" translate="ERROR.PLEASE_ENTER_ENGLISH"
  span ng-message="required" translate="{{translatedError}}"
