small.error id="errorId" ng-messages="form.applicationForm[inputName].$error" ng-if="inputInvalid(inputName)"
  span ng-message="pattern" translate="ERROR.PLEASE_PROVIDE_ANSWERS_IN_ENGLISH"
  span ng-message="email" translate="{{translatedError}}"
  span ng-message="required" translate="{{translatedError}}"
