.radio-block.margin-bottom
  input(id="{{id}}" ng-required="ngRequired" ng-model="user[name]" name="{{name}}" type="radio" ng-value="value" ng-class="{ error: inputInvalid(name)}" ng-change="onChange()" aria-describedby="{{ariaDescribedby}}" style="opacity:1")
  label.radio-block_label for="{{id}}" ng-transclude=""
