.radio-block.margin-bottom
  input(id="{{id}}" ng-required="ngRequired" ng-model="user[name]" name="{{name}}" type="radio" value="{{value}}" ng-class="{ error: inputInvalid(name)}")
  label.radio-block_label for="{{id}}" ng-transclude=""
