.form-back ng-if="showBackButton"
  / TODO: change this to <button> with correct styling to look the same as it does now
  a.lined ng-click="goToAndSetPristine(backPageState)"
    | {{'T.BACK' | translate}}
