.info-card-additional-resources {
    --subtitle-font-weight:600;
    --subtitle-color: var(--bloom-color-gray-950);
}

.info-card-grid-additional-resources {
    --title-font-size: var(--bloom-font-size-2xl);
}