---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQL0Lafrcf7TQw6GP2Pu9oFBE6FfkLSSH58is.3gixmlZoAJiWexF4.xoQvzDx41w4PX8dynXndNjoEo0tBB6BNA6LhU8","instance_url":"https://sfhousing--full.cs26.my.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1469667635474","signature":"Eml4OcEQVDskV4V4qTK+vawzee4XArprjwN4Xj5Iizw="}'
  recorded_at: Thu, 28 Jul 2016 01:00:35 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs26.my.salesforce.com/services/apexrest/shortForm/list/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQL0Lafrcf7TQw6GP2Pu9oFBE6FfkLSSH58is.3gixmlZoAJiWexF4.xoQvzDx41w4PX8dynXndNjoEo0tBB6BNA6LhU8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 28 Jul 2016 01:00:38 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs26.my.salesforce.com/services/apexrest/ListingDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQL0Lafrcf7TQw6GP2Pu9oFBE6FfkLSSH58is.3gixmlZoAJiWexF4.xoQvzDx41w4PX8dynXndNjoEo0tBB6BNA6LhU8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 28 Jul 2016 01:00:40 GMT
recorded_with: VCR 3.0.3
