---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQBcWthmHrrDKhubbC7fOZpV2VCVfeJztWzar.98S4Bj310YKAuGwXAuz5.1WFYd2g9mObUVTQsdOUDbM340PrEQsPxY4","instance_url":"https://sfhousing--full.cs26.my.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1469514450478","signature":"X3wn+FFKWVfZ3AfWvhfPzZSB2qkBsRrIyXaLHbmP6Vw="}'
  recorded_at: Tue, 26 Jul 2016 06:27:31 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs26.my.salesforce.com/services/apexrest/shortForm/list/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQBcWthmHrrDKhubbC7fOZpV2VCVfeJztWzar.98S4Bj310YKAuGwXAuz5.1WFYd2g9mObUVTQsdOUDbM340PrEQsPxY4
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 26 Jul 2016 06:27:32 GMT
recorded_with: VCR 3.0.3
