---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"<<SALESFORCE_INSTANCE_URL>>","id":"https://test.salesforce.com/id/00D0t0000000xVqEAI/0050P000007QAY9QAO","token_type":"Bearer","issued_at":"1563825487622","signature":"+3KVgcpfCNN8JN7LabH5Pl3RP/Jq+FK9Dtz6gGiccKU="}'
  recorded_at: Mon, 22 Jul 2019 19:58:07 GMT
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/apexrest/shortForm/list/0030P00001y3eLHQAY"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D0t0000000xVqm";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Mon, 22 Jul 2019 19:58:08 GMT
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/apexrest/ListingDetails?subset=browse"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D0t0000000xVqm";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"unitSummaries":{"reserved":null,"general":[{"unitType":"Studio","totalUnits":28,"priorities":null,"minSquareFt":350,"minRentalMinIncome":2000.00,"minPriceWithParking":null,"minPriceWithoutParking":null,"minPercentIncome":null,"minOccupancy":1,"minMonthlyRent":1000.00,"minHoaDuesWithParking":null,"minHoaDuesWithoutParking":null,"maxSquareFt":459,"maxRentalMinIncome":2000.00,"maxPriceWithParking":null,"maxPriceWithoutParking":null,"maxPercentIncome":null,"maxOccupancy":2,"maxMonthlyRent":1000.00,"maxHoaDuesWithParking":null,"maxHoaDuesWithoutParking":null,"listingID":"a0W0P00000HNfNTUA1"},{"unitType":"1
        BR","totalUnits":27,"priorities":null,"minSquareFt":510,"minRentalMinIncome":2112.00,"minPriceWithParking":null,"minPriceWithoutParking":null,"minPercentIncome":null,"minOccupancy":1,"minMonthlyRent":1056.00,"minHoaDuesWithParking":null,"minHoaDuesWithoutParking":null,"maxSquareFt":554,"maxRentalMinIncome":2280.00,"maxPriceWithParking":null,"maxPriceWithoutParking":null,"maxPercentIncome":null,"maxOccupancy":3,"maxMonthlyRent":1140.00,"maxHoaDuesWithParking":null,"maxHoaDuesWithoutParking":null,"listingID":"a0W0P00000HNfNTUA1"},{"unitType":"2
        BR","totalUnits":2,"priorities":null,"minSquareFt":842,"minRentalMinIncome":2514.00,"minPriceWithParking":null,"minPriceWithoutParking":null,"minPercentIncome":null,"minOccupancy":2,"minMonthlyRent":1257.00,"minHoaDuesWithParking":null,"minHoaDuesWithoutParking":null,"maxSquareFt":854,"maxRentalMinIncome":2540.00,"maxPriceWithParking":null,"maxPriceWithoutParking":null,"maxPercentIncome":null,"maxOccupancy":5,"maxMonthlyRent":1270.00,"maxHoaDuesWithParking":null,"maxHoaDuesWithoutParking":null,"listingID":"a0W0P00000HNfNTUA1"}]},"reservedDescriptor":null,"prioritiesDescriptor":[{"shortDescription":null,"numberOfUnits":4,"name":"Mobility
        impairments","listingId":"a0W0P00000HNfNTUA1"},{"shortDescription":null,"numberOfUnits":1,"name":"Hearing/Vision
        impairments","listingId":"a0W0P00000HNfNTUA1"}],"listingID":"a0W0P00000HNfNTUA1","listing":{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0W0P00000HNfNTUA1"},"Id":"a0W0P00000HNfNTUA1","Tenure__c":"New
        rental","Name":"Marcy Adelman and Jeanette Gurevitch openhouse Community","Application_Due_Date__c":"2020-12-15T01:00:00.000+0000","Accepting_Online_Applications__c":true,"Lottery_Date__c":"2020-01-14T18:00:00.000+0000","Lottery_Results__c":false,"Lottery_Results_Date__c":"2019-01-22","Reserved_community_type__c":"Senior","Reserved_community_minimum_age__c":62,"Reserved_community_type_description__c":"At
        least one person in the\r\nhousehold must be 62 years or older.","hasWaitlist__c":true,"Units_Available__c":57,"LastModifiedDate":"2019-07-10T22:28:41.000+0000","Building_URL__c":"https://sfmohcd.org/sites/default/files/Documents/MOH/Housing%20Listing%20Photos/95-laguna-wCaption-1000px%20%282%29.png","Allows_Realtor_Commission__c":false,"Building_Name__c":"Marcy
        Adelman and Jeanette Gurevitch openhouse Community","Building_City__c":"San
        Francisco","Building_State__c":"CA","Building__c":"a0a0P00000GTPQVQA5","RecordTypeId":"0120P000000kPUSQA2","Building__r":{"attributes":{"type":"Building__c","url":"/services/data/v35.0/sobjects/Building__c/a0a0P00000GTPQVQA5"},"Id":"a0a0P00000GTPQVQA5"},"RecordType":{"attributes":{"type":"RecordType","url":"/services/data/v35.0/sobjects/RecordType/0120P000000kPUSQA2"},"Id":"0120P000000kPUSQA2","Name":"Listing
        Rental"}},"doesMatch":null,"chartTypes":[{"year":2018,"percent":40,"numOfHousehold":null,"chartType":"Non-HERA","amount":null},{"year":2018,"percent":50,"numOfHousehold":null,"chartType":"HUD
        Unadjusted","amount":null}]},{"unitSummaries":{"reserved":null,"general":[{"unitType":"Studio","totalUnits":10,"priorities":null,"minSquareFt":446,"minRentalMinIncome":1694.00,"minPriceWithParking":null,"minPriceWithoutParking":null,"minPercentIncome":null,"minOccupancy":1,"minMonthlyRent":847.00,"minHoaDuesWithParking":null,"minHoaDuesWithoutParking":null,"maxSquareFt":446,"maxRentalMinIncome":1694.00,"maxPriceWithPa[...]
