---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40exygy.com.qa&password=XkzG%26h9%5EA%5El%21<<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00Df0000003aGup!AQ4AQBEPjNyj0_sMfIKAzsZf.cq0l_m.01ekeE.N9n8voyX2_qKk9jFq.CDQsm_WFse3PlhnR3uIap5qMNP9FATwRKA4LWsW","instance_url":"https://sfhousing--qa.cs63.my.salesforce.com","id":"https://test.salesforce.com/id/00Df0000003aGupEAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1473219397859","signature":"dEKdw3gY9hON6swXX+iQh27ekqfSvFX1FmQbc01Ocu4="}'
  recorded_at: Wed, 07 Sep 2016 03:36:37 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs63.my.salesforce.com/services/apexrest/Person/003f000000r2oseAAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Df0000003aGup!AQ4AQBEPjNyj0_sMfIKAzsZf.cq0l_m.01ekeE.N9n8voyX2_qKk9jFq.CDQsm_WFse3PlhnR3uIap5qMNP9FATwRKA4LWsW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"zip":null,"workInSf":null,"webAppID":null,"state":null,"sexualOrientationOther":null,"sexualOrientation":null,"relationship":null,"race":null,"phoneType":null,"phone":null,"neighborhoodPreferenceMatch":null,"middleName":null,"mailingZip":null,"mailingState":null,"mailingCity":null,"mailingAddress":null,"lastName":"lastName","languageOther":null,"language":null,"hiv":null,"hasSameAddressAsApplicant":null,"genderOther":null,"gender":null,"firstName":"Test","ethnicity":null,"email":"test@test.com","DOB":"1989-03-29","contactId":"003f000000r2oseAAA","city":null,"appMemberId":null,"alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":null}'
  recorded_at: Wed, 07 Sep 2016 03:36:39 GMT
recorded_with: VCR 3.0.3
