---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40exygy.com.qa&password=XkzG%26h9%5EA%5El%21<<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D6C0000000TrI!AQ4AQKRhqrl9DYnYoAaS2QuUneQRKDPfZppuTCCTDyRBc1SPRm2ZYhEGpUFy45NVS.lxlXxT9fwiDNQ6pvrNCZeQpdVz1LM_","instance_url":"https://sfhousing--QA.cs63.my.salesforce.com","id":"https://test.salesforce.com/id/00D6C0000000TrIUAU/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1481011321883","signature":"jyV5adicFmFeQn7eFQGRpFcmvLiemNLbik+VtN5aRHU="}'
  recorded_at: Tue, 06 Dec 2016 08:02:00 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs63.my.salesforce.com/services/apexrest/Person/0036C000001sI5oQAE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D6C0000000TrI!AQ4AQKRhqrl9DYnYoAaS2QuUneQRKDPfZppuTCCTDyRBc1SPRm2ZYhEGpUFy45NVS.lxlXxT9fwiDNQ6pvrNCZeQpdVz1LM_
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"zip":null,"workInSf":null,"webAppID":"51","type":"Primary Applicant","state":null,"sexualOrientationOther":null,"sexualOrientation":null,"relationship":null,"race":null,"phoneType":null,"phone":null,"noPhone":null,"noEmail":null,"noAddress":null,"neighborhoodPreferenceMatch":null,"middleName":null,"mailingZip":null,"mailingState":null,"mailingCity":null,"mailingAddress":null,"lastName":"Kaplan","languageOther":null,"language":null,"hiv":null,"hasSameAddressAsApplicant":null,"hasAltMailingAddress":null,"genderOther":null,"gender":null,"firstName":"Dave","ethnicity":null,"email":"dave@exygy.com","DOB":"1989-10-10","contactId":"0036C000001sI5oQAE","city":null,"appMemberId":null,"appID":null,"alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":null}'
  recorded_at: Tue, 06 Dec 2016 08:02:02 GMT
recorded_with: VCR 3.0.3
