---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQPTk_dNwzUYJFSNGVOS20g6ypS_RNE2hDE1UnG1OaXjfZ9z8tScwQlTAnCO_LWt7YqL0YJMGs7eOd.NC0M1_PbPQhRUb","instance_url":"https://sfhousing--full.cs26.my.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1470171297073","signature":"Yca8N84ZH5IiyiY8wnZh2WO8NLrP8e5grVyJSncv1ic="}'
  recorded_at: Tue, 02 Aug 2016 20:54:58 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs26.my.salesforce.com/services/apexrest/Person/003f000000r2oseAAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQPTk_dNwzUYJFSNGVOS20g6ypS_RNE2hDE1UnG1OaXjfZ9z8tScwQlTAnCO_LWt7YqL0YJMGs7eOd.NC0M1_PbPQhRUb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contactId": "003f000000r2oseAAA", "firstName": "Jane", "lastName": "Doe"}'
  recorded_at: Tue, 02 Aug 2016 20:54:58 GMT
recorded_with: VCR 3.0.3
