.responseCard {
  @media (max-width: theme("screens.sm")) {
    border: none;
  }

  .responseHeader {
    padding: var(--seeds-spacer-container);
    text-align: center;
    @media (max-width: theme("screens.sm")) {
      text-align: left;
      padding: var(--seeds-spacer-section);
    }
  }
  .responseSection {
    padding: var(--seeds-spacer-section);
    background: var(--seeds-color-primary-lighter);
    line-height: var(--seeds-line-height-relaxed);
  }
  .responseIcon {
    display: flex;
    gap: var(--seeds-spacer-label);
  }

  .responseHeading {
    margin-bottom: var(--seeds-spacer-label);
  }
}
