.listingCard {
  @media (max-width: theme("screens.sm")) {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
  }
  margin-bottom: var(--seeds-spacer-label);
  .listingHeader {
    text-align: center;
    padding: var(--seeds-spacer-header);
    background: var(--seeds-color-primary);

    .listingHeading {
      color: var(--seeds-color-white);
    }
  }

  .listingSection {
    padding: var(--seeds-spacer-text) !important;
    text-align: center;
    @media (max-width: theme("screens.sm")) {
      background: var(--seeds-color-primary-lighter);
    }
  }
}

.responseCard {
  @media (max-width: theme("screens.sm")) {
    border: none;
  }

  .responseHeader {
    padding: var(--seeds-spacer-container);
    text-align: center;
    @media (max-width: theme("screens.sm")) {
      text-align: left;
      padding: var(--seeds-spacer-section);
    }
  }

  .responseIcon {
    display: flex;
    gap: var(--seeds-spacer-label);
  }

  .responseSubtitle {
    margin-top: var(--seeds-spacer-label);
  }

  .responseSection {
    display: flex;
    flex-direction: column;
    padding: var(--seeds-spacer-section);
    background: var(--seeds-color-primary-lighter);
    gap: var(--seeds-spacer-text);
  }
}

.submitYourInfo {
  display: flex;
  flex-direction: column;
  gap: var(--seeds-spacer-content);
  .submitYourInfoPage {
    display: flex;
    flex-direction: row;
    gap: var(--seeds-spacer-content);
    @media (max-width: theme("screens.sm")) {
      flex-direction: column;
    }
  }
  .submitYourInfoMain {
    width: 66.66%;
    gap: var(--seeds-spacer-text);
    @media (max-width: theme("screens.sm")) {
      width: 100%;
    }
    padding: 0 var(--seeds-spacer-container) 0 var(--seeds-s24);
    margin: var(--seeds-spacer-section);
  }
  .submitYourInfoSidebar {
    width: 33.33%;
    @media (max-width: theme("screens.sm")) {
      width: 100%;
    }
    padding: var(--seeds-spacer-section);
    border-left: 1px solid var(--seeds-color-gray-450);
  }
  .submitYourInfoSection {
    background-color: var(--seeds-color-gray-200);
    padding: var(--seeds-spacer-section);
  }

  .submitYourInfoIcons {
    display: flex;
    flex-direction: row;
    gap: var(--seeds-spacer-label);
  }
}
