@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,900,700");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic");

html {
  @apply antialiased;
}

body {
  @apply font-sans;
  @apply bg-white;
  @apply text-gray-950;
  top: 0px !important;
}

.-top {
  top: -0.8rem;
}

.site-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Stop footer rom overlapping with main content on IE11.
_:-ms-fullscreen,
:root .site-content {
  min-height: 600px !important;
}

.site-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    > section {
      flex: 1;
    }
  }
}

@import "./uic/global/mixins.scss";
@import "./uic/global/markdown.scss";
@import "./uic/global/text.scss";
@import "./uic/global/blocks.scss";
@import "./uic/global/accordion.scss";
@import "./uic/global/custom_counter.scss";
@import "./uic/global/forms.scss";
@import "./uic/global/lists.scss";
@import "./uic/global/tables.scss";
@import "./uic/global/homepage.scss";
@import "./uic/global/print.scss";

@import "./uic/global/tokens/borders.scss";
@import "./uic/global/tokens/colors.scss";
@import "./uic/global/tokens/fonts.scss";
@import "./uic/global/tokens/screens.scss";
@import "./uic/global/tokens/sizes.scss";

// /* ***********/
// /* Additional stylesheets are contained within individual component folders */
// /* ***********/

.inline-list {
  li {
    display: inline;
  }
}

// Override bloom styles for page header until we can make updates in their code
.page-header__group > h1.page-header__title {
  text-align: left;
}

nav {
  height: auto;
}

@import "tailwindcss/utilities";

// Hide container for Google Translate widget
#google_translate_element {
  display: none !important;
}

// Hide element for Google Translate widget
.goog-te-banner-frame {
  display: none !important;
}

.primary-lighter-markup-link a {
  color: var(--bloom-color-blue-500);
  text-decoration: underline;
}

.primary-lighter-markup-link-desktop a {
  @media (min-width: $screen-md) {
    color: var(--bloom-color-blue-500);
    text-decoration: underline;
  }
}

// Hide another container for Google Translate widget
#\:1\.container {
  display: none !important;
}
