@reference "../styles/theme.css";
.text-banner {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  justify-content: center;
  .text-banner-inner {
    max-width: 64rem;
    width: 100%;
    display: flex;
    align-items: center;
    @apply mx-2;
    @apply px-4;
    .text-banner-icon {
      display: none;
      padding-right: 1rem;
      @media (min-width: 768px) {
        display: block;
      }
    }
    .text-banner-content {
      @media (min-width: 768px) {
        border-left: 3px solid green;
        padding-left: 1rem;
      }

      .text-banner-header {
        width: fit-content;
        border-bottom: 3px solid green;
        padding-bottom: 0.4rem;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1rem;
        letter-spacing: 0.12rem;
        margin-bottom: 0.5rem;
        @media (min-width: 768px) {
          border-bottom: none;
          padding-bottom: 0px;
        }
      }
      .text-banner-text {
        color: #555;
        font-size: 1rem;
      }
    }
  }
}
