version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2
  cypress: cypress-io/cypress@1.26.0
  browser-tools: circleci/browser-tools@1.2.2
defaults: &defaults
  working_directory: ~/web
  docker:
    - image: cimg/ruby:3.1.3-browsers
      environment:
        RAILS_ENV: development
        PGHOST: 127.0.0.1
        PGUSER: root
        NODE_OPTIONS: --openssl-legacy-provider --max_old_space_size=4096
    - image: circleci/postgres:9.6-alpine
      environment:
        POSTGRES_USER: root
        POSTGRES_DB: sf_dahlia
    - image: "cypress/base:14.15.0"
  executor: ruby/default
non_production_jobs: &non_production_jobs
  filters:
    branches:
      ignore: production
  requires:
    - build
prod_and_release_jobs: &prod_and_release_jobs
  context: webapp-prod
  requires:
    - build
  filters:
    branches:
      only:
        - /^release.*$/
        - /^hotfix.*$/
        - production
aliases:
  - &attach_workspace
    attach_workspace:
      at: ~/web
  - &restore_yarn_cache
    restore_cache:
      name: Restore Yarn Cache
      keys:
        - webapp-{{ .Environment.CACHE_VERSION }}-yarn-packages-{{ .Branch }}-{{ checksum "yarn.lock" }}
        - webapp-{{ .Environment.CACHE_VERSION }}-yarn-packages-{{ .Branch }}-
        - webapp-{{ .Environment.CACHE_VERSION }}-yarn-packages-main-
        - webapp-{{ .Environment.CACHE_VERSION }}-yarn-packages-
  - &restore_bundler_cache
    restore_cache:
      name: Restore Bundler Cache
      keys:
        - webapp-{{ .Environment.CACHE_VERSION }}-bundle-dependencies-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
        - webapp-{{ .Environment.CACHE_VERSION }}-bundle-dependencies-{{ .Branch }}-
        - webapp-{{ .Environment.CACHE_VERSION }}-bundle-dependencies-main-
        - webapp-{{ .Environment.CACHE_VERSION }}-bundle-dependencies-
commands:
  prepare_workspace:
    description: "Attach workspace and restore cache"
    steps:
      - *attach_workspace
      - *restore_yarn_cache
      - *restore_bundler_cache
  install-node:
    description: "install node"
    steps:
      - run:
          command: |
            set +e
            touch $BASH_ENV
            curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.5/install.sh | bash
            echo 'export NVM_DIR="$HOME/.nvm"' >> $BASH_ENV
            echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
            echo 'nvm install v18.12.1' >> $BASH_ENV
            echo 'nvm alias default v18.12.1' >> $BASH_ENV
      - run: |
          curl -o- -L https://yarnpkg.com/install.sh | bash
          echo 'export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"' >> $BASH_ENV
      - run: yarn install
  setup-webdriver:
    description: "Setup webdriver for e2e tests"
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          command: |
            google-chrome --version
            chromedriver --version
          name: Check install
      - run:
          command: |
            ./node_modules/protractor/bin/webdriver-manager clean
            ./node_modules/protractor/bin/webdriver-manager update --versions.chrome 2.41 --versions.standalone 3.141.59
            ./node_modules/protractor/bin/webdriver-manager status
  upgrade-bundler:
    description: Upgrade bundler
    steps:
      - run: gem update --system
      - run: gem install bundler
  setup:
    description: "Basic setup"
    steps:
      - checkout
      - prepare_workspace
      - upgrade-bundler
      - run: bundle --path vendor/bundle
      - run: bundle exec rails db:migrate
  start-server:
    description: "Start Rails server in background"
    steps:
      - setup-webdriver
      - run:
          name: Run rails server in background
          command: bundle exec rails server -p 3000
          background: true
      - run:
          name: Wait for server
          command: |
            until $(curl --retry 10 --output /dev/null --silent --head --fail http://127.0.0.1:3000); do
                printf '.'
                sleep 5
            done
  run-e2e-tests-for-path:
    description: Start a rails server and run specified e2e tests
    parameters:
      path:
        type: string
        default: "./spec/e2e/test-feature-path.feature"
    steps:
      - setup
      - start-server
      - run: yarn run protractor spec/e2e/conf.js --specs '<< parameters.path >>'

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - prepare_workspace
      - install-node
      - save_cache:
          name: Save Yarn Package Cache
          key: webapp-{{ .Environment.CACHE_VERSION }}-yarn-packages-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules/
            - /home/circleci/.cache/Cypress
      - upgrade-bundler
      - run:
          name: Bundle install
          command: |
            sudo apt-get install pkg-config
            bundle config build.nokogiri --use-system-libraries
            bundle install --deployment --path vendor/bundle
      - save_cache:
          name: Save Bundle cache
          key: webapp-{{ .Environment.CACHE_VERSION }}-bundle-dependencies-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - ~/web/vendor/bundle
      - run: bundle exec rake db:setup
      - run: bundle exec rake db:test:prepare
      - run: bundle exec rake db:migrate
      - run:
          name: Download cc-test-reporter
          command: |
            mkdir -p tmp/
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./tmp/cc-test-reporter
            chmod +x ./tmp/cc-test-reporter
            ./tmp/cc-test-reporter before-build
      - persist_to_workspace:
          root: .
          paths:
            - .
  lint:
    <<: *defaults
    steps:
      - setup
      - run: yarn lint
  unit-react:
    <<: *defaults
    steps:
      - setup
      - run: yarn cache clean
      - run: yarn install
      - run:
          name: Run react unit tests
          command: yarn test --maxWorkers=2 --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./reports/junit/
      - store_test_results:
          path: ./reports/junit/
      - store_artifacts:
          path: app/javascript/test-coverage
  unit-rspec:
    <<: *defaults
    steps:
      - setup
      - run: wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
      - run: sudo apt-get update -y
      - run: sudo apt-get install graphicsmagick
      - run: RAILS_ENV=test bundle exec rails db:create
      - run: RAILS_ENV=test bundle exec rails db:test:prepare
      - run: bundle exec rake spec
      - store_artifacts:
          path: coverage
  unit-angular:
    <<: *defaults
    steps:
      - setup
      - run:
          name: OpenSSL workaround for PhantomJS
          command: echo "export OPENSSL_CONF=/etc/ssl/" >> $BASH_ENV
      - run: RAILS_ENV=test bundle exec rails db:create
      - run: RAILS_ENV=test bundle exec rails db:test:prepare
      - run: yarn install
      - run: bundle exec rake jasmine:ci
  e2e:
    <<: *defaults
    environment:
      HOME_PAGE_REACT: "true"
      SIGN_IN_PAGE_REACT: "true"
    steps:
      - setup
      - start-server
      - run: yarn test:e2e
  e2e-legacy:
    <<: *defaults
    parallelism: 4
    steps:
      - setup
      - start-server
      - run:
          name: Run e2e tests using test splitting
          command: |
            TESTFILES=$(circleci tests glob "spec/e2e/features/**/*.feature" | circleci tests split --split-by=timings)
            LIST=$(echo $TESTFILES | awk '{ gsub(" ", ",") ; system( "echo "  $0) }')
            echo $LIST
            npm run protractor -- --specs $LIST
workflows:
  version: 2.1
  build-and-deploy:
    jobs:
      - build
      - lint:
          <<: *non_production_jobs
      - unit-react:
          <<: *non_production_jobs
      - unit-rspec:
          <<: *non_production_jobs
      - unit-angular:
          <<: *non_production_jobs
      - e2e:
          <<: *non_production_jobs
      - e2e-legacy:
          <<: *non_production_jobs
      - e2e:
          <<: *prod_and_release_jobs
          name: e2e-production
      - e2e-legacy:
          <<: *prod_and_release_jobs
          name: e2e-production-legacy
