.certificate-preference-checkbox {
  font-size: var(--seeds-font-size-md) !important;
  margin-bottom: 0 !important;
  margin-top: var(--seeds-s8);
}

.certificate-preference-container {
  margin-left: var(--seeds-s9);
  margin-right: var(--seeds-s6);
}

.certificate-preference-link {
  font-size: var(--seeds-font-size-sm);
  margin-top: var(--seeds-s2);
}

.certificate-preference-dropdown {
  margin-top: var(--seeds-s4);

  .number-name {
    margin-bottom: var(--seeds-s2);
  }
}
