.field-group-title {
  font-size: var(--seeds-type-heading-size-sm);
  font-weight: var(--seeds-font-weight-bold);
}

.field-group-date {
  display: flex;

  .field {
    flex: 1 1 auto;
    max-width: var(--seeds-s16);
    margin-left: var(--seeds-s1_5);
    margin-right: var(--seeds-s1_5);
    margin-bottom: 0;

    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &:last-child {
      max-width: var(--seeds-s20);
    }
  }
}
