.email-address-field {
  display: flex;
  flex-direction: column;
  .label {
    order: 1;
  }
  .field-sub-note {
    color: var(--seeds-input-text-label-color);
    order: 2;
  }
  .control {
    order: 3;
  }
  .error-message {
    order: 4;
  }
}
