.email-address-field {
  display: flex;
  flex-direction: column;
  :global {
    .label {
      order: 1;
      padding: 0;
    }
    .field-sub-note {
      color: var(--seeds-input-text-label-color);
      order: 2;
    }
    .control {
      order: 3;
    }
    .error-message {
      order: 4;
    }
  }
}

.email-address-checkbox {
  label {
    color: var(--seeds-color-blue-500);
    font-weight: var(--seeds-font-weight-semibold) !important;
  }
}
