.step-footer {
  background-color: var(--seeds-color-primary-lighter);
  padding: var(--seeds-s8);
  display: flex;
  justify-content: center;
}

.step-title {
  margin: var(--seeds-s4);
  font-size: var(--seeds-type-heading-size-2xl-mobile);
  @media (min-width: theme("screens.md")) {
    font-size: var(--seeds-type-heading-size-2xl);
  }
  text-align: center;
}
