.application-form-section {
  background-color: var(--seeds-color-gray-300);
  @media (max-width: theme("screens.md")) {
    background-color: none;
  }
}

.application-form-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--seeds-s20);
  margin-top: var(--seeds-s12);
  max-width: var(--seeds-width-lg);
  @media (max-width: theme("screens.md")) {
    margin-top: 0;
    max-width: none;
  }
  @media print {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
  }
}

.application-form-header {
  margin-block: var(--seeds-s6);
  @media (max-width: theme("screens.md")) {
    margin-block: 0;
    border-radius: 0;
    border-bottom: none;
  }

  .application-form-header-heading {
    font-size: var(--seeds-type-heading-size-xl);
    color: var(--seeds-color-white);
    font-weight: var(--seeds-font-weight-bold);
    font-family: var(--seeds-font-alt-sans);
    text-align: center;
  }

  .application-form-header-title {
    background-color: var(--seeds-color-primary);
    padding-block: var(--seeds-s4);
    color: var(--seeds-color-white);
    --card-content-padding-inline: var(--seeds-s8);
    @media (max-width: theme("screens.md")) {
      --card-content-padding-inline: var(--seeds-s4);
    }
    text-transform: uppercase;
  }

  .application-form-nav {
    overflow: auto;
    padding: var(--seeds-s4) var(--seeds-s2) var(--seeds-s6);
    @media (max-width: theme("screens.md")) {
      background-color: var(--seeds-color-blue-100);
      padding: var(--seeds-s4) 0 var(--seeds-s6);
    }
    .progress-nav {
      width: 100%;
    }

    .progress-nav__item-container {
      padding-top: var(--seeds-s5);
      padding-left: var(--seeds-s2_5);
    }

    .progress-nav__dot-item {
      text-align: center;
      top: var(--seeds-s0_5);
      @media (max-width: theme("screens.md")) {
        font-size: var(--seeds-font-size-xs);
      }

      &:before {
        position: absolute;
        left: 50%;
        background-color: #99cd00;
        border: var(--seeds-border-1) solid #fff;
      }

      &:after {
        top: var(--seeds-s1_5);
        background-color: var(--seeds-color-gray-450);
      }

      &:first-of-type:after {
        left: 50%;
      }

      &:last-of-type:after {
        left: auto;
        right: 50%;
        z-index: 1;
      }

      &.is-active:before,
      &.is-disabled:before {
        width: var(--seeds-s2_5);
        height: var(--seeds-s2_5);
        top: var(--seeds-s0_5);
        background-color: var(--seeds-color-primary);
      }

      &.is-disabled:before {
        background-color: var(--seeds-color-gray-450);
      }

      &.is-active .progress-nav__item-container {
        color: var(--seeds-color-gray-850);
        font-weight: var(--seeds-font-weight-bold);
      }
    }
  }
}

.application-form-content-container {
  @media (max-width: theme("screens.md")) {
    border: none;
    border-radius: 0;
  }
}

.application-form-minimal-container {
  margin-top: var(--bloom-s12);
  margin-bottom: var(--bloom-s20);
  max-width: var(--bloom-width-2xl);
  margin-left: auto;
  margin-right: auto;

  @media (max-width: theme("screens.md")) {
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
  }
}
