.step-footer {
  background-color: var(--seeds-color-primary-lighter);
  padding: var(--seeds-s8);
  display: flex;
  justify-content: center;
}

.step-title {
  margin: 0 var(--seeds-s4) var(--seeds-s4);
  font-size: var(--seeds-type-heading-size-2xl-mobile);
  @media (min-width: theme("screens.md")) {
    font-size: var(--seeds-type-heading-size-2xl);
  }
  text-align: center;
}

.step-description {
  font-size: var(--seeds-font-size-md);
  color: var(--seeds-color-gray-950);
  margin-bottom: var(--seeds-s4);
  strong {
    font-weight: var(--seeds-font-weight-bold);
  }
}

.back-button {
  font-weight: var(--seeds-font-weight-bold) !important;
}
