.listing-priorities-checkbox-group {
  padding: 0 var(--seeds-s8);

  @media (max-width: theme("screens.md")) {
    padding-left: 0;
    padding-right: 0;
  }

  legend {
    font-weight: var(--seeds-font-weight-regular);
    color: var(--seeds-color-gray-750);
  }
}
