.addressSection {
  display: flex;
  padding: var(--seeds-spacer-content);
}

.addressRadio {
  margin-top: var(--seeds-spacer-text);
}

.addressContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--seeds-spacer-content);
}
