---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--QA.cs51.my.salesforce.com","id":"https://test.salesforce.com/id/00D4B000000D2n3UAC/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1502919545523","signature":"x1xQkG6U9/ywtmdTYODCyELh0whILemAHJ2HQcfVEs0="}'
  recorded_at: Wed, 16 Aug 2017 21:39:05 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs51.my.salesforce.com/services/apexrest/shortForm/a0o4B00000084XiQAI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D4B000000D2n3";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalMonthlyRent":0,"status":"Submitted","shortFormPreferences":[{"shortformPreferenceID":"a0z4B0000014WSgQAM","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l0P00001JEWvAQAX","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o4B00000084XiQAI","additionalDetails":null},{"shortformPreferenceID":"a0z4B0000014WShQAM","preferenceProof":null,"optOut":true,"naturalKey":null,"listingPreferenceID":"a0l0P00001JEWvFQAX","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o4B00000084XiQAI","additionalDetails":null},{"shortformPreferenceID":"a0z4B0000014WSiQAM","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l4B000000XjLNQA0","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o4B00000084XiQAI","additionalDetails":null},{"shortformPreferenceID":"a0z4B0000014WSjQAM","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l4B000000XjLSQA0","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o4B00000084XiQAI","additionalDetails":null},{"shortformPreferenceID":"a0z4B0000014WSkQAM","preferenceProof":null,"optOut":true,"naturalKey":null,"listingPreferenceID":"a0l4B000000XjLXQA0","ifCombinedIndividualPreference":"Assisted
        Housing","appMemberID":null,"applicationID":"a0o4B00000084XiQAI","additionalDetails":null}],"referral":"Newspaper","primaryApplicant":{"zip":"94114-2535","yCoordinate":"4545683.89149254","xCoordinate":"-13629293.1192439","workInSf":"true","whichComponentOfLocatorWasUsed":"EAS","webAppID":"1","state":"CA","sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":null,"race":null,"preferenceAddressMatch":"Not
        Matched","phoneType":"Home","phone":"2222222222","noPhone":false,"noEmail":false,"noAddress":false,"middleName":null,"mailingZip":"94114-2535","mailingState":"CA","mailingCity":"SAN
        FRANCISCO","mailingAddress":"4053 18TH ST","lastName":"Doe","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":null,"hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Jane","ethnicity":null,"email":"elvocgit@neb.la","DOB":"1990-02-22","contactId":"0034B00000Ml60KQAR","city":"SAN
        FRANCISCO","candidateScore":100,"appMemberType":"Primary Applicant","appMemberId":"a0n4B000000ywWSQAY","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":"4053
        18TH ST"},"name":"APP-00044481","monthlyIncome":null,"lotteryNumberManual":null,"lotteryNumber":"00044481","listingID":"a0W0P00000DZTkAUAX","id":"a0o4B00000084XiQAI","householdVouchersSubsidies":"true","householdMembers":[],"hasPublicHousing":"Yes","hasMilitaryService":null,"hasDevelopmentalDisability":null,"formMetadata":"{\"completedSections\":{\"Intro\":true,\"You\":true,\"Household\":true,\"Preferences\":true,\"Income\":true},\"session_uid\":\"5cf2d3e6-fc65-4a54-9b4f-26d84d145cc0-697e6796-348e-4a0f-82c6-4db9a66ab984\",\"groupedHouseholdAddresses\":[]}","appRTType":"Rental_Short_Form","applicationSubmittedDate":"2017-08-16","applicationSubmissionType":"Electronic","applicationLanguage":"English","answeredCommunityScreening":null,"annualIncome":25000.00,"alternateContact":null,"agreeToTerms":true,"adaPrioritiesSelected":"None"}'
  recorded_at: Wed, 16 Aug 2017 21:39:06 GMT
- request:
    method: post
    uri: https://sfhousing--qa.cs51.my.salesforce.com/services/apexrest/shortForm
    body:
      encoding: UTF-8
      string: '{"id":"a0o4B00000084XiQAI","primaryApplicant":{"phone":"2222222222","firstName":"Christine","lastName":"Dolendo","phoneType":"Home","alternatePhone":null,"alternatePhoneType":null,"gender":"Male","dob":"1990-2-2","contactId":"0030P00001y3eLHQAY","webAppID":1},"householdMembers":[{"firstName":"Obie","lastName":"Kanobi","relationship":"Spouse","dob":"1990-7-23"}],"listingID":"a0WU000000ClNXGMA3","referral":"","annualIncome":"20000","applicationSubmissionType":"Electronic","applicationSubmittedDate":"2016-09-07","status":"submitted"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message:[...]
