---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--exygy.cs14.my.salesforce.com","id":"https://test.salesforce.com/id/00Dc0000003kT9vEAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1504031124631","signature":"rasZwABSzLyVHBJUyRypWNIXZ1b1LlVOXKMrv7FqfSY="}'
  recorded_at: Tue, 29 Aug 2017 18:25:24 GMT
- request:
    method: get
    uri: https://sfhousing--exygy.cs14.my.salesforce.com/services/apexrest/shortForm/a0oc0000002XxVoAAK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00Dc0000003kT9v";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"worksInSfPreferenceID":null,"workInSfPreferenceProof":null,"workInSfPreferenceNatKey":null,"status":"Submitted","referral":null,"primaryApplicant":{"zip":"94110-3134","yCoordinate":"4544882.62165833","xCoordinate":"-13627512.3331392","workInSf":"false","whichComponentOfLocatorWasUsed":"EAS","webAppID":null,"state":"CA","sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":null,"race":null,"phoneType":"Work","phone":"9111338617","noPhone":false,"noEmail":false,"noAddress":false,"neighborhoodPreferenceMatch":"Not
        Matched","middleName":"Amos Wall","mailingZip":"94110-3134","mailingState":"CA","mailingCity":"SAN
        FRANCISCO","mailingAddress":"2601 MISSION ST STE 300","lastName":"Coffey","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":null,"hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Virginia","ethnicity":null,"email":"grant@exygy.com","DOB":"1973-11-07","contactId":"003c000000siUn4AAE","city":"SAN
        FRANCISCO","candidateScore":100,"appMemberType":"Primary Applicant","appMemberId":"a0nc0000005cIlEAAU","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":"2601
        MISSION ST STE 300"},"neighborhoodResidencePreferenceNatKey":null,"neighborhoodPreferenceProof":null,"neighborhoodPreferenceOptOut":false,"neighborhoodPreferenceID":null,"name":"APP-00094316","monthlyIncome":null,"lotteryNumberManual":null,"lotteryNumber":"00094316","liveWorkOptOut":true,"liveInSfPreferenceProof":null,"liveInSfPreferencePaper":false,"liveInSfPreferenceNatKey":null,"liveInSfPreferenceID":null,"listingID":"a0Wc00000064uY1EAI","id":"a0oc0000002XxVoAAK","householdVouchersSubsidies":"true","householdMembers":[],"formMetadata":"{\"completedSections\":{\"Intro\":true,\"You\":true,\"Household\":true,\"Preferences\":true,\"Income\":true},\"session_uid\":\"cbb9045e-7f97-4757-a62c-44b6283326f5-20b0cb0c-bcaf-4d3c-8484-44c56fd54e3e\"}","displacedPreferenceOptOut":false,"displacedPreferenceNatKey":null,"displacedPreferenceID":null,"certOfPreferenceOptOut":false,"certOfPreferenceNatKey":null,"certOfPreferenceID":null,"applicationSubmittedDate":"2017-08-29","applicationSubmissionType":"Electronic","applicationLanguage":"English","annualIncome":12345.00,"alternateContact":null,"agreeToTerms":true}'
  recorded_at: Tue, 29 Aug 2017 18:25:25 GMT
- request:
    method: post
    uri: https://sfhousing--exygy.cs14.my.salesforce.com/services/apexrest/shortForm
    body:
      encoding: UTF-8
      string: '{"id":"a0oc0000002XxVoAAK","primaryApplicant":{"phone":"2222222222","firstName":"Christine","lastName":"Dolendo","phoneType":"Home","alternatePhone":null,"alternatePhoneType":null,"gender":"Male","dob":"1990-2-2","contactId":"003c000000sTFS9AAO","webAppID":1},"householdMembers":[{"firstName":"Obie","lastName":"Kanobi","relationship":"Spouse","dob":"1990-7-23"}],"listingID":"a0Wc00000064uY1EAI","referral":"","annualIncome":"20000","applicationSubmissionType":"Electronic","applicationSubmittedDate":"2016-09-07","status":"submitted"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message:[...]
