---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--exygy.cs14.my.salesforce.com","id":"https://test.salesforce.com/id/00Dc0000003kT9vEAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1504030372068","signature":"kNfwG0zWRgETrLvbmnPUTsMAS2+8bA44S4ZJCWeFI/8="}'
  recorded_at: Tue, 29 Aug 2017 18:12:52 GMT
- request:
    method: get
    uri: https://sfhousing--exygy.cs14.my.salesforce.com/services/apexrest/shortForm/a0oc0000002XxW3AAK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00Dc0000003kT9v";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"worksInSfPreferenceID":null,"workInSfPreferenceProof":null,"workInSfPreferenceNatKey":null,"status":"Draft","referral":null,"primaryApplicant":{"zip":"94110-3134","yCoordinate":null,"xCoordinate":null,"workInSf":"true","whichComponentOfLocatorWasUsed":null,"webAppID":"1","state":"CA","sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":null,"race":null,"phoneType":"Cell","phone":"2872424629","noPhone":false,"noEmail":false,"noAddress":false,"neighborhoodPreferenceMatch":null,"middleName":null,"mailingZip":"94110-3134","mailingState":"CA","mailingCity":"SAN
        FRANCISCO","mailingAddress":"2601 MISSION ST STE 300","lastName":"Dolendo","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":null,"hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Christine","ethnicity":null,"email":null,"DOB":"1990-02-02","contactId":"003c000000sTFS9AAO","city":"SAN
        FRANCISCO","candidateScore":null,"appMemberType":"Primary Applicant","appMemberId":"a0nc0000005cIlPAAU","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":"2601
        MISSION ST STE 300"},"neighborhoodResidencePreferenceNatKey":null,"neighborhoodPreferenceProof":null,"neighborhoodPreferenceOptOut":false,"neighborhoodPreferenceID":null,"name":"APP-00094317","monthlyIncome":null,"lotteryNumberManual":null,"lotteryNumber":"00094317","liveWorkOptOut":false,"liveInSfPreferenceProof":null,"liveInSfPreferencePaper":false,"liveInSfPreferenceNatKey":null,"liveInSfPreferenceID":null,"listingID":"a0Wc00000064uY1EAI","id":"a0oc0000002XxW3AAK","householdVouchersSubsidies":"true","householdMembers":[{"zip":null,"yCoordinate":null,"xCoordinate":null,"workInSf":"false","whichComponentOfLocatorWasUsed":null,"webAppID":null,"state":null,"sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":"Spouse","race":null,"phoneType":null,"phone":null,"noPhone":false,"noEmail":false,"noAddress":false,"neighborhoodPreferenceMatch":null,"middleName":"Whoopi
        Woodward","mailingZip":null,"mailingState":null,"mailingCity":null,"mailingAddress":null,"lastName":"Langley","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":"true","hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Marshall","ethnicity":null,"email":null,"DOB":"2013-09-09","contactId":null,"city":null,"candidateScore":null,"appMemberType":"Household
        Member","appMemberId":"a0nc0000005cIlOAAU","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":null}],"formMetadata":"{\"completedSections\":{\"Intro\":true,\"You\":false,\"Household\":false,\"Preferences\":false,\"Income\":false},\"session_uid\":\"a39726e0-1c0c-4012-b5b3-5e3d27ac1ee0-bb4d01d5-3709-496e-bf7f-52c37fb79e2c\"}","displacedPreferenceOptOut":false,"displacedPreferenceNatKey":null,"displacedPreferenceID":null,"certOfPreferenceOptOut":false,"certOfPreferenceNatKey":null,"certOfPreferenceID":null,"applicationSubmittedDate":"2017-08-29","applicationSubmissionType":"Electronic","applicationLanguage":"English","annualIncome":123456.00,"alternateContact":null,"agreeToTerms":false}'
  recorded_at: Tue, 29 Aug 2017 18:12:52 GMT
- request:
    method: delete
    uri: https://sfhousing--exygy.cs14.my.salesforce.com/services/apexrest/shortForm/delete/a0oc0000002XxW3AAK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00Dc0000003kT9v";
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 29 Aug 2017 18:12:54 GMT
recorded_with: VCR 3.0.3
