---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--QA.cs51.my.salesforce.com","id":"https://test.salesforce.com/id/00D4B000000D2n3UAC/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1502917524342","signature":"rET192SUfpehQX96iqr9IGjqLmhvPYXtLr8OvupU5HQ="}'
  recorded_at: Wed, 16 Aug 2017 21:05:24 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs51.my.salesforce.com/services/apexrest/shortForm/a0o4B00000084Xn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D4B000000D2n3";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalMonthlyRent":4000,"status":"Submitted","shortFormPreferences":[{"shortformPreferenceID":"a0z4B0000014WSlQAM","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l0P00001JEWvAQAX","ifCombinedIndividualPreference":null,"appMemberID":"a0n4B000000ywWZQAY","applicationID":"a0o4B00000084XnQAI","additionalDetails":null},{"shortformPreferenceID":"a0z4B0000014WSmQAM","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l0P00001JEWvFQAX","ifCombinedIndividualPreference":"Live
        in SF","appMemberID":"a0n4B000000ywWZQAY","applicationID":"a0o4B00000084XnQAI","additionalDetails":null},{"shortformPreferenceID":"a0z4B0000014WSnQAM","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l4B000000XjLNQA0","ifCombinedIndividualPreference":null,"appMemberID":"a0n4B000000ywWXQAY","applicationID":"a0o4B00000084XnQAI","additionalDetails":null},{"shortformPreferenceID":"a0z4B0000014WSoQAM","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l4B000000XjLSQA0","ifCombinedIndividualPreference":null,"appMemberID":"a0n4B000000ywWZQAY","applicationID":"a0o4B00000084XnQAI","additionalDetails":null},{"shortformPreferenceID":"a0z4B0000014WSpQAM","preferenceProof":"Lease
        and rent proof","optOut":false,"naturalKey":null,"listingPreferenceID":"a0l4B000000XjLXQA0","ifCombinedIndividualPreference":"Rent
        Burdened","appMemberID":"a0n4B000000ywWZQAY","applicationID":"a0o4B00000084XnQAI","additionalDetails":null}],"referral":null,"primaryApplicant":{"zip":"94103-4463","yCoordinate":"4547486.54834434","xCoordinate":"-13626517.2841011","workInSf":"true","whichComponentOfLocatorWasUsed":"EAS","webAppID":"2","state":"CA","sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":null,"race":null,"preferenceAddressMatch":"Matched","phoneType":"Home","phone":"2222222222","noPhone":false,"noEmail":false,"noAddress":false,"middleName":"Valerie","mailingZip":"94920","mailingState":"CA","mailingCity":"Tiburon","mailingAddress":"1651
        Tiburon Blvd","lastName":"Doe","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":null,"hasAltMailingAddress":true,"genderOther":null,"gender":null,"firstName":"Jane","ethnicity":null,"email":"ce@wuj.om","DOB":"1990-02-22","contactId":"0034B00000Ml60PQAR","city":"SAN
        FRANCISCO","candidateScore":100,"appMemberType":"Primary Applicant","appMemberId":"a0n4B000000ywWZQAY","alternatePhoneType":"Cell","alternatePhone":"5551111111","alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":"1222
        HARRISON ST # 100"},"name":"APP-00044482","monthlyIncome":null,"lotteryNumberManual":null,"lotteryNumber":"00044482","listingID":"a0W0P00000DZTkAUAX","id":"a0o4B00000084XnQAI","householdVouchersSubsidies":"false","householdMembers":[{"zip":null,"yCoordinate":null,"xCoordinate":null,"workInSf":"false","whichComponentOfLocatorWasUsed":null,"webAppID":null,"state":null,"sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":"Cousin","race":null,"preferenceAddressMatch":"Matched","phoneType":null,"phone":null,"noPhone":false,"noEmail":false,"noAddress":false,"middleName":null,"mailingZip":null,"mailingState":null,"mailingCity":null,"mailingAddress":null,"lastName":"Francis","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":"true","hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Coleman","ethnicity":null,"email":null,"DOB":"1985-10-15","contactId":null,"city":null,"candidateScore":null,"appMemberType":"Household
        Member","appMemberId":"a0n4B000000ywWXQAY","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":null}],"hasPublicHousing":"No","hasMilitaryService":null,"hasDevelopmentalDisability":null,"formMetadata":"{\"completedSections\":{\"Intro\":true,\"You\":true,\"Household\":true,\"Preferences\":true,\"Income\":true},\"session_uid\":\"3fb485cf-d1a2-4a0c-a8ee-bd0cd1ae2cd7-17f8a329-90ae-4ea6-8257-a9b94fef2dd9\",\"groupedHouseholdAddresses\":[{\"address\":\"1222
        HARRISON ST # 100\",\"members\":[{\"fullName\":\"Jane Doe (You)\",\"firstName\":\"You\"},{\"fullName\":\"Coleman
        Francis\",\"firstName\":\"Coleman\"}],\"monthlyRent\":4000}]}","appRTType":"Rental_Short_Form","applicationSubmittedDate":"2017-08-16","applicationSubmissionType":"Electronic","applicationLanguage":"English","answeredCommunityScreening":null,"annualIncome":72000.00,"alternateContact":{"zip":null,"yCoordinate":null,"xCoordinate":null,"workInSf":null,"whichComponentOfLocatorWasUsed":null,"webAppID":null,"state":null,"sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":null,"race":null,"preferenceAddressMatch":null,"phoneType":null,"phone":"1231231234","noPhone":false,"noEmail":false,"noAddress":false,"middleName":null,"mailingZip":"94110","mailingState":"CA","mailingCity":"San
        Francisco","mailingAddress":"100 Van Ness Ave","lastName":"Freud","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":null,"hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Sigmund","ethnicity":null,"email":"siggy@psych.com","DOB":null,"contactId":null,"city":null,"candidateScore":null,"appMemberType":"Alternate
        Contact","appMemberId":"a0n4B000000ywWYQAY","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":"Psychiatrist","alternateContactType":"Other","agency":null,"address":null},"agreeToTerms":true,"adaPrioritiesSelected":"Vision
        impaired;Mobility impaired"}'
  recorded_at: Wed, 16 Aug 2017 21:05:24 GMT
- request:
    method: delete
    uri: https://sfhousing--qa.cs51.my.salesforce.com/services/apexrest/shortForm/delete/a0o4B00000084Xn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D4B000000D2n3";
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 16 Aug 2017 21:05:30 GMT
recorded_with: VCR 3.0.3
