---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs95.my.salesforce.com","id":"https://test.salesforce.com/id/00D0x0000008ja8EAA/0050P000007QAY9QAO","token_type":"Bearer","issued_at":"1513193009063","signature":"1XG7iKsO2wX79Xapj1wwU24MIdXMbMpmHViBp5bsoxY="}'
  recorded_at: Wed, 13 Dec 2017 19:23:29 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs95.my.salesforce.com/services/apexrest/shortForm/a0o0x0000000a8Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0x0000008ja8";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalMonthlyRent":null,"status":"Draft","shortFormPreferences":[{"shortformPreferenceID":"a0w0x0000002MxqAAE","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l0P00001JEWvAQAX","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o0x0000000a8YAAQ","additionalDetails":null},{"shortformPreferenceID":"a0w0x0000002MxrAAE","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l0P00001JEWvFQAX","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o0x0000000a8YAAQ","additionalDetails":null},{"shortformPreferenceID":"a0w0x0000002MxsAAE","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l0x0000009l4GAAQ","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o0x0000000a8YAAQ","additionalDetails":null},{"shortformPreferenceID":"a0w0x0000002MxtAAE","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l0x0000009l4LAAQ","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o0x0000000a8YAAQ","additionalDetails":null},{"shortformPreferenceID":"a0w0x0000002MxuAAE","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l0x0000009l4QAAQ","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o0x0000000a8YAAQ","additionalDetails":null}],"referral":null,"primaryApplicant":{"zip":"94131-1182","yCoordinate":null,"xCoordinate":null,"workInSf":"true","whichComponentOfLocatorWasUsed":null,"webAppID":"3381","state":"CA","sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":null,"race":null,"preferenceAddressMatch":null,"phoneType":"Cell","phone":"4153416545","noPhone":false,"noEmail":false,"noAddress":false,"middleName":null,"mailingZip":"94131-1182","mailingState":"CA","mailingCity":"SAN
        FRANCISCO","mailingAddress":"90 BEHR AVE APT 204","lastName":"Taghizadeh Jorshary","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":null,"hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Rezvan","ethnicity":null,"email":"rjorshary@gmail.com","DOB":"1973-08-11","contactId":"0030P000020be4yQAA","city":"SAN
        FRANCISCO","candidateScore":null,"appMemberType":"Primary Applicant","appMemberId":"a0n0P00000AwpKwQAJ","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":"90
        BEHR AVE APT 204"},"name":"APP-00140374","monthlyIncome":null,"lotteryNumberManual":null,"lotteryNumber":"00140374","listingID":"a0W0P00000DZTkAUAX","id":"a0o0x0000000a8YAAQ","householdVouchersSubsidies":null,"householdMembers":[],"hasPublicHousing":null,"hasMilitaryService":null,"hasDevelopmentalDisability":null,"formMetadata":null,"appRTType":"Rental_Short_Form","applicationSubmittedDate":"2017-03-02","applicationSubmissionType":"Electronic","applicationLanguage":"English","answeredCommunityScreening":null,"annualIncome":null,"alternateContact":null,"agreeToTerms":false,"adaPrioritiesSelected":null}'
  recorded_at: Wed, 13 Dec 2017 19:23:29 GMT
- request:
    method: delete
    uri: https://sfhousing--full.cs95.my.salesforce.com/services/apexrest/shortForm/delete/a0o0x0000000a8Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0x0000008ja8";
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Dec 2017 19:23:30 GMT
recorded_with: VCR 3.0.3
