---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"<<SALESFORCE_INSTANCE_URL>>","id":"https://test.salesforce.com/id/00D0t0000000xVqEAI/0050P000007QAY9QAO","token_type":"Bearer","issued_at":"1560383190038","signature":"VmPiGaxMXIU//KTteBlS/i+nwuKNJN6ZJzS/nA8JmGc="}'
  recorded_at: Wed, 12 Jun 2019 23:46:30 GMT
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/apexrest/services/apexrest/agents/"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D0t0000000xVqm";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"attributes":{"type":"Account","url":"/services/data/v45.0/sobjects/Account/001U000001ZPqgcIAD"},"Name":"Best
        Capital Funding","Id":"001U000001ZPqgcIAD","RecordTypeId":"012U0000000A9j7IAC","Contacts":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v45.0/sobjects/Contact/003U000001WpAnEIAV"},"AccountId":"001U000001ZPqgcIAD","Id":"003U000001WpAnEIAV","FirstName":"Kevin","LastName":"Brindley","Email":"kevin@myhomegateway.com","NMLS__c":"353910","BMR_Certified__c":false,"DALP_Certified__c":false,"MCC_Certified__c":false,"Accepting_New_MOHCD_Clients__c":false,"RecordTypeId":"012U0000000A9jKIAS"}]}},{"attributes":{"type":"Account","url":"/services/data/v45.0/sobjects/Account/001U000001ZPqgmIAD"},"Name":"Boston
        Private Bank & Trust Co.","Id":"001U000001ZPqgmIAD","RecordTypeId":"012U0000000A9j7IAC","Contacts":{"totalSize":8,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v45.0/sobjects/Contact/003U000001p3AjVIAU"},"AccountId":"001U000001ZPqgmIAD","Id":"003U000001p3AjVIAU","FirstName":"Josie","LastName":"Ramirez[...]
