---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs25.my.salesforce.com","id":"https://test.salesforce.com/id/00D1b0000000hVgEAI/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1502906913263","signature":"Zhe4Oa+KK5jQRDFkPSuwbNSzGUnMTSE+EqIMsGHC7DE="}'
  recorded_at: Wed, 16 Aug 2017 18:08:32 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs25.my.salesforce.com/services/apexrest/shortForm/a0o1b0000001UhnAAE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D1b0000000hVg";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalMonthlyRent":null,"status":"Submitted","shortFormPreferences":[{"shortformPreferenceID":"a0w1b000000W5BPAA0","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l0P00001JEWvAQAX","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o1b0000001UhnAAE","additionalDetails":null},{"shortformPreferenceID":"a0w1b000000W5BQAA0","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l0P00001JEWvFQAX","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o1b0000001UhnAAE","additionalDetails":null},{"shortformPreferenceID":"a0w1b000000W5BRAA0","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l1b000000AjIjAAK","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o1b0000001UhnAAE","additionalDetails":null},{"shortformPreferenceID":"a0w1b000000W5BSAA0","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l1b000000AkWBAA0","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o1b0000001UhnAAE","additionalDetails":null}],"referral":"Newspaper","primaryApplicant":{"zip":"94114-2535","yCoordinate":"4545683.89149254","xCoordinate":"-13629293.1192439","workInSf":"true","whichComponentOfLocatorWasUsed":"EAS","webAppID":"1","state":"CA","sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":null,"race":null,"preferenceAddressMatch":null,"phoneType":"Home","phone":"2222222222","noPhone":false,"noEmail":false,"noAddress":false,"middleName":null,"mailingZip":"94114-2535","mailingState":"CA","mailingCity":"SAN
        FRANCISCO","mailingAddress":"4053 18TH ST","lastName":"Doe","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":null,"hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Jane","ethnicity":null,"email":"adowe@pa.gf","DOB":"1990-02-22","contactId":"0031b0000094DHgAAM","city":"SAN
        FRANCISCO","candidateScore":100,"appMemberType":"Primary Applicant","appMemberId":"a0n1b000000R6Y5AAK","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":"4053
        18TH ST"},"name":"APP-00092519","monthlyIncome":null,"lotteryNumberManual":null,"lotteryNumber":"00092519","listingID":"a0W0P00000DZTkAUAX","id":"a0o1b0000001UhnAAE","householdVouchersSubsidies":"true","householdMembers":[],"hasPublicHousing":null,"hasMilitaryService":null,"hasDevelopmentalDisability":null,"formMetadata":"{\"completedSections\":{\"Intro\":true,\"You\":true,\"Household\":true,\"Preferences\":true,\"Income\":true},\"session_uid\":\"8c492a41-c7d5-47bf-b4de-a33ae4986a39-567b7098-c2cf-4126-9166-58702bda2c88\"}","appRTType":"Rental_Short_Form","applicationSubmittedDate":"2017-08-16","applicationSubmissionType":"Electronic","applicationLanguage":"English","answeredCommunityScreening":null,"annualIncome":25000.00,"alternateContact":null,"agreeToTerms":true,"adaPrioritiesSelected":null}'
  recorded_at: Wed, 16 Aug 2017 18:08:33 GMT
recorded_with: VCR 3.0.3
