---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs96.my.salesforce.com","id":"https://test.salesforce.com/id/00D1g0000004c5rEAA/0050P000007QAY9QAO","token_type":"Bearer","issued_at":"1519779610958","signature":"wzso2pLyG9Xygrf8oAsnzmK/dvFRZqeWjr2/PHMC5q0="}'
  recorded_at: Wed, 28 Feb 2018 01:00:11 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs96.my.salesforce.com/services/apexrest/shortForm/a0o0P00000FEUwC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D1g0000004c5rp";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalMonthlyRent":null,"status":"Submitted","shortFormPreferences":[{"shortformPreferenceID":"a0w0P00000MPK72QAH","requiresProof":false,"recordTypeDevName":"COP","preferenceProof":null,"optOut":false,"naturalKey":null,"lwPreferenceProof":null,"listingPreferenceID":"a0l0P00001JEWvAQAX","individualPreference":null,"certificateNumber":null,"appMemberID":null,"applicationID":"a0o0P00000FEUwCQAX"},{"shortformPreferenceID":"a0w0P00000MPK9yQAH","requiresProof":false,"recordTypeDevName":"L_W","preferenceProof":null,"optOut":false,"naturalKey":null,"lwPreferenceProof":null,"listingPreferenceID":"a0l0P00001JEWvFQAX","individualPreference":"Work
        in SF","certificateNumber":null,"appMemberID":"a0n0P00000AwpIPQAZ","applicationID":"a0o0P00000FEUwCQAX"}],"referral":"Email
        Alert","primaryApplicant":{"zip":"94579-1542","yCoordinate":null,"xCoordinate":null,"workInSf":"true","whichComponentOfLocatorWasUsed":null,"webAppID":null,"state":"CA","sexualOrientationOther":null,"sexualOrientation":"Straight/Heterosexual","sexAtBirth":null,"relationship":null,"race":null,"preferenceAddressMatch":null,"phoneType":"Cell","phone":"4154848715","noPhone":false,"noEmail":false,"noAddress":false,"middleName":null,"mailingZip":"94579-1542","mailingState":"CA","mailingCity":"SAN
        LEANDRO","mailingAddress":"1476 TROJAN AVE","lastName":"Alvarado","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":null,"hasAltMailingAddress":false,"genderOther":null,"gender":"Male","firstName":"Miguel","ethnicity":"Hispanic/Latino","email":"imogul@gmail.com","DOB":"1976-10-05","contactId":"0030P000020bdvhQAA","city":"SAN
        LEANDRO","candidateScore":null,"appMemberType":"Primary Applicant","appMemberId":"a0n0P00000AwpIPQAZ","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":"1476
        TROJAN AVE"},"name":"APP-00038757","monthlyIncome":null,"lotteryNumberManual":null,"lotteryNumber":"00038757","listingID":"a0W0P00000DZTkAUAX","id":"a0o0P00000FEUwCQAX","householdVouchersSubsidies":"false","householdMembers":[],"hasPublicHousing":null,"hasMilitaryService":null,"hasDevelopmentalDisability":null,"formMetadata":"{\"completedSections\":{\"Intro\":true,\"You\":true,\"Household\":true,\"Preferences\":true,\"Income\":true}}","externalSessionId":"","appRTType":"Rental_Short_Form","applicationSubmittedDate":"2017-03-02","applicationSubmissionType":"Electronic","applicationLanguage":"English","answeredCommunityScreening":null,"annualIncome":75000.00,"alternateContact":null,"agreeToTerms":true,"adaPrioritiesSelected":null}'
  recorded_at: Wed, 28 Feb 2018 01:00:11 GMT
recorded_with: VCR 3.0.3
