---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--exygy.cs14.my.salesforce.com","id":"https://test.salesforce.com/id/00Dc0000003kT9vEAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1504030370546","signature":"r9vishYt4u9UPeKL7Bbt9HgQCIxFzX0Pfd+wQAyk5w8="}'
  recorded_at: Tue, 29 Aug 2017 18:12:50 GMT
- request:
    method: get
    uri: https://sfhousing--exygy.cs14.my.salesforce.com/services/apexrest/shortForm/a0oc0000002XxNfAAK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00Dc0000003kT9v";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"worksInSfPreferenceID":null,"workInSfPreferenceProof":null,"workInSfPreferenceNatKey":null,"status":"Submitted","referral":null,"primaryApplicant":{"zip":"94110-3134","yCoordinate":"4544882.62165833","xCoordinate":"-13627512.3331392","workInSf":"true","whichComponentOfLocatorWasUsed":"EAS","webAppID":"1","state":"CA","sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":null,"race":null,"phoneType":"Cell","phone":"2872424629","noPhone":false,"noEmail":false,"noAddress":false,"neighborhoodPreferenceMatch":"Not
        Matched","middleName":null,"mailingZip":"94110-3134","mailingState":"CA","mailingCity":"SAN
        FRANCISCO","mailingAddress":"2601 MISSION ST STE 300","lastName":"Kinney","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":null,"hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Grant","ethnicity":null,"email":"grant@exygy.com","DOB":"1979-01-01","contactId":"003c000000sTFS9AAO","city":"SAN
        FRANCISCO","candidateScore":100,"appMemberType":"Primary Applicant","appMemberId":"a0nc0000005cIchAAE","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":"2601
        MISSION ST STE 300"},"neighborhoodResidencePreferenceNatKey":null,"neighborhoodPreferenceProof":null,"neighborhoodPreferenceOptOut":false,"neighborhoodPreferenceID":null,"name":"APP-00094309","monthlyIncome":null,"lotteryNumberManual":null,"lotteryNumber":"00094309","liveWorkOptOut":false,"liveInSfPreferenceProof":null,"liveInSfPreferencePaper":false,"liveInSfPreferenceNatKey":null,"liveInSfPreferenceID":"a0nc0000005cIchAAE","listingID":"a0Wc00000064uY0EAI","id":"a0oc0000002XxNfAAK","householdVouchersSubsidies":"true","householdMembers":[{"zip":null,"yCoordinate":null,"xCoordinate":null,"workInSf":"false","whichComponentOfLocatorWasUsed":null,"webAppID":null,"state":null,"sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":"Spouse","race":null,"phoneType":null,"phone":null,"noPhone":false,"noEmail":false,"noAddress":false,"neighborhoodPreferenceMatch":"Not
        Matched","middleName":"Whoopi Woodward","mailingZip":null,"mailingState":null,"mailingCity":null,"mailingAddress":null,"lastName":"Langley","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":"true","hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Marshall","ethnicity":null,"email":null,"DOB":"2013-09-09","contactId":null,"city":null,"candidateScore":null,"appMemberType":"Household
        Member","appMemberId":"a0nc0000005cIcgAAE","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":null}],"formMetadata":"{\"completedSections\":{\"Intro\":true,\"You\":true,\"Household\":true,\"Preferences\":true,\"Income\":true},\"session_uid\":\"d0cb53ca-bf7b-4a4f-a1eb-ea591ed5c8b2-d09b9f16-1e23-4b3f-9261-4a80334a92f8\"}","displacedPreferenceOptOut":false,"displacedPreferenceNatKey":null,"displacedPreferenceID":null,"certOfPreferenceOptOut":false,"certOfPreferenceNatKey":null,"certOfPreferenceID":"a0nc0000005cIcgAAE","applicationSubmittedDate":"2017-08-29","applicationSubmissionType":"Electronic","applicationLanguage":"English","annualIncome":123456.00,"alternateContact":null,"agreeToTerms":true}'
  recorded_at: Tue, 29 Aug 2017 18:12:51 GMT
recorded_with: VCR 3.0.3
