---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs66.my.salesforce.com","id":"https://test.salesforce.com/id/00D1b0000000hVgEAI/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1503786232435","signature":"eNs58YvYP4msce9trwseiGIFYt63wxOAYD/ImtFraXM="}'
  recorded_at: Sat, 26 Aug 2017 22:23:52 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs66.my.salesforce.com/services/apexrest/shortForm/a0o1b0000006S80
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D1b0000000hVg";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalMonthlyRent":0,"status":"Submitted","shortFormPreferences":[{"shortformPreferenceID":"a0w1b000000RPTcAAO","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l0P00001JEWvAQAX","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o1b0000006S80AAE","additionalDetails":null},{"shortformPreferenceID":"a0w1b000000RPTdAAO","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l1b000000AjIjAAK","ifCombinedIndividualPreference":null,"appMemberID":"a0n1b000000n7N2AAI","applicationID":"a0o1b0000006S80AAE","additionalDetails":null},{"shortformPreferenceID":"a0w1b000000RPTeAAO","preferenceProof":"Lease","optOut":false,"naturalKey":null,"listingPreferenceID":"a0l0P00001JEWvFQAX","ifCombinedIndividualPreference":"Work
        in SF","appMemberID":"a0n1b000000n7N4AAI","applicationID":"a0o1b0000006S80AAE","additionalDetails":null},{"shortformPreferenceID":"a0w1b000000RPTfAAO","preferenceProof":null,"optOut":false,"naturalKey":null,"listingPreferenceID":"a0l1b000000AkWBAA0","ifCombinedIndividualPreference":null,"appMemberID":null,"applicationID":"a0o1b0000006S80AAE","additionalDetails":null}],"referral":null,"primaryApplicant":{"zip":"94110-3134","yCoordinate":"4544882.62165833","xCoordinate":"-13627512.3331392","workInSf":"true","whichComponentOfLocatorWasUsed":"EAS","webAppID":"1","state":"CA","sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":null,"race":null,"preferenceAddressMatch":"Not
        Matched","phoneType":"Cell","phone":"7366439356","noPhone":false,"noEmail":false,"noAddress":false,"middleName":null,"mailingZip":"94110-3134","mailingState":"CA","mailingCity":"SAN
        FRANCISCO","mailingAddress":"2601 MISSION ST STE 300","lastName":"Kinney","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":null,"hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Grant","ethnicity":null,"email":"grant@exygy.com","DOB":"1979-01-01","contactId":"0030P00001y3eLHQAY","city":"SAN
        FRANCISCO","candidateScore":100,"appMemberType":"Primary Applicant","appMemberId":"a0n1b000000n7N4AAI","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":"2601
        MISSION ST STE 300"},"name":"APP-00092642","monthlyIncome":null,"lotteryNumberManual":null,"lotteryNumber":"00092642","listingID":"a0W0P00000DZTkAUAX","id":"a0o1b0000006S80AAE","householdVouchersSubsidies":"true","householdMembers":[{"zip":null,"yCoordinate":null,"xCoordinate":null,"workInSf":"true","whichComponentOfLocatorWasUsed":null,"webAppID":null,"state":null,"sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":"Great
        Grandparent","race":null,"preferenceAddressMatch":"Not Matched","phoneType":null,"phone":null,"noPhone":false,"noEmail":false,"noAddress":false,"middleName":"Georgia
        Hess","mailingZip":null,"mailingState":null,"mailingCity":null,"mailingAddress":null,"lastName":"Drake","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":"true","hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Glenna","ethnicity":null,"email":null,"DOB":"2000-02-28","contactId":null,"city":null,"candidateScore":null,"appMemberType":"Household
        Member","appMemberId":"a0n1b000000n7N2AAI","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":null}],"hasPublicHousing":null,"hasMilitaryService":null,"hasDevelopmentalDisability":null,"formMetadata":"{\"completedSections\":{\"Intro\":true,\"You\":true,\"Household\":true,\"Preferences\":true,\"Income\":true},\"session_uid\":\"03626956-7572-46e0-be3f-148dd0037f9b-99d1ebe7-e0ba-4a7b-a657-8b12958514d2\",\"groupedHouseholdAddresses\":[]}","appRTType":"Rental_Short_Form","applicationSubmittedDate":"2017-08-26","applicationSubmissionType":"Electronic","applicationLanguage":"English","answeredCommunityScreening":null,"annualIncome":123456.00,"alternateContact":{"zip":null,"yCoordinate":null,"xCoordinate":null,"workInSf":null,"whichComponentOfLocatorWasUsed":null,"webAppID":null,"state":null,"sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":null,"race":null,"preferenceAddressMatch":null,"phoneType":null,"phone":"6375780850","noPhone":false,"noEmail":false,"noAddress":false,"middleName":null,"mailingZip":"73025","mailingState":"MA","mailingCity":"Stewart
        Shields","mailingAddress":"491 Milton Avenue","lastName":"Rice","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":null,"hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Kevin","ethnicity":null,"email":"vado@hotmail.com","DOB":null,"contactId":null,"city":null,"candidateScore":null,"appMemberType":"Alternate
        Contact","appMemberId":"a0n1b000000n7N3AAI","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":"Family
        Member","agency":null,"address":null},"agreeToTerms":true,"adaPrioritiesSelected":"Vision
        impaired;Hearing impaired"}'
  recorded_at: Sat, 26 Aug 2017 22:23:53 GMT
recorded_with: VCR 3.0.3
