---
http_interactions:
- request:
    method: get
    uri: https://sfhousing--full.cs97.my.salesforce.com/services/apexrest/shortForm/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0U0000000Qf1m";
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 Jul 2018 22:59:10 GMT
- request:
    method: post
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/oauth2/token"
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"<<SALESFORCE_INSTANCE_URL>>","id":"https://test.salesforce.com/id/00D8H0000004dNlUAI/0050P000007QAY9QAO","token_type":"Bearer","issued_at":"1680190507242","signature":"4zTPQ6zUaoXMps74zNOQPfhEZ8VmV2HY5Y6M/3AzkMY="}'
  recorded_at: Thu, 30 Mar 2023 15:35:07 GMT
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/apexrest/shortForm/a0o1F000001nzgeQAA"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 30 Mar 2023 15:35:07 GMT
recorded_with: VCR 6.1.0
