---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQKR831US31L5ToOchEZJlVtHjdjGRyDvEmOQ0n2IEdVaYoELdzHCYGkhERBYKhKGqHnxRjq48qeC2UTbZLHTpF5iLOFs","instance_url":"https://sfhousing--full.cs26.my.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1465936762367","signature":"AIGWI+UpM7nvViZxWr+nRSfzznnatoPp6sBeOnhhs7U="}'
  recorded_at: Tue, 14 Jun 2016 20:39:22 GMT
- request:
    method: get
    uri: https://cs26.salesforce.com/services/apexrest/EligibilityCheck/a0X210000000IMMEA2?householdsize=10&incomelevel=10000.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQKR831US31L5ToOchEZJlVtHjdjGRyDvEmOQ0n2IEdVaYoELdzHCYGkhERBYKhKGqHnxRjq48qeC2UTbZLHTpF5iLOFs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"listingId":"a0X210000000IMMEA2","incomeMatch":false,"incomeEligibilityResult":"too
        low","householdMatch":false,"householdEligibilityResult":"too big"}'
  recorded_at: Tue, 14 Jun 2016 20:39:22 GMT
recorded_with: VCR 3.0.1
