---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs25.my.salesforce.com","id":"https://test.salesforce.com/id/00D1b0000000hVgEAI/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1503784440616","signature":"t7d0j0Jsiqm6NtflUc63GfXMdRrTANthsUM//Fg0u2w="}'
  recorded_at: Sat, 26 Aug 2017 21:54:00 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs25.my.salesforce.com/services/apexrest/Listing/EligibilityCheck/a0W0P00000DZTkAUAX?childrenUnder6=0&householdsize=2&incomelevel=40000.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D1b0000000hVg";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"listingId":"a0W0P00000DZTkAUAX","incomeMatch":false,"incomeEligibilityResult":"Too
        Low","householdMatch":true,"householdEligibilityResult":"Match"}'
  recorded_at: Sat, 26 Aug 2017 21:54:01 GMT
recorded_with: VCR 3.0.3
