---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--exygy.cs14.my.salesforce.com","id":"https://test.salesforce.com/id/00Dc0000003kT9vEAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1504030366992","signature":"p0GGFXHm8nGtPUMP5XjNTupFhs+0lyryvyWtCEBlsX4="}'
  recorded_at: Tue, 29 Aug 2017 18:12:47 GMT
- request:
    method: get
    uri: https://sfhousing--exygy.cs14.my.salesforce.com/services/apexrest/Listing/EligibilityCheck/a0Wc00000064uY0EAI?childrenUnder6=0&householdsize=10&incomelevel=10000.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00Dc0000003kT9v";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"listingId":"a0Wc00000064uY0EAI","incomeMatch":false,"incomeEligibilityResult":"Too
        Low","householdMatch":false,"householdEligibilityResult":"Too Big"}'
  recorded_at: Tue, 29 Aug 2017 18:12:47 GMT
recorded_with: VCR 3.0.3
