---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40exygy.com.qa&password=XkzG%26h9%5EA%5El%21<<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00Df0000003aGup!AQ4AQBEPjNyj0_sMfIKAzsZf.cq0l_m.01ekeE.N9n8voyX2_qKk9jFq.CDQsm_WFse3PlhnR3uIap5qMNP9FATwRKA4LWsW","instance_url":"https://sfhousing--QA.cs16.my.salesforce.com","id":"https://test.salesforce.com/id/00Df0000003aGupEAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1473219525584","signature":"+xfm/U189vPwJ37aieyibsd3h64b91v8+Wn7hlRThyQ="}'
  recorded_at: Wed, 07 Sep 2016 03:38:45 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs16.my.salesforce.com/services/apexrest/Listing/EligibilityCheck/a0X210000000IMMEA2?childrenUnder6=0&householdsize=10&incomelevel=10000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Df0000003aGup!AQ4AQBEPjNyj0_sMfIKAzsZf.cq0l_m.01ekeE.N9n8voyX2_qKk9jFq.CDQsm_WFse3PlhnR3uIap5qMNP9FATwRKA4LWsW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"listingId":"a0X210000000IMMEA2","incomeMatch":false,"incomeEligibilityResult":"","householdMatch":false,"householdEligibilityResult":""}'
  recorded_at: Wed, 07 Sep 2016 03:38:45 GMT
recorded_with: VCR 3.0.3
