---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40exygy.com.qa&password=XkzG%26h9%5EA%5El%21<<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00Df0000003aGup!AQ4AQBEPjNyj0_sMfIKAzsZf.cq0l_m.01ekeE.N9n8voyX2_qKk9jFq.CDQsm_WFse3PlhnR3uIap5qMNP9FATwRKA4LWsW","instance_url":"https://sfhousing--qa.cs63.my.salesforce.com","id":"https://test.salesforce.com/id/00Df0000003aGupEAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1473224632537","signature":"0m4KX7eiJlk9MVEOwaEOKFUBDcgzk+RLxKMA+mlfAik="}'
  recorded_at: Wed, 07 Sep 2016 05:03:52 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs63.my.salesforce.com/services/apexrest/ListingDetails/a0Wf0000003j03WEAQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Df0000003aGup!AQ4AQBEPjNyj0_sMfIKAzsZf.cq0l_m.01ekeE.N9n8voyX2_qKk9jFq.CDQsm_WFse3PlhnR3uIap5qMNP9FATwRKA4LWsW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"unitSummary":[{"unitType":"1 BR","totalUnits":1,"minSquareFt":890,"minRentalMinIncome":2500.00,"minOccupancy":1,"minMonthlyRent":1000.00,"maxSquareFt":890,"maxRentalMinIncome":2500.00,"maxOccupancy":3,"maxMonthlyRent":1000.00,"listingID":"a0Wf0000003j03WEAQ"},{"unitType":"2
        BR","totalUnits":1,"minSquareFt":890,"minRentalMinIncome":2500.00,"minOccupancy":2,"minMonthlyRent":1000.00,"maxSquareFt":890,"maxRentalMinIncome":2500.00,"maxOccupancy":5,"maxMonthlyRent":1000.00,"listingID":"a0Wf0000003j03WEAQ"}],"listingID":"a0Wf0000003j03WEAQ","listing":{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0Wf0000003j03WEAQ"},"Name":"Smiles
        Apartments 22 Market","Office_Hours__c":"M-F 9-5","Building_Name__c":"Smiles","Building_Street_Address__c":"103
        Montgomery Street","Building_City__c":"San Francisco","Building_State__c":"CA","Building_Zip_Code__c":"94104","Neighborhood__c":"Civic
        Center","Year_Built__c":0,"LastModifiedDate":"2016-09-02T23:00:04.000+0000","Application_Due_Date__c":"2016-09-22T17:57:00.000+0000","Building_URL__c":"http://sfmohcd.org/sites/default/files/Documents/MOH/Housing%20Listing%20Photos/japartment.jpg","Application_Street_Address__c":"5
        Street St","Application_City__c":"SF","Application_State__c":"CA","Application_Postal_Code__c":"94111","Application_Phone__c":"(415)
        555-9999","Lottery_Results_Date__c":"2016-10-11","Lottery_Start_Time__c":"1:00PM","Lottery_Venue__c":"Koret","Lottery_Street_Address__c":"1
        Main St","Lottery_City__c":"San Francisco","Lottery_Date__c":"2016-10-04T17:57:00.000+0000","Lottery_Results__c":true,"Accepting_Online_Applications__c":false,"Lottery_Winners__c":0,"AMI_Percentage__c":55.00,"Leasing_Agent_Name__c":"Garbo
        Garbo","Leasing_Agent_Email__c":"garbo.chang@caritasmanagement.com","Leasing_Agent_Phone__c":"(415)
        647-7191 x112","Fee__c":35.00,"Deposit_Min__c":400.00,"Deposit_Max__c":500.00,"Id":"a0Wf0000003j03WEAQ","Units__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0bf0000002iYJ0AAM"},"Listing__c":"a0Wf0000003j03WEAQ","Id":"a0bf0000002iYJ0AAM","Unit_Type__c":"1
        BR","BMR_Rent_Monthly__c":1000.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":2500.00},{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0bf0000002iYJ5AAM"},"Listing__c":"a0Wf0000003j03WEAQ","Id":"a0bf0000002iYJ5AAM","Unit_Type__c":"2
        BR","BMR_Rent_Monthly__c":1000.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":2500.00}]}},"doesMatch":null}]'
  recorded_at: Wed, 07 Sep 2016 05:03:53 GMT
recorded_with: VCR 3.0.3
