---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQETp0H6qPFqN0SLDDyXgDSBvZaIWuIiZG4Zavyzyr67HXJH3qB1T4L9sYlY7QPw3yub5PB0uluN1SwV_Be2a4WySSUEk","instance_url":"https://cs26.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1449016819354","signature":"9l7UPEY8QOp29CYg1hPhPfhaHKaDTLihIM7A+YleuDw="}'
  recorded_at: Wed, 02 Dec 2015 00:40:19 GMT
- request:
    method: get
    uri: https://cs26.salesforce.com/services/apexrest/Listings/a0X210000004afdEAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQETp0H6qPFqN0SLDDyXgDSBvZaIWuIiZG4Zavyzyr67HXJH3qB1T4L9sYlY7QPw3yub5PB0uluN1SwV_Be2a4WySSUEk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0X210000004afdEAA"},"Property_Name__c":"Kaplan
        Tower","Property_Street_Address__c":"501 Gough Street","Property_City__c":"San
        Francisco","Property_State__c":"CA","Property_Zip_Code__c":"94010","Developer__c":"Big
        Developer Company","Property_URL__c":"http://detroit1701.org/Dime%20Bldg.html#.Vk5zvXarTIU","Neighborhood__c":"Presidio
        Heights","Year_Built__c":2015,"Application_Organization__c":"Acme Property
        Management","Application_Phone__c":"(650) 987-2564","Download_URL__c":"test.com","Application_Due_Date__c":"2015-12-15","Id":"a0X210000004afdEAA","Units__r":{"totalSize":3,"done":true,"records":[{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DYdKEAW"},"Listing__c":"a0X210000004afdEAA","Id":"a0W21000000DYdKEAW","Unit_Type__c":"3
        BR","BMR_Rental_Minimum_Monthly_Income_Needed__c":0.00},{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DWmGEAW"},"Listing__c":"a0X210000004afdEAA","Id":"a0W21000000DWmGEAW","Unit_Type__c":"1
        BR","BMR_Rent_Monthly__c":985.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":0.00},{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DWmLEAW"},"Listing__c":"a0X210000004afdEAA","Id":"a0W21000000DWmLEAW","Unit_Type__c":"2
        BR","BMR_Rent_Monthly__c":1523.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":0.00}]}}]'
  recorded_at: Wed, 02 Dec 2015 00:40:19 GMT
recorded_with: VCR 3.0.0
