---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQJEdZazrDIGxCfFtoT.xjWFa8aP4Y3nH_dnNe_KpRI4BOeTzeq5ZtUw8DunP4poPOwFP7rAp7ITb70kp8FAQ_hGG1792","instance_url":"https://cs26.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1455763082702","signature":"7V8UQRvaa3m6sQmkYti3ryXFYmxV2cCMtY3oiB2lLi0="}'
  recorded_at: Thu, 18 Feb 2016 02:38:03 GMT
- request:
    method: get
    uri: https://cs26.salesforce.com/services/apexrest/ListingDetails/a0X210000004afdEAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQJEdZazrDIGxCfFtoT.xjWFa8aP4Y3nH_dnNe_KpRI4BOeTzeq5ZtUw8DunP4poPOwFP7rAp7ITb70kp8FAQ_hGG1792
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"unitType":"a0X210000004afdEAA","totalUnits":1,"minSquareFt":411,"minOccupancy":1,"maxSquareFt":411,"maxOccupancy":2,"listingID":"a0X210000004afdEAA","listing":{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0X210000004afdEAA"},"Building_Name__c":"Kaplan
        Tower","Building_Street_Address__c":"501 Gough Street","Building_City__c":"San
        Francisco","Building_State__c":"CA","Building_Zip_Code__c":"94010","Developer__c":"Big
        Developer Company","Application_Due_Date__c":"2015-12-08","Building_URL__c":"http://detroit1701.org/Dime%20Bldg.html#.Vk5zvXarTIU","Id":"a0X210000004afdEAA","Application_Phone__c":"(650)
        987-2564","Lottery_Summary__c":"out of blank, we pulled blank","Lottery_Results_Date__c":"2015-12-25","Lottery_Date__c":"2015-12-31T18:11:00.000+0000","Leasing_Agent_Name__c":"Jon
        Jon","Leasing_Agent_Title__c":"Sales Manager","Leasing_Agent_Email__c":"info@salesforce.com","Leasing_Agent_Phone__c":"(905)
        555-1212","Units__r":{"totalSize":3,"done":true,"records":[{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DWmGEAW"},"Listing__c":"a0X210000004afdEAA","Id":"a0W21000000DWmGEAW","Unit_Type__c":"1
        BR","BMR_Rent_Monthly__c":985.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":0.00},{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DWmLEAW"},"Listing__c":"a0X210000004afdEAA","Id":"a0W21000000DWmLEAW","Unit_Type__c":"2
        BR","BMR_Rent_Monthly__c":1523.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":3807.50},{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DYdKEAW"},"Listing__c":"a0X210000004afdEAA","Id":"a0W21000000DYdKEAW","Unit_Type__c":"3
        BR","BMR_Rent_Monthly__c":985.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":0.00}]}},"doesMatch":null},{"unitType":"a0X210000004afdEAA","totalUnits":1,"minSquareFt":787,"minOccupancy":2,"maxSquareFt":787,"maxOccupancy":4,"listingID":"a0X210000004afdEAA","listing":{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0X210000004afdEAA"},"Building_Name__c":"Kaplan
        Tower","Building_Street_Address__c":"501 Gough Street","Building_City__c":"San
        Francisco","Building_State__c":"CA","Building_Zip_Code__c":"94010","Developer__c":"Big
        Developer Co[...]
