---
http_interactions:
- request:
    method: get
    uri: https://cs26.salesforce.com/services/apexrest/Listings/a0X210000004afdEAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQOR6UjtA80W21lhZPMCa6nPcwegWKKE74sSCl7LAs4z.FPkbm96m0MpBWzY7iM.u8eL8RkmJwURhs4ZlhBqKsezeVFod
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0X210000004afdEAA"},"Property_Name__c":"Kaplan
        Tower","Property_Street_Address__c":"501 Gough Street","Property_City__c":"San
        Francisco","Property_State__c":"CA","Property_Zip_Code__c":"94010","Developer__c":"Big
        Developer Company","Property_URL__c":"http://detroit1701.org/Dime%20Bldg.html#.Vk5zvXarTIU","Neighborhood__c":"Presidio
        Heights","Year_Built__c":2015,"Application_Organization__c":"Acme Property
        Management","Application_Phone__c":"(650) 987-2564","Download_URL__c":"http://test.com","Application_Due_Date__c":"2015-12-15","Fee__c":95.00,"Deposit_Min__c":200.00,"Deposit_Max__c":250.00,"Costs_Not_Included__c":"renter
        responsible for having the skills to pay the bills","Lottery_Preferences__c":"Ellis
        Act","Lottery_Date__c":"2015-12-31","Amenities__c":"this is just text","Accessibility__c":"accessibility
        info here","Property_Selection_Criteria__c":"selection goes here","Required_Documents__c":"passport,
        ID, others","Legal_Disclaimers__c":"uphold the law.","Smoking_Policy__c":"We
        hate smokers!","Pet_Policy__c":"We love pets!","Id":"a0X210000004afdEAA","Units__r":{"totalSize":3,"done":true,"records":[{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DYdKEAW"},"Listing__c":"a0X210000004afdEAA","Id":"a0W21000000DYdKEAW","Unit_Type__c":"3
        BR","BMR_Rental_Minimum_Monthly_Income_Needed__c":0.00},{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DWmGEAW"},"Listing__c":"a0X210000004afdEAA","Id":"a0W21000000DWmGEAW","Unit_Type__c":"1
        BR","BMR_Rent_Monthly__c":985.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":0.00},{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DWmLEAW"},"Listing__c":"a0X210000004afdEAA","Id":"a0W21000000DWmLEAW","Unit_Type__c":"2
        BR","BMR_Rent_Monthly__c":1523.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":0.00}]}}]'
  recorded_at: Tue, 08 Dec 2015 16:16:14 GMT
recorded_with: VCR 3.0.0
