---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQLhjioobcBcXVh4QuEsznAt_4Zv70c3bmikMnYtpa_a9bzxS8aUFm4vcKLIkIgZVgAmqJ5QKG.32.8ixbx8nsZ91GfQ7","instance_url":"https://sfhousing--full.cs26.my.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1469127334357","signature":"QX/TlycnZylO9ktaPWVWUP8w97eKlz5UnsZu0d6hKwE="}'
  recorded_at: Thu, 21 Jul 2016 18:55:34 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs26.my.salesforce.com/services/apexrest/ListingDetails/a0X210000004afdEAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQLhjioobcBcXVh4QuEsznAt_4Zv70c3bmikMnYtpa_a9bzxS8aUFm4vcKLIkIgZVgAmqJ5QKG.32.8ixbx8nsZ91GfQ7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"unitSummary":[{"unitType":"2 BR","totalUnits":1,"minSquareFt":787,"minRentalMinIncome":3807.50,"minOccupancy":2,"minMonthlyRent":1523.00,"maxSquareFt":787,"maxRentalMinIncome":3807.50,"maxOccupancy":4,"maxMonthlyRent":1523.00,"listingID":"a0X210000004afdEAA"},{"unitType":"3
        BR","totalUnits":1,"minSquareFt":1212,"minRentalMinIncome":0.00,"minOccupancy":3,"minMonthlyRent":985.00,"maxSquareFt":1212,"maxRentalMinIncome":0.00,"maxOccupancy":6,"maxMonthlyRent":985.00,"listingID":"a0X210000004afdEAA"}],"listingID":"a0X210000004afdEAA","listing":{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0X210000004afdEAA"},"Name":"Closed
        Application","Building_Name__c":"Kaplan Tower","Building_Street_Address__c":"501
        Gough Street","Building_City__c":"San Francisco","Building_State__c":"CA","Building_Zip_Code__c":"94010","Developer__c":"Big
        Developer Company","Description__c":"property description notes here","Neighborhood__c":"Presidio
        Heights","Year_Built__c":2015,"LastModifiedDate":"2016-05-18T00:53:04.000+0000","Application_Due_Date__c":"2016-09-01T21:00:00.000+0000","Building_URL__c":"http://sfmohcd.org/sites/default/files/Documents/MOH/Housing%20Listing%20Photos/388Beale.jpg","Legal_Disclaimers__c":"uphold
        the law.","Application_Organization__c":"Test Test Name","Application_Phone__c":"(650)
        987-2564","Lottery_Summary__c":"out of blank, we pulled blank","Lottery_Results_Date__c":"2016-05-27","Lottery_End__c":"2015-12-25T18:11:00.000+0000","Lottery_Start_Time__c":"4:00","Lottery_End_Time__c":"6:00","Lottery_Venue__c":"Exygy","Lottery_Street_Address__c":"4053
        18th St.","Lottery_City__c":"San Francisco","Lottery_Date__c":"2016-04-29T22:59:00.000+0000","Lottery_Preferences__c":"Ellis
        Act","Lottery_Results__c":false,"Lottery_Winners__c":0,"Leasing_Agent_Name__c":"Jon
        Jon","Leasing_Agent_Title__c":"Sales Manager","Leasing_Agent_Email__c":"info@salesforce.com","Leasing_Agent_Phone__c":"(905)
        555-1212","Download_URL__c":"http://test.com","Fee__c":95.00,"Deposit_Min__c":200.00,"Deposit_Max__c":250.00,"Costs_Not_Included__c":"renter
        responsible for having the skills to pay the bills","Rental_Assistance__c":"Subsidies
        and Vouchers","Amenities__c":"this is just text","Accessibility__c":"accessibility
        info here","Building_Selection_Criteria__c":"selection goes here","Required_Documents__c":"passport,
        ID, others","Smoking_Policy__c":"We hate smokers!","Pet_Policy__c":"We love
        pets!","Id":"a0X210000004afdEAA","Units__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DWmLEAW"},"Listing__c":"a0X210000004afdEAA","Id":"a0W21000000DWmLEAW","Unit_Type__c":"2
        BR","BMR_Rent_Monthly__c":1523.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":3807.50},{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DYdKEAW"},"Listing__c":"a0X210000004afdEAA","Id":"a0W21000000DYdKEAW","Unit_Type__c":"3
        BR","BMR_Rent_Monthly__c":985.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":0.00}]}},"doesMatch":null}]'
  recorded_at: Thu, 21 Jul 2016 18:55:34 GMT
recorded_with: VCR 3.0.3
