---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQIgmn.UUVT2mti6p3Mf6.EOyqHHJ6fMzO9y8OC5MS4ghCPobNtNZYsyE3EIGOT8yj7Rdpt.nA52KXaIqUVdX29huqHcg","instance_url":"https://cs26.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1455905547881","signature":"ja8hQKtVKnNXeX36kXmlu7cWJjYKLDx19HCZK1YCZ50="}'
  recorded_at: Fri, 19 Feb 2016 18:12:28 GMT
- request:
    method: get
    uri: https://cs26.salesforce.com/services/apexrest/ami?percent=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQIgmn.UUVT2mti6p3Mf6.EOyqHHJ6fMzO9y8OC5MS4ghCPobNtNZYsyE3EIGOT8yj7Rdpt.nA52KXaIqUVdX29huqHcg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"percent":100,"numOfHousehold":1,"amount":71350.00},{"percent":100,"numOfHousehold":2,"amount":81500.00},{"percent":100,"numOfHousehold":3,"amount":91700.00},{"percent":100,"numOfHousehold":4,"amount":101900.00},{"percent":100,"numOfHousehold":5,"amount":110050.00},{"percent":100,"numOfHousehold":6,"amount":118200.00},{"percent":100,"numOfHousehold":7,"amount":126350.00},{"percent":100,"numOfHousehold":8,"amount":134500.00},{"percent":100,"numOfHousehold":9,"amount":138600.00}]'
  recorded_at: Fri, 19 Feb 2016 18:12:29 GMT
recorded_with: VCR 3.0.1
