---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--QA.cs63.my.salesforce.com","id":"https://test.salesforce.com/id/00D6C0000000TrIUAU/0056C000000eBx5QAE","token_type":"Bearer","issued_at":"1485826251419","signature":"lczRsn50BhEjTHuzaxwEL8g9OB8WyLKo0rn2tqRjWKo="}'
  recorded_at: Tue, 31 Jan 2017 01:30:51 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs63.my.salesforce.com/services/apexrest/ami?percent=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="6m4uJ26w5zoo/DLDmYNWG1dWpZ8/GSCPe6SBri8Euw0=";
        max-age=604800; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D6C0000000TrI";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"percent":100,"numOfHousehold":1,"amount":75400.00},{"percent":100,"numOfHousehold":2,"amount":86150.00},{"percent":100,"numOfHousehold":3,"amount":96950.00},{"percent":100,"numOfHousehold":4,"amount":107700.00},{"percent":100,"numOfHousehold":5,"amount":116300.00},{"percent":100,"numOfHousehold":6,"amount":124950.00},{"percent":100,"numOfHousehold":7,"amount":133550.00},{"percent":100,"numOfHousehold":8,"amount":142150.00},{"percent":100,"numOfHousehold":9,"amount":146450.00}]'
  recorded_at: Tue, 31 Jan 2017 01:30:51 GMT
recorded_with: VCR 3.0.3
