---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40exygy.com.qa&password=XkzG%26h9%5EA%5El%21<<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D6C0000000TrI!AQ4AQHIpOhACwT.YmJEFr8Qv0ZfX6upTp6lvWtKMFxx.RcgXunz2IXd_MlcQ7nSPAkpCBeNm4qFRS0Ok8FLhD.9tEJXkh4b1","instance_url":"https://sfhousing--QA.cs63.my.salesforce.com","id":"https://test.salesforce.com/id/00D6C0000000TrIUAU/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1480463772449","signature":"BI/qIBe2TTGh0OAo+kRkx0CMarNMewXeRySvb/uuAXQ="}'
  recorded_at: Tue, 29 Nov 2016 23:56:12 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs63.my.salesforce.com/services/apexrest/ami?chartType=Non-HERA&percent=50&year=2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D6C0000000TrI!AQ4AQHIpOhACwT.YmJEFr8Qv0ZfX6upTp6lvWtKMFxx.RcgXunz2IXd_MlcQ7nSPAkpCBeNm4qFRS0Ok8FLhD.9tEJXkh4b1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"year":2016.0,"percent":50.0,"numOfHousehold":1.0,"chartType":"Non-HERA","amount":43050.00},{"year":2016.0,"percent":50.0,"numOfHousehold":2.0,"chartType":"Non-HERA","amount":49200.00},{"year":2016.0,"percent":50.0,"numOfHousehold":3.0,"chartType":"Non-HERA","amount":55350.00},{"year":2016.0,"percent":50.0,"numOfHousehold":4.0,"chartType":"Non-HERA","amount":61500.00},{"year":2016.0,"percent":50.0,"numOfHousehold":5.0,"chartType":"Non-HERA","amount":61500.00},{"year":2016.0,"percent":50.0,"numOfHousehold":6.0,"chartType":"Non-HERA","amount":66450.00},{"year":2016.0,"percent":50.0,"numOfHousehold":7.0,"chartType":"Non-HERA","amount":71350.00},{"year":2016.0,"percent":50.0,"numOfHousehold":8.0,"chartType":"Non-HERA","amount":76300.00}]'
  recorded_at: Tue, 29 Nov 2016 23:56:13 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs63.my.salesforce.com/services/apexrest/ami?chartType=HCD/TCAC&percent=50&year=2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D6C0000000TrI!AQ4AQHIpOhACwT.YmJEFr8Qv0ZfX6upTp6lvWtKMFxx.RcgXunz2IXd_MlcQ7nSPAkpCBeNm4qFRS0Ok8FLhD.9tEJXkh4b1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"year":2016.0,"percent":50.0,"numOfHousehold":1.0,"chartType":"HCD/TCAC","amount":43050.00},{"year":2016.0,"percent":50.0,"numOfHousehold":2.0,"chartType":"HCD/TCAC","amount":49200.00},{"year":2016.0,"percent":50.0,"numOfHousehold":3.0,"chartType":"HCD/TCAC","amount":55350.00},{"year":2016.0,"percent":50.0,"numOfHousehold":4.0,"chartType":"HCD/TCAC","amount":61500.00},{"year":2016.0,"percent":50.0,"numOfHousehold":5.0,"chartType":"HCD/TCAC","amount":66450.00},{"year":2016.0,"percent":50.0,"numOfHousehold":6.0,"chartType":"HCD/TCAC","amount":71350.00},{"year":2016.0,"percent":50.0,"numOfHousehold":7.0,"chartType":"HCD/TCAC","amount":76300.00},{"year":2016.0,"percent":50.0,"numOfHousehold":8.0,"chartType":"HCD/TCAC","amount":81200.00}]'
  recorded_at: Tue, 29 Nov 2016 23:56:13 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs63.my.salesforce.com/services/apexrest/ami?chartType=Non-HERA&percent=60&year=2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D6C0000000TrI!AQ4AQHIpOhACwT.YmJEFr8Qv0ZfX6upTp6lvWtKMFxx.RcgXunz2IXd_MlcQ7nSPAkpCBeNm4qFRS0Ok8FLhD.9tEJXkh4b1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"year":2016.0,"percent":60.0,"numOfHousehold":1.0,"chartType":"Non-HERA","amount":51660.00},{"year":2016.0,"percent":60.0,"numOfHousehold":2.0,"chartType":"Non-HERA","amount":59040.00},{"year":2016.0,"percent":60.0,"numOfHousehold":3.0,"chartType":"Non-HERA","amount":66420.00},{"year":2016.0,"percent":60.0,"numOfHousehold":4.0,"chartType":"Non-HERA","amount":73800.00},{"year":2016.0,"percent":60.0,"numOfHousehold":5.0,"chartType":"Non-HERA","amount":73800.00},{"year":2016.0,"percent":60.0,"numOfHousehold":6.0,"chartType":"Non-HERA","amount":79740.00},{"year":2016.0,"percent":60.0,"numOfHousehold":7.0,"chartType":"Non-HERA","amount":85620.00},{"year":2016.0,"percent":60.0,"numOfHousehold":8.0,"chartType":"Non-HERA","amount":91560.00}]'
  recorded_at: Tue, 29 Nov 2016 23:56:13 GMT
recorded_with: VCR 3.0.3
