---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQLhjioobcBcXVh4QuEsznAt_4Zv70c3bmikMnYtpa_a9bzxS8aUFm4vcKLIkIgZVgAmqJ5QKG.32.8ixbx8nsZ91GfQ7","instance_url":"https://sfhousing--full.cs26.my.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1469127336637","signature":"bNCfu0K3GXl0ZWwkkSrH5ekHVLvImOVLyUbQKHzWGqI="}'
  recorded_at: Thu, 21 Jul 2016 18:55:36 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs26.my.salesforce.com/services/apexrest/ami?percent=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQLhjioobcBcXVh4QuEsznAt_4Zv70c3bmikMnYtpa_a9bzxS8aUFm4vcKLIkIgZVgAmqJ5QKG.32.8ixbx8nsZ91GfQ7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"percent":100,"numOfHousehold":1,"amount":75400.00},{"percent":100,"numOfHousehold":2,"amount":86150.00},{"percent":100,"numOfHousehold":3,"amount":96950.00},{"percent":100,"numOfHousehold":4,"amount":107700.00},{"percent":100,"numOfHousehold":5,"amount":116300.00},{"percent":100,"numOfHousehold":6,"amount":124950.00},{"percent":100,"numOfHousehold":7,"amount":133550.00},{"percent":100,"numOfHousehold":8,"amount":142150.00},{"percent":100,"numOfHousehold":9,"amount":146450.00}]'
  recorded_at: Thu, 21 Jul 2016 18:55:37 GMT
recorded_with: VCR 3.0.3
