---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQI26ULQ8nQQeJ25JkGk0kUnHtwi.e_lz6ndSwRNhE.qv0ownVoqP6tTfhCKJI7k.GTVB4qVp4fJEuDbyjI2DeeObINrx","instance_url":"https://sfhousing--full.cs26.my.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1466206802021","signature":"LY1P2sxT47RVIlrBmtdfDfH1RkoDoylGe+Px5EEMfXo="}'
  recorded_at: Fri, 17 Jun 2016 23:40:02 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs26.my.salesforce.com/services/apexrest/ami?percent=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQI26ULQ8nQQeJ25JkGk0kUnHtwi.e_lz6ndSwRNhE.qv0ownVoqP6tTfhCKJI7k.GTVB4qVp4fJEuDbyjI2DeeObINrx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"percent":100,"numOfHousehold":1,"amount":75400.00},{"percent":100,"numOfHousehold":2,"amount":86150.00},{"percent":100,"numOfHousehold":3,"amount":96950.00},{"percent":100,"numOfHousehold":4,"amount":107700.00},{"percent":100,"numOfHousehold":5,"amount":116300.00},{"percent":100,"numOfHousehold":6,"amount":124950.00},{"percent":100,"numOfHousehold":7,"amount":133550.00},{"percent":100,"numOfHousehold":8,"amount":142150.00},{"percent":100,"numOfHousehold":9,"amount":146450.00}]'
  recorded_at: Fri, 17 Jun 2016 23:40:02 GMT
recorded_with: VCR 3.0.1
