---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQGZI2GQUoNAu.idn_FCMQg5SLeuxzRcckrYfebKJlz8lJNJ9.LvqQ1w6m29KoaWu7lqqmuNmyWDGEsE7BmgvvlyR1ueG","instance_url":"https://cs26.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1449800428311","signature":"f6NprhLA5btVwhe4I8P9UMaUgq9PA3V0Ith/nwbSQ6k="}'
  recorded_at: Fri, 11 Dec 2015 02:20:28 GMT
- request:
    method: get
    uri: https://cs26.salesforce.com/services/apexrest/Listings?childrenUnder6=1&householdsize=2&incomelevel=20000.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQGZI2GQUoNAu.idn_FCMQg5SLeuxzRcckrYfebKJlz8lJNJ9.LvqQ1w6m29KoaWu7lqqmuNmyWDGEsE7BmgvvlyR1ueG
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0X210000004bFuEAI"},"Property_Name__c":"Kaplan
        Tower","Property_Street_Address__c":"501 Gough Street","Property_City__c":"San
        Francisco","Property_State__c":"CA","Property_Zip_Code__c":"94010","Developer__c":"Big
        Developer Company","Application_Due_Date__c":"2015-12-31","Property_URL__c":"http://detroit1701.org/Dime%20Bldg.html#.Vk5zvXarTIU","Application_Phone__c":"(650)
        987-2564","Id":"a0X210000004bFuEAI","Does_Match__c":false},{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0X210000004bFzEAI"},"Property_Name__c":"Kaplan
        Tower","Property_Street_Address__c":"501 Gough Street","Property_City__c":"San
        Francisco","Property_State__c":"CA","Property_Zip_Code__c":"94010","Developer__c":"Big
        Developer Company","Application_Due_Date__c":"2015-12-01","Property_URL__c":"http://detroit1701.org/Dime%20Bldg.html#.Vk5zvXarTIU","Application_Phone__c":"(650)
        987-2564 Undo","Id":"a0X210000004bFzEAI","Does_Match__c":false},{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0X210000004amREAQ"},"Property_Name__c":"1010
        16th Street","Property_Street_Address__c":"1010 16th Street","Property_City__c":"San
        Francisco","Property_State__c":"CA","Property_Zip_Code__c":"94107","Application_Due_Date__c":"2015-11-23","Application_Phone__c":"(866)
        276-4191","Id":"a0X210000004amREAQ","Does_Match__c":false},{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0X210000004aqQEAQ"},"Property_Name__c":"Stevenson
        Lofts","Property_Street_Address__c":"529 Stevenson Street and 550 Jessie Street","Property_City__c":"San
        Francisco","Property_State__c":"CA","Property_Zip_Code__c":"94103","Application_Due_Date__c":"2015-10-21","Application_Phone__c":"(415)
        689-4217","Id":"a0X210000004aqQEAQ","Units__r":{"totalSize":9,"done":true,"records":[{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DYzQEAW"},"Listing__c":"a0X210000004aqQEAQ","Id":"a0W21000000DYzQEAW","Unit_Type__c":"Studio","BMR_Rent_Monthly__c":941.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":2352.50},{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DYzLEAW"},"Listing__c":"a0X210000004aqQEAQ","Id":"a0W21000000DYzLEAW","Unit_Type__c":"Studio","BMR_Rent_Monthly__c":941.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":2352.50},{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DYzGEAW"},"Listing__c":"a0X210000004aqQEAQ","Id":"a0W21000000DYzGEAW","Unit_Type__c"[...]
