---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQJEdZazrDIGxCfFtoT.xjWFa8aP4Y3nH_dnNe_KpRI4BOeTzeq5ZtUw8DunP4poPOwFP7rAp7ITb70kp8FAQ_hGG1792","instance_url":"https://cs26.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1455763079995","signature":"e8hB8+GUqksnrW/Vd/YZ4x4GcXc8OchDkYJtrDbTE3o="}'
  recorded_at: Thu, 18 Feb 2016 02:38:00 GMT
- request:
    method: get
    uri: https://cs26.salesforce.com/services/apexrest/ListingDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQJEdZazrDIGxCfFtoT.xjWFa8aP4Y3nH_dnNe_KpRI4BOeTzeq5ZtUw8DunP4poPOwFP7rAp7ITb70kp8FAQ_hGG1792
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"unitType":"a0X210000000HWrEAM","totalUnits":1,"minSquareFt":null,"minOccupancy":1,"maxSquareFt":null,"maxOccupancy":4,"listingID":"a0X210000000HWrEAM","listing":{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0X210000000HWrEAM"},"Building_Name__c":"Test
        Building","Building_City__c":"San Francisco","Building_State__c":"CA","Developer__c":"Test
        Developer","Id":"a0X210000000HWrEAM","Lottery_Date__c":"2016-02-15T20:00:00.000+0000","Listing_Lottery_Preferences__r":{"totalSize":3,"done":true,"records":[{"attributes":{"type":"Listing_Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Listing_Lottery_Preference__c/a0q21000000CgrLAAS"},"Listing__c":"a0X210000000HWrEAM","Id":"a0q21000000CgrLAAS","Lottery_Preference__c":"a0m21000000DFJ9AAO","Lottery_Preference__r":{"attributes":{"type":"Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Lottery_Preference__c/a0m21000000DFJ9AAO"},"Id":"a0m21000000DFJ9AAO","Name":"Move-in"}},{"attributes":{"type":"Listing_Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Listing_Lottery_Preference__c/a0q21000000CgrQAAS"},"Listing__c":"a0X210000000HWrEAM","Id":"a0q21000000CgrQAAS","Lottery_Preference__c":"a0m21000000DFIuAAO","Lottery_Preference__r":{"attributes":{"type":"Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Lottery_Preference__c/a0m21000000DFIuAAO"},"Id":"a0m21000000DFIuAAO","Name":"Certificate
        of Preference"}},{"attributes":{"type":"Listing_Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Listing_Lottery_Preference__c/a0q21000000CgrVAAS"},"Listing__c":"a0X210000000HWrEAM","Id":"a0q21000000CgrVAAS","Lottery_Preference__c":"a0m21000000DFIzAAO","Lottery_Preference__r":{"attributes":{"type":"Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Lottery_Preference__c/a0m21000000DFIzAAO"},"Id":"a0m21000000DFIzAAO","Name":"Elliss
        Act"}}]},"Units__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W210000002LnmEAE"},"Listing__c":"a0X210000000HWrEAM","Id":"a0W210000002LnmEAE","Unit_Type__c":"Studio","BMR_Rent_Monthly__c":250.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":0.00}]}},"doesMatch":null},{"unitType":"a0X210000004afdEAA","totalUnits":1,"minSquareFt":411,"minOccupancy":1,"maxSquareFt":411,"maxOccupancy":2,"listingID":"a0X210000004afdEAA","listing":{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0X210000004afdEAA"},"Building_Name__c":"Kaplan
        Tower","Building_Street_Address__c":"501 Gough Street","Building_City__c":"San
        Francisco","Building_State__c":"CA","Building_Zip_Code__c":"94010","Developer__c":"Big
        Developer Company","Application_Due_Date__c":"2015-12-08","Building_URL__c":"http://detroit1701.org/Dime%20Bldg.html#.Vk5zvXarTIU","Id":"a0X210000004afdEAA","Application_Phone__c":"(650)
        987-2564","Lottery_Summary__c":"out of blank, we pulled blank","Lottery_Results_Date__c":"2015-12-25","Lottery_Date__c":"2015-12-31T18:11:00.000+0000","Leasing_Agent_Name__c":"Jon
        Jon","Leasing_Agent_Title__c":"Sales Manager","Leasing_Agent_Email__c":"info@salesforce.com","Leasing_Agent_Phone__c":"(905)
        555-1212","Units__r":{"totalSize":3,"done":true,"records":[{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DWmGEAW"},"Listing__c":"a0X210000004afdEAA","Id":"a0W21000000DWmGEAW","Unit_Type__c":"1
        BR","BMR_Rent_Monthly__c":985.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":0.00},{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0W21000000DWmLEAW"},"Listing__c":"a0X210000004afdEAA","Id":"a0W21000000DWmLEAW"[...]
