---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQKu2gSWa70wfD4JBBVVvmcSZgmnq8Kw8cppXx.I9ZkqQ3foLtbYjyKmjukpYDOgHGCbQKao6oIl1SUIf0JgAmQih2XmA","instance_url":"https://cs26.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1456187590787","signature":"5lktNs1Y8i5qbB/rsyJbG62hUsNl/PYtOeuijPL5J5w="}'
  recorded_at: Tue, 23 Feb 2016 00:33:10 GMT
- request:
    method: get
    uri: https://cs26.salesforce.com/services/apexrest/LotteryPreference
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQKu2gSWa70wfD4JBBVVvmcSZgmnq8Kw8cppXx.I9ZkqQ3foLtbYjyKmjukpYDOgHGCbQKao6oIl1SUIf0JgAmQih2XmA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"attributes":{"type":"Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Lottery_Preference__c/a0m21000000DFIuAAO"},"Id":"a0m21000000DFIuAAO","Name":"Certificate
        of Preference","Description__c":"Certificate of Preference (COP)"},{"attributes":{"type":"Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Lottery_Preference__c/a0m21000000DFIzAAO"},"Id":"a0m21000000DFIzAAO","Name":"Displaced
        Tenants Housing Preference","Description__c":"DTHP program"},{"attributes":{"type":"Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Lottery_Preference__c/a0m21000000DFJ4AAO"},"Id":"a0m21000000DFJ4AAO","Name":"Live/Work","Description__c":"Lives
        for works close to property"},{"attributes":{"type":"Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Lottery_Preference__c/a0m21000000DFJ9AAO"},"Id":"a0m21000000DFJ9AAO","Name":"Live/Work
        in SF","Description__c":"Live or work in San Francisco"}]'
  recorded_at: Tue, 23 Feb 2016 00:33:11 GMT
recorded_with: VCR 3.0.1
