---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40exygy.com.qa&password=XkzG%26h9%5EA%5El%21<<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00Df0000003aGup!AQ4AQCDuSz.r2x.o6vn7z6LN5sr.b8kEzYCR7e8Nd__SHkTG3EiMAmtCFJW3_S0n7DKFOeECBJU6HDMsKOYkye6yEBPg9gsV","instance_url":"https://sfhousing--QA.cs16.my.salesforce.com","id":"https://test.salesforce.com/id/00Df0000003aGupEAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1470509997297","signature":"G4kXQOHB1vLVBP2M8m3XquSrSfIpcvood1iEyLXIKhM="}'
  recorded_at: Sat, 06 Aug 2016 18:59:57 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs16.my.salesforce.com/services/apexrest/Listing/LotteryResult/Bucket/a0WU000000BmpBdMAJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Df0000003aGup!AQ4AQCDuSz.r2x.o6vn7z6LN5sr.b8kEzYCR7e8Nd__SHkTG3EiMAmtCFJW3_S0n7DKFOeECBJU6HDMsKOYkye6yEBPg9gsV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"URL":null,"officeHours":null,"neighborhoodPreferenceUnitsAvailable":25,"neighborhoodPreferenceAppTotal":2,"lotteryResultsURL":"www.google.com","lotteryResults":true,"lotteryPreferences":null,"lotteryEndTime":null,"lotteryDate":"2015-12-03T19:00:00.000Z","lotteryCity":"San
        Francisco","liveWorkPreferenceUnitsAvailable":20,"liveWorkPreferenceAppTotal":2,"listingId":"a0WU000000BmpBdMAJ","generalLotteryAppTotal":2,"displacedPreferenceUnitsAvailable":15,"displacedPreferenceAppTotal":4,"certOfPreferenceUnitsAvailable":10,"certOfPreferenceAppTotal":3,"bucketResults":[{"preferenceName":"liveWorkPreference","bucketResults":[{"preferenceRank":1,"lotteryRank":null,"lotteryNumber":"00000274","applicationID":"a0tf0000000mN2fAAE"},{"preferenceRank":1,"lotteryRank":2,"lotteryNumber":"00000284","applicationID":"a0tf0000000mN3nAAE"},{"preferenceRank":2,"lotteryRank":3,"lotteryNumber":"00000578","applicationID":"a0tf0000000mPAmAAM"},{"preferenceRank":null,"lotteryRank":null,"lotteryNumber":"00000022","applicationID":"a0tf0000000mJK6AAM"}]},{"preferenceName":"certOfPreference","bucketResults":[{"preferenceRank":1,"lotteryRank":null,"lotteryNumber":"00000274","applicationID":"a0tf0000000mN2fAAE"},{"prefere[...]
