---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQI26ULQ8nQQeJ25JkGk0kUnHtwi.e_lz6ndSwRNhE.qv0ownVoqP6tTfhCKJI7k.GTVB4qVp4fJEuDbyjI2DeeObINrx","instance_url":"https://sfhousing--full.cs26.my.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1466206805353","signature":"e2ElUNXiGcz96iXdjIuHXrWCBPMJ2deDMPUOdAK1HzI="}'
  recorded_at: Fri, 17 Jun 2016 23:40:05 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs26.my.salesforce.com/services/apexrest/LotteryMember/a0X210000000IMLEA2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQI26ULQ8nQQeJ25JkGk0kUnHtwi.e_lz6ndSwRNhE.qv0ownVoqP6tTfhCKJI7k.GTVB4qVp4fJEuDbyjI2DeeObINrx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"attributes":{"type":"Lottery_Member__c","url":"/services/data/v35.0/sobjects/Lottery_Member__c/a0k21000000H5BCAA0"},"Lottery_Number__c":510050,"Rank__c":1,"Listing__c":"a0X210000000IMLEA2","Status__c":"Winner","Id":"a0k21000000H5BCAA0"},{"attributes":{"type":"Lottery_Member__c","url":"/services/data/v35.0/sobjects/Lottery_Member__c/a0k21000000H5BDAA0"},"Lottery_Number__c":510038,"Rank__c":2,"Listing__c":"a0X210000000IMLEA2","Status__c":"Winner","Id":"a0k21000000H5BDAA0"},{"attributes":{"type":"Lottery_Member__c","url":"/services/data/v35.0/sobjects/Lottery_Member__c/a0k21000000H5BEAA0"},"Lottery_Number__c":510141,"Rank__c":3,"Listing__c":"a0X210000000IMLEA2","Status__c":"Winner","Id":"a0k21000000H5BEAA0"},[...]
