---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs95.my.salesforce.com","id":"https://test.salesforce.com/id/00D0x000000CtkoEAC/0050P000007QAY9QAO","token_type":"Bearer","issued_at":"1527214230244","signature":"ufveZeKCFMXaWVdqF+T1MMCoFml7pHdp1lbULmSk7IM="}'
  recorded_at: Fri, 25 May 2018 02:10:30 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs95.my.salesforce.com/services/apexrest/Listing/LotteryResult/a0W0P00000F8YG4UAN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0x000000Ctkom";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"URL":null,"officeHours":null,"lotteryResultsURL":"http://sfmohcd.org/sites/default/files/Documents/MOH/Lottery%20Results/280%20Fell%20Street%20Ranked%20List-%203-22-2017.pdf","lotteryResults":false,"lotteryPreferences":null,"lotteryEndTime":null,"lotteryDate":"2017-03-22T18:00:00.000Z","lotteryCity":"San
        Francisco","lotteryBuckets":[{"unitsAvailable":1,"totalSubmittedApps":85,"preferenceResults":[{"preferenceRank":1,"lotteryRank":1,"lotteryNumber":"00185154","applicationID":"a0o0x0000003l7bAAA"},{"preferenceRank":2,"lotteryRank":4,"lotteryNumber":"00185146","applicationID":"a0o0x0000003jsXAAQ"},{"preferenceRank":3,"lotteryRank":9,"lotteryNumber":"00185280","applicationID":"a0o0x0000003mxwAAA"},{"preferenceRank":4,"lotteryRank":13,"lotteryNumber":"00185143","applicationID":"a0o0x0000003js3AAA"},{"preferenceRank":5,"lotteryRank":14,"lotteryNumber":"00162663","applicationID":"a0o0P00000Hiz4bQAB"},{"preferenceRank":6,"lotteryRank":23,"lotteryNumber":"00162660","applicationID":"a0o0P00000Hiz4MQAR"},{"preferenceRank":7,"lotteryRank":28,"lotteryNumber":"00185159","applicationID":"a0o0x0000003lgoAAA"},{"preferenceRank":8,"lotteryRank":31,"lotteryNumber":"00163083","applicationID":"a0o0P00000Hj0G0QAJ"}],"preferenceOrder":1,"preferenceName":"Certificate
        of Preference (COP)"},{"unitsAvailable":2,"totalSubmittedApps":201,"preferenceResults":[{"preferenceRank":1,"lotteryRank":1,"lotteryNumber":"00185154","applicationID":"a0o0x0000003l7bAAA"},{"preferenceRank":2,"lotteryRank":3,"lotteryNumber":"00185183","applicationID":"a0o0x0000003me2AAA"},{"preferenceRank":3,"lotteryRank":4,"lotteryNumber":"00185146","applicationID":"a0o0x0000003jsXAAQ"},{"preferenceRank":4,"lotteryRank":6,"lotteryNumber":"00185172","applicationID":"a0o0x000[...]
