---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40exygy.com.qa&password=XkzG%26h9%5EA%5El%21<<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00Df0000003aGup!AQ4AQCCmq6lEPmEwCbBkuaBfJGK0kKygrrTL59dvzmnNxMiysikvzQqfzISAtFiLw3MbMjQnyegqO1hVw2_r4AVwEciSumo3","instance_url":"https://sfhousing--QA.cs16.my.salesforce.com","id":"https://test.salesforce.com/id/00Df0000003aGupEAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1473216614314","signature":"TkbIEJQZDgxVn57jzx30h1bbkDLJ69iGsUcJi4OOrMA="}'
  recorded_at: Wed, 07 Sep 2016 02:50:14 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs16.my.salesforce.com/services/apexrest/LotteryPreference
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Df0000003aGup!AQ4AQCCmq6lEPmEwCbBkuaBfJGK0kKygrrTL59dvzmnNxMiysikvzQqfzISAtFiLw3MbMjQnyegqO1hVw2_r4AVwEciSumo3
  response:
    status:
      code: 500
      message: Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"errorCode":"APEX_ERROR","message":"Exception: Method does not exist
        or incorrect signature: ListingLotteryService.getLotteryPreferenceByID(String)\n\n"}]'
  recorded_at: Wed, 07 Sep 2016 02:50:14 GMT
recorded_with: VCR 3.0.3
