---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--exygy.cs14.my.salesforce.com","id":"https://test.salesforce.com/id/00Dc0000003kT9vEAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1504030358605","signature":"AySdozib/Q+imI2MnOx6sRdbkiCSJ2iB3RlrH5YBszo="}'
  recorded_at: Tue, 29 Aug 2017 18:12:39 GMT
- request:
    method: get
    uri: https://sfhousing--exygy.cs14.my.salesforce.com/services/apexrest/Listing/LotteryResult/a0Wc00000064uY0EAI/00094302
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00Dc0000003kT9v";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"URL":null,"officeHours":null,"neighborhoodPreferenceUnitsAvailable":null,"neighborhoodPreferenceAppTotal":null,"lotteryResultsURL":"http://sfmohcd.org/sites/default/files/Documents/MOH/Lottery%20Results/280%20Fell%20Street%20Ranked%20List-%203-22-2017.pdf","lotteryResults":false,"lotteryPreferences":null,"lotteryEndTime":null,"lotteryDate":"2017-03-22T18:00:00.000Z","lotteryCity":"San
        Francisco","liveWorkPreferenceUnitsAvailable":2,"liveWorkPreferenceAppTotal":null,"listingId":"a0Wc00000064uY0EAI","generalLotteryAppTotal":null,"displacedPreferenceUnitsAvailable":null,"displacedPreferenceAppTotal":1,"certOfPreferenceUnitsAvailable":2,"certOfPreferenceAppTotal":null,"bucketResults":null,"applicationResults":[{"neighborhoodPreferenceRank":null,"neighborhoodPreference":false,"lotteryRank":5,"lotteryNumber":"00094302","liveWorkPreferenceRank":null,"liveWorkPreference":false,"generalLotteryRank":null,"displacedPreferenceRank":null,"displacedPreference":false,"certOfPreferenceRank":1,"certOfPreference":true,"applicationId":"a0oc0000002Xv9jAAC"}]}'
  recorded_at: Tue, 29 Aug 2017 18:12:39 GMT
recorded_with: VCR 3.0.3
