---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--QA.cs63.my.salesforce.com","id":"https://test.salesforce.com/id/00D6C0000000TrIUAU/0056C000000eBx5QAE","token_type":"Bearer","issued_at":"1485826617006","signature":"yKxHmqmj9Oq0OoqyzIR4BTYTnl+pMJ83qhC7aG3cLlU="}'
  recorded_at: Tue, 31 Jan 2017 01:36:57 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs63.my.salesforce.com/services/apexrest/Listing/LotteryResult/a0WU000000BmpBdMAJ/00008502
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="6m4uJ26w5zoo/DLDmYNWG1dWpZ8/GSCPe6SBri8Euw0=";
        max-age=604800; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D6C0000000TrI";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"URL":null,"officeHours":null,"neighborhoodPreferenceUnitsAvailable":null,"neighborhoodPreferenceAppTotal":null,"lotteryResultsURL":null,"lotteryResults":true,"lotteryPreferences":null,"lotteryEndTime":null,"lotteryDate":"2015-12-03T19:00:00.000Z","lotteryCity":"San
        Francisco","liveWorkPreferenceUnitsAvailable":null,"liveWorkPreferenceAppTotal":null,"listingId":"a0WU000000BmpBdMAJ","generalLotteryAppTotal":1,"displacedPreferenceUnitsAvailable":null,"displacedPreferenceAppTotal":2,"certOfPreferenceUnitsAvailable":null,"certOfPreferenceAppTotal":2,"bucketResults":null,"applicationResults":[{"neighborhoodPreferenceRank":null,"neighborhoodPreference":false,"lotteryRank":1,"lotteryNumber":"00008502","liveWorkPreferenceRank":null,"liveWorkPreference":false,"generalLotteryRank":null,"displacedPreferenceRank":1,"displacedPreference":true,"certOfPreferenceRank":null,"certOfPreference":false,"applicationId":"a0o6C0000004aNVQAY"}]}'
  recorded_at: Tue, 31 Jan 2017 01:36:57 GMT
recorded_with: VCR 3.0.3
