---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40exygy.com.qa&password=XkzG%26h9%5EA%5El%21<<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00Df0000003aGup!AQ4AQFx_GSFApf1XEalHpx.lhkj_MGFxP4z6NoQux13Tuc5tsZmZ5eKLImrIqR4lCyqlZIx4CswOUvrDcnOswbQd4SVBmK9X","instance_url":"https://sfhousing--qa.cs63.my.salesforce.com","id":"https://test.salesforce.com/id/00Df0000003aGupEAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1474984751535","signature":"dS8sXedPtGzop/jJlU2T/tSnLFZsH2gx+7tCRn1xeOM="}'
  recorded_at: Tue, 27 Sep 2016 13:59:11 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs63.my.salesforce.com/services/apexrest/Listing/LotteryResult/a0WU000000CkiM3MAJ/00002612
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Df0000003aGup!AQ4AQFx_GSFApf1XEalHpx.lhkj_MGFxP4z6NoQux13Tuc5tsZmZ5eKLImrIqR4lCyqlZIx4CswOUvrDcnOswbQd4SVBmK9X
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"URL":null,"officeHours":"M-F 9-5","neighborhoodPreferenceUnitsAvailable":2,"neighborhoodPreferenceAppTotal":4,"lotteryResultsURL":"http://www.google.com?q=lottery","lotteryResults":true,"lotteryPreferences":null,"lotteryEndTime":null,"lotteryDate":"2016-06-09T18:00:00.000Z","lotteryCity":"San
        Francisco","liveWorkPreferenceUnitsAvailable":1,"liveWorkPreferenceAppTotal":27,"listingId":"a0WU000000CkiM3MAJ","generalLotteryAppTotal":130,"displacedPreferenceUnitsAvailable":2,"displacedPreferenceAppTotal":22,"certOfPreferenceUnitsAvailable":1,"certOfPreferenceAppTotal":17,"bucketResults":null,"applicationResults":[{"neighborhoodPreferenceRank":null,"neighborhoodPreference":false,"lotteryRank":3,"lotteryNumber":"00002612","liveWorkPreferenceRank":1,"liveWorkPreference":true,"generalLotteryRank":null,"displacedPreferenceRank":1,"displacedPreference":true,"certOfPreferenceRank":1,"certOfPreference":true,"applicationId":"a0tf0000000vyF3AAI"}]}'
  recorded_at: Tue, 27 Sep 2016 13:59:12 GMT
recorded_with: VCR 3.0.3
