---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs97.my.salesforce.com","id":"https://test.salesforce.com/id/00D0U0000000Qf1UAE/0050P000007QAY9QAO","token_type":"Bearer","issued_at":"1531345358111","signature":"nI9yAUnLttr+a6/SURkrrARE7OE6iZxKBhglZe0uEyM="}'
  recorded_at: Wed, 11 Jul 2018 21:42:38 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs97.my.salesforce.com/services/apexrest/Listing/LotteryResult/a0W0P00000F8YG4UAN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0U0000000Qf1m";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"URL":null,"officeHours":null,"lotteryResultsURL":"http://sfmohcd.org/sites/default/files/Documents/MOH/Lottery%20Results/280%20Fell%20Street%20Ranked%20List-%203-22-2017.pdf","lotteryResults":true,"lotteryPreferences":null,"lotteryEndTime":null,"lotteryDate":"2017-03-22T18:00:00.000Z","lotteryCity":"San
        Francisco","lotteryBuckets":[{"unitsAvailable":1,"totalSubmittedApps":17,"preferenceResults":[{"preferenceRank":1,"lotteryRank":7,"lotteryNumber":"00219526","applicationID":"a0o0P00000HIZEIQA5"},{"preferenceRank":2,"lotteryRank":8,"lotteryNumber":"00205859","applicationID":"a0o0P00000FvwmAQAR"},{"preferenceRank":3,"lotteryRank":12,"lotteryNumber":"00219533","applicationID":"a0o0P00000HIZHBQA5"},{"preferenceRank":4,"lotteryRank":14,"lotteryNumber":"00215696","applicationID":"a0o0P00000HINQdQAP"},{"preferenceRank":5,"lotteryRank":15,"lotteryNumber":"00191016","applicationID":"a0o0P00000Fv20RQAR"},{"preferenceRank":6,"lotteryRank":17,"lotteryNumber":"00192135","applic[...]
