---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--QA.cs51.my.salesforce.com","id":"https://test.salesforce.com/id/00D4B000000D2n3UAC/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1497900768783","signature":"0WAEzBEuv6wnd4+wYZPnoS08r105zglTLtrqlNs54Lc="}'
  recorded_at: Mon, 19 Jun 2017 19:32:49 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs51.my.salesforce.com/services/apexrest/Listing/LotteryResult/a0W4B0000050WOaUAM/00042084
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="6m4uJ26w5zoo/DLDmYNWG1dWpZ8/GSCPe6SBri8Euw0=";
        max-age=86400; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D4B000000D2n3";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"URL":null,"officeHours":null,"lotteryResultsURL":null,"lotteryResults":true,"lotteryPreferences":null,"lotteryEndTime":null,"lotteryDate":"2017-06-01T18:21:00.000Z","lotteryCity":"San
        Francisco","lotteryBuckets":[{"unitsAvailable":3,"totalSubmittedApps":1,"preferenceResults":[],"preferenceOrder":1,"preferenceName":"Live
        or Work in San Francisco Preference"},{"unitsAvailable":2,"totalSubmittedApps":3,"preferenceResults":[{"preferenceRank":1,"lotteryRank":2,"lotteryNumber":"00042084","applicationID":"a0o4B000000J2SKQA0"}],"preferenceOrder":null,"preferenceName":"generalLottery"},{"unitsAvailable":null,"totalSubmittedApps":1,"preferenceResults":[],"preferenceOrder":null,"preferenceName":"Certificate
        of Preference (COP)"},{"unitsAvailable":null,"totalSubmittedApps":null,"preferenceResults":[],"preferenceOrder":null,"preferenceName":"Neighborhood
        Resident Housing Preference (NRHP)"}],"lotteryAppTotal":3,"listingId":"a0W4B0000050WOaUAM"}'
  recorded_at: Mon, 19 Jun 2017 19:32:49 GMT
recorded_with: VCR 3.0.3
