---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--QA.cs63.my.salesforce.com","id":"https://test.salesforce.com/id/00D6C0000000TrIUAU/0056C000000eBx5QAE","token_type":"Bearer","issued_at":"1485826618254","signature":"T/DgTYoSEgqy+eCHSRnOduipclxm2qj709SFCIuFOYU="}'
  recorded_at: Tue, 31 Jan 2017 01:36:58 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs63.my.salesforce.com/services/apexrest/Listing/LotteryResult/Bucket/a0WU000000BmpBdMAJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="6m4uJ26w5zoo/DLDmYNWG1dWpZ8/GSCPe6SBri8Euw0=";
        max-age=604800; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D6C0000000TrI";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"URL":null,"officeHours":null,"neighborhoodPreferenceUnitsAvailable":null,"neighborhoodPreferenceAppTotal":null,"lotteryResultsURL":null,"lotteryResults":true,"lotteryPreferences":null,"lotteryEndTime":null,"lotteryDate":"2015-12-03T19:00:00.000Z","lotteryCity":"San
        Francisco","liveWorkPreferenceUnitsAvailable":null,"liveWorkPreferenceAppTotal":null,"listingId":"a0WU000000BmpBdMAJ","generalLotteryAppTotal":1,"displacedPreferenceUnitsAvailable":null,"displacedPreferenceAppTotal":2,"certOfPreferenceUnitsAvailable":null,"certOfPreferenceAppTotal":2,"bucketResults":[{"preferenceName":"liveWorkPreference","bucketResults":[]},{"preferenceName":"certOfPreference","bucketResults":[{"preferenceRank":1,"lotteryRank":3,"lotteryNumber":"00008503","applicationID":"a0o6C0000004aNaQAI"},{"preferenceRank":2,"lotteryRank":5,"lotteryNumber":"00008501","applicationID":"a0o6C0000004aNQQAY"}]},{"preferenceName":"displacedPreference","bucketResults":[{"preferenceRank":1,"lotteryRank":1,"lotteryNumber":"00008502","applicationID":"a0o6C0000004aNVQAY"},{"preferenceRank":2,"lotteryRank":2,"lotteryNumber":"00008504","applicationID":"a0o6C0000004aNfQAI"}]},{"preferenceName":"neighborhoodPreference","bucketResults":[]},{"preferenceName":"generalLottery","bucketResults":[{"preferenceRank":1,"lotteryRank":4,"lotteryNumber":"00008505","applicationID":"a0o6C0000004aNkQAI"}]}],"applicationResults":null}'
  recorded_at: Tue, 31 Jan 2017 01:36:58 GMT
recorded_with: VCR 3.0.3
