---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs25.my.salesforce.com","id":"https://test.salesforce.com/id/00D1b0000000hVgEAI/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1503784437012","signature":"2MSsp4XliCEnAKBAGJvZgwaERMz0ZlxU0l0pswufHlo="}'
  recorded_at: Sat, 26 Aug 2017 21:53:57 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs25.my.salesforce.com/services/apexrest/Listing/LotteryResult/a0W0P00000DZTkAUAX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D1b0000000hVg";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"URL":null,"officeHours":null,"lotteryResultsURL":"http://sfmohcd.org/sites/default/files/Documents/MOH/Lottery%20Results/280%20Fell%20Street%20Ranked%20List-%203-22-2017.pdf","lotteryResults":false,"lotteryPreferences":null,"lotteryEndTime":null,"lotteryDate":"2017-03-22T18:00:00.000Z","lotteryCity":"San
        Francisco","lotteryBuckets":[{"unitsAvailable":2,"totalSubmittedApps":28,"preferenceResults":[{"preferenceRank":1,"lotteryRank":24,"lotteryNumber":"00040782","applicationID":"a0o0P00000FEdvDQAT"},{"preferenceRank":2,"lotteryRank":32,"lotteryNumber":"00038947","applicationID":"a0o0P00000FEZV0QAP"}],"preferenceOrder":1,"preferenceName":"Certificate
        of Preference (COP)"},{"unitsAvailable":3,"totalSubmittedApps":28,"preferenceResults":[],"preferenceOrder":2,"preferenceName":"Displaced
        Tenant Housing Preference (DTHP)"},{"unitsAvailable":2,"totalSubmittedApps":264,"preferenceResults":[{"preferenceRank":1,"lotteryRank":1,"lotteryNumber":"00038765","applicationID":"a0o0P00000FEUzFQAX"},{"preferenceRank":2,"lotteryRank":2,"lotteryNumber":"00038898","applicationID":"a0o0P00000FEXVaQAP"},{"preferenceRank":3,"lotteryRan[...]
