---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40mohcd.com.full&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D210000000OEp!AQMAQI26ULQ8nQQeJ25JkGk0kUnHtwi.e_lz6ndSwRNhE.qv0ownVoqP6tTfhCKJI7k.GTVB4qVp4fJEuDbyjI2DeeObINrx","instance_url":"https://sfhousing--full.cs26.my.salesforce.com","id":"https://test.salesforce.com/id/00D210000000OEpEAM/00521000000E79dAAC","token_type":"Bearer","issued_at":"1466206803093","signature":"uC0Y8ftqwY7L8bovXgSJsnHZhdlXt3Edpt9sBxMowAQ="}'
  recorded_at: Fri, 17 Jun 2016 23:40:03 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs26.my.salesforce.com/services/apexrest/LotteryPreference
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D210000000OEp!AQMAQI26ULQ8nQQeJ25JkGk0kUnHtwi.e_lz6ndSwRNhE.qv0ownVoqP6tTfhCKJI7k.GTVB4qVp4fJEuDbyjI2DeeObINrx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"attributes":{"type":"Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Lottery_Preference__c/a0m210000004l2cAAA"},"Id":"a0m210000004l2cAAA","Name":"Live/Work","Description__c":"Lives
        near location"},{"attributes":{"type":"Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Lottery_Preference__c/a0m21000000DFIuAAO"},"Id":"a0m21000000DFIuAAO","Name":"Certificate
        of Preference","Description__c":"Certificate of Preference (COP)"},{"attributes":{"type":"Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Lottery_Preference__c/a0m21000000DFIzAAO"},"Id":"a0m21000000DFIzAAO","Name":"Displaced
        Tenants Housing Preference","Description__c":"DTHP program"},{"attributes":{"type":"Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Lottery_Preference__c/a0m21000000DFJ4AAO"},"Id":"a0m21000000DFJ4AAO","Name":"Live/Work","Description__c":"Lives
        for works close to property"},{"attributes":{"type":"Lottery_Preference__c","url":"/services/data/v35.0/sobjects/Lottery_Preference__c/a0m21000000DFJ9AAO"},"Id":"a0m21000000DFJ9AAO","Name":"Live/Work
        in SF","Description__c":"Live or work in San Francisco"}]'
  recorded_at: Fri, 17 Jun 2016 23:40:03 GMT
recorded_with: VCR 3.0.1
