---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"<<SALESFORCE_INSTANCE_URL>>","id":"https://test.salesforce.com/id/00D210000009rvpEAA/0050P000007QAY9QAO","token_type":"Bearer","issued_at":"1545880608799","signature":"zr6XnMFm/bbJymtZnOrhwnwc7BUZ0W15JE1wiUooDFA="}'
  recorded_at: Thu, 27 Dec 2018 03:16:48 GMT
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/apexrest/Listing/LotteryResult/a0W0P00000F8YG4UAN/00042084"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D210000009rvpm";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"URL":null,"officeHours":null,"lotteryResultsURL":"http://sfmohcd.org/sites/default/files/Documents/MOH/Lottery%20Results/280%20Fell%20Street%20Ranked%20List-%203-22-2017.pdf","lotteryResults":false,"lotteryPreferences":null,"lotteryEndTime":null,"lotteryDate":"2017-03-22T18:00:00.000Z","lotteryCity":"San
        Francisco","lotteryBuckets":[{"unitsAvailable":1,"totalSubmittedApps":37,"preferenceResults":[],"preferenceOrder":1,"preferenceName":"Certificate
        of Preference (COP)"},{"unitsAvailable":2,"totalSubmittedApps":90,"preferenceResults":[],"preferenceOrder":2,"preferenceName":"Rent
        Burdened / Assisted Housing Preference"},{"unitsAvailable":3,"totalSubmittedApps":36,"preferenceResults":[],"preferenceOrder":3,"preferenceName":"Displaced
        Tenant Housing Preference (DTHP)"},{"unitsAvailable":4,"totalSubmittedApps":35,"preferenceResults":[],"preferenceOrder":4,"preferenceName":"Neighborhood
        Resident Housing Preference (NRHP)"},{"unitsAvailable":5,"totalSubmittedApps":52,"preferenceResults":[],"preferenceOrder":5,"preferenceName":"Live
        or Work in San Francisco Preference"},{"unitsAvailable":1,"totalSubmittedApps":134,"preferenceResults":[],"preferenceOrder":null,"preferenceName":"generalLottery"},{"unitsAvailable":null,"totalSubmittedApps":23,"preferenceResults":[],"preferenceOrder":null,"preferenceName":"Alice
        Griffith Housing Development Resident"}],"lotteryAppTotal":244,"listingId":"a0W0P00000F8YG4UAN"}'
  recorded_at: Thu, 27 Dec 2018 03:16:49 GMT
recorded_with: VCR 3.0.3
