---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--QA.cs63.my.salesforce.com","id":"https://test.salesforce.com/id/00D6C0000000TrIUAU/0056C000000eBx5QAE","token_type":"Bearer","issued_at":"1485826255337","signature":"jvIXr5l3b+s9I902k2Cu6ORYBc4p4dz5047NABC5qTY="}'
  recorded_at: Tue, 31 Jan 2017 01:30:55 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs63.my.salesforce.com/services/apexrest/Listing/Preferences/a0WU000000BmpBdMAJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="6m4uJ26w5zoo/DLDmYNWG1dWpZ8/GSCPe6SBri8Euw0=";
        max-age=604800; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D6C0000000TrI";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"unitsAvailable":20,"readMoreUrl":"http://sfmohcd.org/certificate-preference","preferenceName":"Certificate
        of Preference (COP)","order":1,"NRHPDistrict":null,"name":"LP-00013","listingPreferenceID":"a0l6C000000CwqJQAS","listingId":"a0WU000000BmpBdMAJ","description":"Households
        in which at least one member holds a Certificate of Preference from the former
        San Francisco Redevelopment Agency. COP holders were displaced by Agency action
        generally during the 1960s and 1970s.","appTotal":null}]'
  recorded_at: Tue, 31 Jan 2017 01:30:55 GMT
recorded_with: VCR 3.0.3
