---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--QA.cs51.my.salesforce.com","id":"https://test.salesforce.com/id/00D4B000000D2n3UAC/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1499362394640","signature":"avtaiG9OUUWXRj2lwrbtyE6Nz0hJRH0ohYNNGj9hj1o="}'
  recorded_at: Thu, 06 Jul 2017 17:33:14 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs51.my.salesforce.com/services/apexrest/Listing/Preferences/a0W0P00000DZ4dTUAT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="6m4uJ26w5zoo/DLDmYNWG1dWpZ8/GSCPe6SBri8Euw0=";
        max-age=86400; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D4B000000D2n3";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"unitsAvailable":62,"readMoreUrl":"http://sfmohcd.org/certificate-preference","preferenceName":"Certificate
        of Preference (COP)","order":1,"NRHPDistrict":null,"name":"LP-00041","listingPreferenceID":"a0l0P00001JEK5tQAH","listingId":"a0W0P00000DZ4dTUAT","description":"Households
        in which one member holds a Certificate of Preference from the former San
        Francisco Redevelopment Agency. COP holders were displaced by Agency action
        generally during the 1960s and 1970s.","appTotal":null},{"unitsAvailable":12,"readMoreUrl":"http://sfmohcd.org/displaced-tenant-housing-preference-program-0","preferenceName":"Displaced
        Tenant Housing Preference (DTHP)","order":2,"NRHPDistrict":null,"name":"LP-00042","listingPreferenceID":"a0l0P00001JEK5yQAH","listingId":"a0W0P00000DZ4dTUAT","description":"Households
        in which one member holds a Displaced Tenant Housing Preference Certificate.
        DTHP Certificate holders are people who have been evicted through either an
   [...]
