---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs25.my.salesforce.com","id":"https://test.salesforce.com/id/00D1b0000000hVgEAI/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1503804772956","signature":"1AVGi6jCwXgIrbSVThUntJnpD/rCmUqlFNcVUg8od1o="}'
  recorded_at: Sun, 27 Aug 2017 03:32:52 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs25.my.salesforce.com/services/apexrest/Listing/Preferences/a0W0P00000DZTkAUAX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D1b0000000hVg";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"unitsAvailable":2,"readMoreUrl":"http://sfmohcd.org/certificate-preference","preferenceName":"Certificate
        of Preference (COP)","pdfUrl":null,"order":1,"NRHPDistrict":null,"name":"LP-00085","listingPreferenceID":"a0l0P00001JEWvAQAX","listingId":"a0W0P00000DZTkAUAX","description":"Households
        in which one member holds a Certificate of Preference from the former San
        Francisco Redevelopment Agency. COP holders were displaced by Agency action
        generally during the 1960s and 1970s.","appTotal":null},{"unitsAvailable":3,"readMoreUrl":"http://sfmohcd.org/displaced-tenant-housing-preference-program-0","preferenceName":"Displaced
        Tenant Housing Preference (DTHP)","pdfUrl":null,"order":2,"NRHPDistrict":null,"name":"LP-00251","listingPreferenceID":"a0l1b000000AjIjAAK","listingId":"a0W0P00000DZTkAUAX","description":"For
        households in which at least one member holds a Displaced Tenant Housing Preference
        Certificate. DTHP Certificate holders are tenants who were evicted[...]
