---
http_interactions:
- request:
    method: post
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/oauth2/token"
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"<<SALESFORCE_INSTANCE_URL>>","id":"https://test.salesforce.com/id/00D8H0000004dNlUAI/0050P000007QAY9QAO","token_type":"Bearer","issued_at":"1709932920671","signature":"Fn872Map1KwOZJjEfuvVDUbRqkxH5iu+scbfMIO33kc="}'
  recorded_at: Fri, 08 Mar 2024 21:22:00 GMT
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/apexrest/Listing/Preferences/a0W0P00000F8YG4UAN"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"unitsAvailable":1,"requiresProof":false,"readMoreUrl":"http://sfmohcd.org/certificate-preference","preferenceProofRequirementDescription":null,"preferenceName":"Certificate
        of Preference (COP)","pdfUrl":null,"order":1,"NRHPDistrict":null,"name":"LP-09774","listingPreferenceID":"a0l0P00001Lx8XKQAZ","listingId":"a0W0P00000F8YG4UAN","description":"For
        households in which at least one member holds a Certificate of Preference
        from the former San Francisco Redevelopment Agency. COP holders were displaced
        by Agency action generally during the 1960s and 1970s.","customPreferenceDescription":false,"appTotal":null},{"unitsAvailable":2,"requiresProof":false,"readMoreUrl":"http://sfmohcd.org/housing-preference-programs","preferenceProofRequirementDescription":null,"preferenceName":"Rent
        Burdened / Assisted Housing Preference","pdfUrl":null,"order":2,"NRHPDistrict":null,"name":"LP-09777","listingPreferenceID":"a0l0P00001Lx8XZQAZ","listingId":"a0W0P00000F8YG4UAN","description":"For
        households who are currently paying more than 50% of income for housing costs
        or are living in publi[...]
