---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs96.my.salesforce.com","id":"https://test.salesforce.com/id/00D1g0000004c5rEAA/0050P000007QAY9QAO","token_type":"Bearer","issued_at":"1519860025967","signature":"eFRUY3wHvHhLPTGbRnJlMzDDEoAXCDlNwv1U8CjodGs="}'
  recorded_at: Wed, 28 Feb 2018 23:20:25 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs96.my.salesforce.com/services/apexrest/Listing/Preferences/a0W0P00000F8YG4UAN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D1g0000004c5rp";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"unitsAvailable":1,"requiresProof":false,"readMoreUrl":"http://sfmohcd.org/certificate-preference","preferenceProofRequirementDescription":null,"preferenceName":"Certificate
        of Preference (COP)","pdfUrl":null,"order":1,"NRHPDistrict":null,"name":"LP-09774","listingPreferenceID":"a0l0P00001Lx8XKQAZ","listingId":"a0W0P00000F8YG4UAN","description":"For
        households in which at least one member holds a Certificate of Preference
        from the former San Francisco Redevelopment Agency. COP holders were displaced
        by Agency action generally during the 1960s and 1970s.","appTotal":null},{"unitsAvailable":2,"requiresProof":false,"readMoreUrl":"http://sfmohcd.org/housing-preference-programs","preferenceProofRequirementDescription":null,"preferenceName":"Rent
        Burdened / Assisted Housing Preference","pdfUrl":null,"order":2,"NRHPDistrict":null,"name":"LP-09777","listingPreferenceID":"a0l0P00001Lx8XZQAZ","listingId":"a0W0P00000F8YG4UAN","description":"For
        households who are currently paying more than 50% of income for housing costs
        or are living in publi[...]
