---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=3%234icmT1bynM28L*<<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--Full.cs68.my.salesforce.com","id":"https://test.salesforce.com/id/00D1D0000009nrYUAQ/0050P000007QAY9QAO","token_type":"Bearer","issued_at":"1575302494764","signature":"V4tMyIFB5QDC5tkBzL78H5Ed5kKDlKAdIkBE+m5ZM4g="}'
  recorded_at: Mon, 02 Dec 2019 16:01:34 GMT
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/apexrest/ListingDetails?subset=browse&type=rental"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D1D0000009nrYm";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"unitSummaries":{"reserved":null,"general":[{"unitType":"Studio","totalUnits":17,"priorities":null,"minSquareFt":302,"minRentalMinIncome":532.00,"minPriceWithParking":null,"minPriceWithoutParking":null,"minPercentIncome":null,"minOccupancy":1,"minMonthlyRent":266.00,"minHoaDuesWithParking":null,"minHoaDuesWithoutParking":null,"maxSquareFt":337,"maxRentalMinIncome":2042.00,"maxPriceWithParking":null,"maxPriceWithoutParking":null,"maxPercentIncome":null,"maxOccupancy":2,"maxMonthlyRent":1021.00,"maxHoaDuesWithParking":null,"maxHoaDuesWithoutParking":null,"listingID":"a0W0P00000HbqMoUAJ"},{"unitType":"1
        BR","totalUnits":54,"priorities":null,"minSquareFt":453,"minRentalMinIncome":600.00,"minPriceWithParking":null,"minPriceWithoutParking":null,"minPercentIncome":null,"minOccupancy":1,"minMonthlyRent":300.00,"minHoaDuesWithParking":null,"minHoaDuesWithoutParking":null,"maxSquareFt":587,"maxRentalMinIncome":2324.00,"maxPriceWithParking":null,"maxPriceWithoutParking":null,"maxPercentIncome":null,"maxOccupancy":3,"maxMonthlyRent":1162.00,"maxHoaDuesWithParking":null,"maxHoaDuesWithoutParking":null,"listingID":"a0W0P00000HbqMoUAJ"}]},"reservedDescriptor":null,"prioritiesDescriptor":[{"shortDescription":null,"numberOfUnits":3,"name":"Hearing/Vision
        impairments","listingId":"a0W0P00000HbqMoUAJ"},{"shortDescription":null,"numberOfUnits":12,"name":"Mobility
        impairments","listingId":"a0W0P00000HbqMoUAJ"}],"listingID":"a0W0P00000HbqMoUAJ","listing":{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0W0P00000HbqMoUAJ"},"Id":"a0W0P00000HbqMoUAJ","Tenure__c":"New
        rental","Name":"Casa Adelante","Application_Due_Date__c":"2019-11-12T01:00:00.000+0000","Accepting_Online_Applications__c":true,"Lottery_Date__c":"2019-10-09T22:00:00.000+0000","Lottery_Status__c":"Not
        Yet Run","Publish_Lottery_Results__c":false,"Lottery_Results_Date__c":"2019-10-16","Reserved_community_type__c":"Senior","Reserved_community_minimum_age__c":62,"Reserved_community_type_description__c":"The
        head of the household must be 62 years of age or older.","hasWaitlist__c":true,"Units_Available__c":71,"LastModifiedDate":"2019-10-30T19:31:03.000+0000","Building_URL__c":"https://sfmohcd.org/sites/default/files/Documents/MOH/Housing%20Listing%20Photos/1296%20Shotwell%20Dahlia%20image.jpg","Realtor_Commission_Unit__c":"percent","Allows_Realtor_Commission__c":false,"Building_Name__c":"Casa
        Adelante","Building_Street_Address__c":"1296 Shotwell Street","Building_City__c":"San
        Francisco","Building_State__c":"CA","Building_Zip_Code__c":"94110","Building__c":"a0a0P00000HXwtlQAD","RecordTypeId":"0120P000000kPUSQA2","Building__r":{"attributes":{"type":"Building__c","url":"/services/data/v35.0/sobjects/Building__c/a0a0P00000HXwtlQAD"},"Id":"a0a0P00000HXwtlQAD"},"RecordType":{"attributes":{"type":"RecordType","url":"/services/data/v35.0/sobjects/RecordType/0120P000000kPUSQA2"},"Id":"0120P000000kPUSQA2","Name":"Rental"}},"doesMatch":null,"chartTypes":[{"year":2019,"percent":50,"numOfHousehold":null,"chartType":"HUD
        Unadjusted","amount":null},{"year":2019,"percent":15,"numOfHousehold":null,"chartType":"HUD
        Unadjusted","amount":null},{"year":2019,"percent":25,"numOfHousehold":null,"chartType":"HUD
        Unadjusted","amount":null}]},{"unitSummaries":{"reserved":null,"general":[{"unitType":"1
        BR","totalUnits":5,"priorities":null,"minSquareFt":535,"minRentalMinIncome":2340.00,"minPriceWithParking":null,"minPriceWithoutParking":null,"minPercentIncome":null,"minOccupancy":1,"minMonthlyRent":1170.00,"minHoaDuesWithPa[...]
