---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"<<SALESFORCE_INSTANCE_URL>>","id":"https://test.salesforce.com/id/00D0t0000000xVqEAI/0050P000007QAY9QAO","token_type":"Bearer","issued_at":"1562024199962","signature":"ULOVN0TyWSVoy6K0p00ugh9TUWxqfvMzlGaKjcmr6UE="}'
  recorded_at: Mon, 01 Jul 2019 23:36:39 GMT
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/apexrest/ListingDetails?subset=browse&type=ownership"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D0t0000000xVqm";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"unitSummaries":{"reserved":null,"general":[{"unitType":"1 BR","totalUnits":2,"priorities":null,"minSquareFt":900,"minRentalMinIncome":0.00,"minPriceWithParking":380000.00,"minPriceWithoutParking":320000.00,"minPercentIncome":null,"minOccupancy":1,"minMonthlyRent":null,"minHoaDuesWithParking":650.00,"minHoaDuesWithoutParking":450.00,"maxSquareFt":900,"maxRentalMinIncome":0.00,"maxPriceWithParking":380000.00,"maxPriceWithoutParking":320000.00,"maxPercentIncome":null,"maxOccupancy":null,"maxMonthlyRent":null,"maxHoaDuesWithParking":650.00,"maxHoaDuesWithoutParking":450.00,"listingID":"a0W0P00000GlKfBUAV"},{"unitType":"2
        BR","totalUnits":2,"priorities":null,"minSquareFt":1050,"minRentalMinIncome":0.00,"minPriceWithParking":480000.00,"minPriceWithoutParking":420000.00,"minPercentIncome":null,"minOccupancy":2,"minMonthlyRent":null,"minHoaDuesWithParking":750.00,"minHoaDuesWithoutParking":550.00,"maxSquareFt":1050,"maxRentalMinIncome":0.00,"maxPriceWithParking":480000.00,"maxPriceWithoutParking":420000.00,"maxPercentIncome":null,"maxOccupancy":null,"maxMonthlyRent":null,"maxHoaDuesWithParking":750.00,"maxHoaDuesWithoutParking":550.00,"listingID":"a0W0P00000GlKfBUAV"},{"unitType":"3
        BR","totalUnits":2,"priorities":null,"minSquareFt":1050,"minRentalMinIncome":0.00,"minPriceWithParking":580000.00,"minPriceWithoutParking":520000.00,"minPercentIncome":null,"minOccupancy":3,"minMonthlyRent":null,"minHoaDuesWithParking":850.00,"minHoaDuesWithoutParking":650.00,"maxSquareFt":2000,"maxRentalMinIncome":0.00,"maxPriceWithParking":580000.00,"maxPriceWithoutParking":520000.00,"maxPercentIncome":null,"maxOccupancy":null,"maxMonthlyRent":null,"maxHoaDuesWithParking":850.00,"maxHoaDuesWithoutParking":650.00,"listingID":"a0W0P00000GlKfBUAV"}]},"reservedDescriptor":null,"prioritiesDescriptor":null,"listingID":"a0W0P00000GlKfBUAV","listing":{"attributes":{"type":"Listing__c","url":"/services/data/v35.0/sobjects/Listing__c/a0W0P00000GlKfBUAV"},"Id":"a0W0P00000GlKfBUAV","Tenure__c":"New
        sale","Name":"Sale Test Listing (do not modify) - Homeownership Acres","Application_Due_Date__c":"2020-01-03T01:00:00.000+0000","Accepting_Online_Applications__c":true,"Lottery_Date__c":"2020-01-17T19:00:00.000+0000","Lottery_Results__c":false,"Lottery_Results_Date__c":"2020-01-24","Reserved_community_minimum_age__c":0,"hasWaitlist__c":false,"Units_Available__c":6,"LastModifiedDate":"2019-06-27T21:51:02.000+0000","Building_URL__c":"https://cdn.unifiedcommerce.com/content/product/large/8710126185452.jpg","Realtor_Commission_Amount__c":3.00,"Realtor_Commission_Unit__c":"percent","Realtor_Commission_Info__c":"<b>This</b>
        is <i>how</i> <a href=\"http://exygy.com\" target=\"_blank\">link</a>","Allows_Realtor_Commission__c":true,"Building_Name__c":"Test
        Homeownership Building I","Building_City__c":"San Francisco","Building_State__c":"CA","Building__c":"a0a0P00000HHpRyQAL","RecordTypeId":"0120P000000kPURQA2","Building__r":{"attributes":{"type":"Building__c","url":"/services/data/v35.0/sobjects/Building__c/a0a0P00000HHpRyQAL"},"Id":"a0a0P00000HHpRyQAL"},"RecordType":{"attributes":{"type":"RecordType","url":"/services/data/v35.0/sobjects/RecordType/0120P000000kPURQA2"},"Id":"0120P000000kPURQA2","Name":"Listing
        Ownership"}},"doesMatch":null,"chartTypes":[{"year":2017,"percent":55,"numOfHousehold":null,"chartType":"HUD
        Unadjusted","amount":null},{"year":2018,"percent":60,"numOfHousehold":null,"chartType":"HCD/TCAC","amount":null},{"year":2018,"percent":55,"numOfHousehold":null,"chartType":"HUD
        Unadjusted","amount":null}]},{"unitSummaries":{"reserved":null,"general":[{"unitType":"1
        BR","totalUnits":72,"priorities":null,"minSquareFt":800,"minRentalMinIncome":0.00,"minPriceWithParking":null,"minPriceWithoutParking":183142.00,"minPercentIncome":null,"minOccupancy":1,"minMonthlyRent":null,"minHoaDuesWithParking":null,"m[...]
