---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=dave%40exygy.com.qa&password=XkzG%26h9%5EA%5El%21<<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00Df0000003aGup!AQ4AQBEPjNyj0_sMfIKAzsZf.cq0l_m.01ekeE.N9n8voyX2_qKk9jFq.CDQsm_WFse3PlhnR3uIap5qMNP9FATwRKA4LWsW","instance_url":"https://sfhousing--qa.cs63.my.salesforce.com","id":"https://test.salesforce.com/id/00Df0000003aGupEAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1473217944540","signature":"MaI83lxAgBnp4A80cXoh47BdrNcNKMq0AXNyEZULMG0="}'
  recorded_at: Wed, 07 Sep 2016 03:12:24 GMT
- request:
    method: get
    uri: https://sfhousing--qa.cs63.my.salesforce.com/services/apexrest/Listing/Units/a0Wf0000003j03WEAQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Df0000003aGup!AQ4AQBEPjNyj0_sMfIKAzsZf.cq0l_m.01ekeE.N9n8voyX2_qKk9jFq.CDQsm_WFse3PlhnR3uIap5qMNP9FATwRKA4LWsW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0bf0000002iYJ0AAM"},"Unit_Type__c":"1
        BR","BMR_Rent_Monthly__c":1000.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":2500.00,"Unit_Square_Footage__c":890,"Unit_Number__c":"102","Unit_Floor__c":"2","Number_of_Bathrooms__c":1.00,"Id":"a0bf0000002iYJ0AAM"},{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0bf0000002iYJ5AAM"},"Unit_Type__c":"2
        BR","BMR_Rent_Monthly__c":1000.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":2500.00,"Unit_Square_Footage__c":890,"Unit_Number__c":"202","Unit_Floor__c":"2","Number_of_Bathrooms__c":1.00,"Id":"a0bf0000002iYJ5AAM"}]'
  recorded_at: Wed, 07 Sep 2016 03:12:25 GMT
recorded_with: VCR 3.0.3
