---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"<<SALESFORCE_INSTANCE_URL>>","id":"https://test.salesforce.com/id/00D210000009rvpEAA/0050P000007QAY9QAO","token_type":"Bearer","issued_at":"1545880607611","signature":"TqxMCrPAjN/JB4Pgdqy4AHqdWQ8UT3KpSOUmYsxKmC4="}'
  recorded_at: Thu, 27 Dec 2018 03:16:47 GMT
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/apexrest/Listing/Units/a0W0P00000F8YG4UAN"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D210000009rvpm";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0b0P00001Fb3yNQAR"},"Unit_Type__c":"1
        BR","BMR_Rent_Monthly__c":2102.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":5255.00,"Unit_Number__c":"311","Unit_Floor__c":"3","Number_of_Bathrooms__c":1.00,"Status__c":"Available","isReservedCommunity__c":false,"AMI_chart_type__c":"HUD
        Unadjusted","AMI_chart_year__c":2016,"of_AMI_for_Pricing_Unit__c":100,"Id":"a0b0P00001Fb3yNQAR"}]'
  recorded_at: Thu, 27 Dec 2018 03:16:48 GMT
recorded_with: VCR 3.0.3
