---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--exygy.cs14.my.salesforce.com","id":"https://test.salesforce.com/id/00Dc0000003kT9vEAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1504030357534","signature":"e4GokwMVuJ4LUKV5JiKgZzbpMAaFP2O+FkJC8DadeKA="}'
  recorded_at: Tue, 29 Aug 2017 18:12:37 GMT
- request:
    method: get
    uri: https://sfhousing--exygy.cs14.my.salesforce.com/services/apexrest/Listing/Units/a0Wc00000064uY0EAI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; max-age=86400;
        report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00Dc0000003kT9v";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"attributes":{"type":"Unit__c","url":"/services/data/v35.0/sobjects/Unit__c/a0bc0000006V9pLAAS"},"Unit_Type__c":"1
        BR","BMR_Rent_Monthly__c":2102.00,"BMR_Rental_Minimum_Monthly_Income_Needed__c":5255.00,"Unit_Number__c":"311","Unit_Floor__c":"3","Number_of_Bathrooms__c":1.00,"Status__c":"Available","isReservedCommunity__c":false,"AMI_chart_type__c":"HUD
        Unadjusted","AMI_chart_year__c":2017,"of_AMI_for_Pricing_Unit__c":100,"Id":"a0bc0000006V9pLAAS"}]'
  recorded_at: Tue, 29 Aug 2017 18:12:37 GMT
recorded_with: VCR 3.0.3
