---
http_interactions:
- request:
    method: get
    uri: https://sfgis-portal.sfgov.org/svc/rest/services/dahlia/NHRP_Composite/GeocodeServer/findAddressCandidates?City=San%20Francisco&State=CA&Street=1299191%20Blahblah%20St&f=pjson&outfields=loc_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 222e5f3e
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"spatialReference\": {\n  \"wkid\": 102100,\n  \"latestWkid\":
        3857\n },\n \"candidates\": [\n  \n ]\n}"
  recorded_at: Thu, 01 Mar 2018 00:00:42 GMT
recorded_with: VCR 3.0.3
