---
http_interactions:
- request:
    method: get
    uri: https://sfgis-svc.sfgov.org/arcgis/rest/services/myr/NRHP_Composite/GeocodeServer/findAddressCandidates?City=San%20Francisco&Street=4053%2018th%20St&f=pjson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 4d95c7f6
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\n \"spatialReference\": {\n  \"wkid\": 102100,\n  \"latestWkid\":
        3857\n },\n \"candidates\": [\n  {\n   \"address\": \"4053 18TH ST, San Francisco\",\n
        \  \"location\": {\n    \"x\": -13629293.11924395,\n    \"y\": 4545683.8914925382\n
        \  },\n   \"score\": 100,\n   \"attributes\": {\n    \n   }\n  },\n  {\n   \"address\":
        \"4053 18TH ST, San Francisco\",\n   \"location\": {\n    \"x\": -13629288.270665675,\n
        \   \"y\": 4545692.3312512981\n   },\n   \"score\": 100,\n   \"attributes\":
        {\n    \n   }\n  },\n  {\n   \"address\": \"4054 18TH ST, San Francisco\",\n
        \  \"location\": {\n    \"x\": -13629295.954870859,\n    \"y\": 4545730.5263941195\n
        \  },\n   \"score\": 79,\n   \"attributes\": {\n    \n   }\n  }\n ]\n}"
  recorded_at: Mon, 10 Oct 2016 21:42:10 GMT
- request:
    method: get
    uri: https://sfgis-svc.sfgov.org/arcgis/rest/services/myr/NRHP_002/MapServer/0/query?f=pjson&geometry=-13629293.11924395,4545683.891492538&geometryType=esriGeometryPoint&objectIds=3&returnCountOnly=true&spatialRel=esriSpatialRelIntersects
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - NkdDShcQpxk2vvzP_1469053405
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
         "count": 1
        }
  recorded_at: Mon, 10 Oct 2016 21:42:10 GMT
recorded_with: VCR 3.0.3
