---
http_interactions:
- request:
    method: get
    uri: https://sfgis-portal.sfgov.org/svc/rest/services/dahlia/NHRP_Composite/GeocodeServer/findAddressCandidates?City=San%20Francisco&State=CA&Street=1222%20Harrison%20St&f=pjson&outfields=loc_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 1d5b3942
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
         "spatialReference": {
          "wkid": 102100,
          "latestWkid": 3857
         },
         "candidates": [
          {
           "address": "1222 HARRISON ST, San Francisco, CA",
           "location": {
            "x": -13626517.284002636,
            "y": 4547486.5483913906
           },
           "score": 100,
           "attributes": {
            "Loc_name": "eas"
           },
           "extent": {
            "xmin": -13626717.284002636,
            "ymin": 4547286.5483913906,
            "xmax": -13626317.284002636,
            "ymax": 4547686.5483913906
           }
          },
          {
           "address": "1222 HARRISON ST, San Francisco, CA",
           "location": {
            "x": -13626501.86483863,
            "y": 4547488.1667259131
           },
           "score": 100,
           "attributes": {
            "Loc_name": "StClines"
           },
           "extent": {
            "xmin": -13626701.86483863,
            "ymin": 4547288.1667259131,
            "xmax": -13626301.86483863,
            "ymax": 4547688.1667259131
           }
          },
          {
           "address": "1223 HARRISON ST, San Francisco, CA",
           "location": {
            "x": -13626484.411478126,
            "y": 4547462.5159868533
           },
           "score": 79,
           "attributes": {
            "Loc_name": "StClines"
           },
           "extent": {
            "xmin": -13626684.411478126,
            "ymin": 4547262.5159868533,
            "xmax": -13626284.411478126,
            "ymax": 4547662.5159868533
           }
          }
         ]
        }
  recorded_at: Fri, 30 Mar 2018 22:38:26 GMT
- request:
    method: get
    uri: https://sfgis-portal.sfgov.org/svc/rest/services/dahlia/NRHP_pref/MapServer/0/query?f=pjson&geometry=-13626517.284002636,4547486.548391391&geometryType=esriGeometryPoint&returnCountOnly=true&spatialRel=esriSpatialRelIntersects&where=projid=%272012-021%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - SZWAtfqa3YxEYrZn_1519419533
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
         "count": 1
        }
  recorded_at: Fri, 30 Mar 2018 22:38:26 GMT
recorded_with: VCR 3.0.3
