---
http_interactions:
- request:
    method: get
    uri: https://sfgis-svc.sfgov.org/arcgis/rest/services/myr/NP_Composite_001/GeocodeServer/findAddressCandidates?City=San%20Francisco&Street=4053%2018th%20St&f=pjson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 26f51bb2
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\n \"spatialReference\": {\n  \"wkid\": 102100,\n  \"latestWkid\":
        3857\n },\n \"candidates\": [\n  {\n   \"address\": \"4053 18TH ST, San Francisco\",\n
        \  \"location\": {\n    \"x\": -13629293.11924395,\n    \"y\": 4545683.8914925382\n
        \  },\n   \"score\": 100,\n   \"attributes\": {\n    \n   }\n  },\n  {\n   \"address\":
        \"4053 18TH ST, San Francisco\",\n   \"location\": {\n    \"x\": -13629289.140881428,\n
        \   \"y\": 4545703.8986498807\n   },\n   \"score\": 100,\n   \"attributes\":
        {\n    \n   }\n  },\n  {\n   \"address\": \"4054 18TH ST, San Francisco\",\n
        \  \"location\": {\n    \"x\": -13629295.084645359,\n    \"y\": 4545718.9589669053\n
        \  },\n   \"score\": 79,\n   \"attributes\": {\n    \n   }\n  }\n ]\n}"
  recorded_at: Thu, 21 Jul 2016 18:54:25 GMT
- request:
    method: get
    uri: https://sfgis-svc.sfgov.org/arcgis/rest/services/myr/NRHP_002/MapServer/0/query?f=pjson&geometry=-13629293.11924395,4545683.891492538&geometryType=esriGeometryPoint&objectIds=3&returnCountOnly=true&spatialRel=esriSpatialRelIntersects
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - wsglSDas1yYyTDPT_1469053405
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
         "count": 1
        }
  recorded_at: Thu, 21 Jul 2016 18:54:25 GMT
recorded_with: VCR 3.0.3
