---
http_interactions:
- request:
    method: get
    uri: https://sfgis-svc.sfgov.org/arcgis/rest/services/myr/NRHP_Composite/GeocodeServer/findAddressCandidates?City=San%20Francisco&Street=1222%20Harrison%20St&f=pjson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 77442e50
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\n \"spatialReference\": {\n  \"wkid\": 102100,\n  \"latestWkid\":
        3857\n },\n \"candidates\": [\n  {\n   \"address\": \"1222 HARRISON ST, San
        Francisco\",\n   \"location\": {\n    \"x\": -13626517.284101073,\n    \"y\":
        4547486.5483443365\n   },\n   \"score\": 100,\n   \"attributes\": {\n    \n
        \  }\n  },\n  {\n   \"address\": \"1222 HARRISON ST, San Francisco\",\n   \"location\":
        {\n    \"x\": -13626493.887738071,\n    \"y\": 4547483.2117471769\n   },\n
        \  \"score\": 100,\n   \"attributes\": {\n    \n   }\n  },\n  {\n   \"address\":
        \"1223 HARRISON ST, San Francisco\",\n   \"location\": {\n    \"x\": -13626489.588851385,\n
        \   \"y\": 4547470.2697900822\n   },\n   \"score\": 79,\n   \"attributes\":
        {\n    \n   }\n  }\n ]\n}"
  recorded_at: Tue, 06 Dec 2016 19:15:41 GMT
- request:
    method: get
    uri: https://sfgis-svc.sfgov.org/arcgis/rest/services/myr/NRHP_002/MapServer/0/query?f=pjson&geometry=-13626517.284101073,4547486.548344336&geometryType=esriGeometryPoint&returnCountOnly=true&spatialRel=esriSpatialRelIntersects&where=project_id=%272012-021%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - QDO2mH8fE9wMRJdO_53cf148b
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
         "count": 1
        }
  recorded_at: Tue, 06 Dec 2016 19:15:41 GMT
recorded_with: VCR 3.0.3
