---
http_interactions:
- request:
    method: get
    uri: https://sfgis-svc.sfgov.org/arcgis/rest/services/myr/NRHP_Composite/GeocodeServer/findAddressCandidates?City=San%20Francisco&State=CA&Street=1222%20Harrison%20St&f=pjson&outfields=loc_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - c7a87876
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
         "spatialReference": {
          "wkid": 102100,
          "latestWkid": 3857
         },
         "candidates": [
          {
           "address": "1222 HARRISON ST, San Francisco",
           "location": {
            "x": -13626517.284101073,
            "y": 4547486.5483443365
           },
           "score": 100,
           "attributes": {
            "loc_name": "EAS"
           }
          },
          {
           "address": "1222 HARRISON ST, San Francisco, CA",
           "location": {
            "x": -13626500.352575805,
            "y": 4547489.678503979
           },
           "score": 100,
           "attributes": {
            "loc_name": "Street"
           }
          },
          {
           "address": "1223 HARRISON ST, San Francisco, CA",
           "location": {
            "x": -13626483.124013651,
            "y": 4547463.8030332802
           },
           "score": 79,
           "attributes": {
            "loc_name": "Street"
           }
          }
         ]
        }
  recorded_at: Mon, 27 Mar 2017 17:16:50 GMT
- request:
    method: get
    uri: https://sfgis-svc.sfgov.org/arcgis/rest/services/myr/NRHP_002/MapServer/0/query?f=pjson&geometry=-13626517.284101073,4547486.548344336&geometryType=esriGeometryPoint&returnCountOnly=true&spatialRel=esriSpatialRelIntersects&where=project_id=%272012-021%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 88vaLednMGJ2uDj9_53cf148b
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
         "count": 1
        }
  recorded_at: Mon, 27 Mar 2017 17:16:50 GMT
recorded_with: VCR 3.0.3
