---
http_interactions:
- request:
    method: get
    uri: https://sfgis-svc.sfgov.org/arcgis/rest/services/dt/NRHP_Composite/GeocodeServer/findAddressCandidates?City=San%20Francisco&Street=1222%20Harrison%20St&f=pjson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - cd8c2bf5
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\n \"spatialReference\": {\n  \"wkid\": 102100,\n  \"latestWkid\":
        3857\n },\n \"candidates\": [\n  {\n   \"address\": \"1222 HARRISON ST, San
        Francisco\",\n   \"location\": {\n    \"x\": -13626517.284101073,\n    \"y\":
        4547486.5483443365\n   },\n   \"score\": 100,\n   \"attributes\": {\n    \n
        \  }\n  },\n  {\n   \"address\": \"1222 HARRISON ST, San Francisco\",\n   \"location\":
        {\n    \"x\": -13626500.352575805,\n    \"y\": 4547489.678503979\n   },\n
        \  \"score\": 100,\n   \"attributes\": {\n    \n   }\n  },\n  {\n   \"address\":
        \"1223 HARRISON ST, San Francisco\",\n   \"location\": {\n    \"x\": -13626483.124013651,\n
        \   \"y\": 4547463.8030332802\n   },\n   \"score\": 79,\n   \"attributes\":
        {\n    \n   }\n  }\n ]\n}"
  recorded_at: Fri, 24 Mar 2017 20:19:01 GMT
- request:
    method: get
    uri: https://sfgis-svc.sfgov.org/arcgis/rest/services/dt/NRHP_pref/MapServer/0/query?f=pjson&geometry=-13626517.284101073,4547486.548344336&geometryType=esriGeometryPoint&returnCountOnly=true&spatialRel=esriSpatialRelIntersects&where=projid=%272012-021%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 53cf148b
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
         "count": 1
        }
  recorded_at: Fri, 24 Mar 2017 20:19:01 GMT
recorded_with: VCR 3.0.3
