.accountLayoutBackground {
  background-color: var(--seeds-color-gray-300);
}

.accountLayout {
  display: flex;
  flex-direction: row;
  max-width: var(--seeds-width-5xl);
  margin: 0 auto;
  padding: var(--seeds-s14) var(--seeds-spacer-text);
  gap: var(--seeds-spacer-content);
  width: 100%;

  @media (max-width: theme("screens.lg")) {
    padding: var(--seeds-s14) var(--seeds-spacer-content);
  }
  @media (max-width: theme("screens.sm")) {
    padding: 0;
  }
}

.accountLayoutContent {
  padding-top: var(--seeds-s7);
}
