.accountLayoutBackground {
  background-color: var(--seeds-color-gray-300);

  @media (max-width: theme("screens.sm")) {
    background-color: var(--seeds-color-white);
  }
}

.accountLayout {
  display: flex;
  flex-direction: row;
  max-width: var(--seeds-width-5xl);
  margin: 0 auto;
  padding: var(--seeds-s14) var(--seeds-spacer-text);
  gap: var(--seeds-spacer-content);
  width: 100%;

  @media (max-width: 768px) {
    padding: var(--seeds-s14) var(--seeds-spacer-content);
  }
  @media (max-width: theme("screens.sm")) {
    padding: 0;
    gap: 0;
  }
}

.accountLayoutContent {
  flex: 1;
  min-width: 0;
  padding-top: var(--seeds-s7);
  @media (max-width: theme("screens.md")) {
    padding-top: 0;
  }
}

.accountBreadcrumbs {
  display: none;
  @media (max-width: theme("screens.md")) {
    display: block;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--seeds-color-gray-300);
    padding: var(--seeds-spacer-header);
  }
}
