// Style overrides for component libraries
:root {
  .field-note {
    margin-bottom: var(--seeds-spacer-label);
  }

  .radio-field-group {
    display: flex;
    gap: var(--seeds-spacer-label);
    flex-direction: column;
  }

  .radio-field {
    margin-left: 0 !important;
  }

  strong {
    font-weight: var(--seeds-font-weight-semibold);
  }
}
