.household-intro {
  display: flex;
  flex-direction: column;
  gap: var(--seeds-spacer-content);
  padding: var(--seeds-s8) var(--seeds-spacer-container) var(--seeds-spacer-content)
    var(--seeds-spacer-container);
}
