p
  == t 'emailer.account_update.you_recently_changed_settings_please_visit', link: link_to(t('emailer.account_update.account_settings_link'), @account_settings_url)

p
  = t 'emailer.account_update.always_create_strong_password'
