p
  == t 'EMAILER.ACCOUNT_UPDATE.YOU_RECENTLY_CHANGED_SETTINGS_PLEASE_VISIT', link: link_to(t('EMAILER.ACCOUNT_UPDATE.ACCOUNT_SETTINGS_LINK'), @account_settings_url)

p
  = t 'EMAILER.ACCOUNT_UPDATE.ALWAYS_CREATE_STRONG_PASSWORD'
