h2.application-title.t-gamma.padding-bottom
  | {{'B2A_VERIFY_ADDRESS.TITLE' | translate}}

address-verification-form(user='householdMember' submit-path='dahlia.short-form-application.household-members')
