.info-card{
    --title-color:var(--bloom-color-gray-950);
}

.detail-header {
    min-height: var(--bloom-s20);
    .detail-header__hgroup {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.additional-rule-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
