.see-the-unit {
  padding: var(--seeds-spacer-content) !important;

  .see-the-unit__subsection:not(:last-of-type) {
    padding-bottom: var(--seeds-spacer-content);
  }

  .see-the-unit__heading {
    h4.text__underline-weighted {
      margin-bottom: 0px !important;
    }
    padding-bottom: var(--seeds-spacer-content);
  }
}
