.deadlinePassedCard {
   @media (max-width: theme("screens.sm")) {
    border: none;
   }

  .deadlinePassedHeader {
    padding: var(--seeds-spacer-container);
    text-align: center;
    @media (max-width: theme("screens.sm")) {
      text-align: left;
      padding: var(--seeds-spacer-section);
    }
  }
  .deadlinePassedSection {
    padding: var(--seeds-spacer-section);
    background: var(--seeds-color-primary-lighter);
    line-height: var(--seeds-line-height-relaxed);
  }
  .deadlinePassedIcon {
    display: flex;
    gap: var(--seeds-spacer-label);
  }

  .deadlinePassedHeading {
    margin-bottom: var(--seeds-spacer-label);
  }
}
