---
http_interactions:
- request:
    method: get
    uri: https://sfgis-portal.sfgov.org/dahl/rest/services/app_services/NHRP_Composite/GeocodeServer/findAddressCandidates?Address=2244%20Taraval%20St&City=San%20Francisco&State=CA&f=pjson&outfields=loc_name
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Etag:
      - 41effba5
    body:
      encoding: UTF-8
      string: |-
        {
         "spatialReference": {
          "wkid": 102100,
          "latestWkid": 3857
         },
         "candidates": [
          {
           "address": "2244 TARAVAL ST, San Francisco, CA",
           "location": {
            "x": -13635572.627741044,
            "y": 4543134.2961135982
           },
           "score": 100,
           "attributes": {
            "Loc_name": "eas"
           },
           "extent": {
            "xmin": -13635772.627741044,
            "ymin": 4542934.2961135982,
            "xmax": -13635372.627741044,
            "ymax": 4543334.2961135982
           }
          },
          {
           "address": "2244 TARAVAL ST, San Francisco, CA",
           "location": {
            "x": -13635537.586986665,
            "y": 4543116.6615152163
           },
           "score": 100,
           "attributes": {
            "Loc_name": "StClines"
           },
           "extent": {
            "xmin": -13635737.586986665,
            "ymin": 4542916.6615152163,
            "xmax": -13635337.586986665,
            "ymax": 4543316.6615152163
           }
          },
          {
           "address": "2245 TARAVAL ST, San Francisco, CA",
           "location": {
            "x": -13635535.89269774,
            "y": 4543086.2285807347
           },
           "score": 79,
           "attributes": {
            "Loc_name": "StClines"
           },
           "extent": {
            "xmin": -13635735.89269774,
            "ymin": 4542886.2285807347,
            "xmax": -13635335.89269774,
            "ymax": 4543286.2285807347
           }
          }
         ]
        }
  recorded_at: Fri, 08 Mar 2024 21:21:31 GMT
- request:
    method: get
    uri: https://sfgis-portal.sfgov.org/dahl/rest/services/app_services/NRHP_pref/MapServer/0/query?f=pjson&geometry=-13635572.627741044,4543134.296113598&geometryType=esriGeometryPoint&returnCountOnly=true&spatialRel=esriSpatialRelIntersects&where=projid=%27ADHP%27
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Etag:
      - '1694638583'
    body:
      encoding: UTF-8
      string: |-
        {
         "count": 0
        }
  recorded_at: Fri, 08 Mar 2024 21:21:31 GMT
- request:
    method: get
    uri: https://gis.sf.gov/dahl/rest/services/app_services/NRHP_Composite/GeocodeServer/findAddressCandidates?Address=2244%20Taraval%20St&City=San%20Francisco&State=CA&f=pjson&outfields=loc_name
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Etag:
      - '"a46f0a61"'
    body:
      encoding: UTF-8
      string: |-
        {
         "spatialReference": {
          "wkid": 102100,
          "latestWkid": 3857
         },
         "candidates": [
          {
           "address": "2244 TARAVAL ST, San Francisco, California, 94116",
           "location": {
            "x": -13635572.5172881018,
            "y": 4543134.68882754724
           },
           "score": 100,
           "attributes": {
            "Loc_name": "addr_pt"
           },
           "extent": {
            "xmin": -122.491432,
            "ymin": 37.741652,
            "xmax": -122.489432,
            "ymax": 37.743652
           }
          }
         ]
        }
  recorded_at: Fri, 02 Aug 2024 14:32:50 GMT
- request:
    method: get
    uri: https://gis.sf.gov/dahl/rest/services/app_services/NRHP_pref_pg/MapServer/0/query?f=pjson&geometry=-13635572.517288102,4543134.688827547&geometryType=esriGeometryPoint&returnCountOnly=true&spatialRel=esriSpatialRelIntersects&where=projid=%27ADHP%27
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Etag:
      - '"1717546232"'
    body:
      encoding: UTF-8
      string: |-
        {
         "count": 0
        }
  recorded_at: Fri, 02 Aug 2024 14:32:51 GMT
recorded_with: VCR 6.1.0
