---
http_interactions:
- request:
    method: get
    uri: https://sfgis-portal.sfgov.org/dahl/rest/services/app_services/NHRP_Composite/GeocodeServer/findAddressCandidates?City=San%20Francisco&State=CA&Street=1299191%20Blahblah%20St&f=pjson&outfields=loc_name
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Etag:
      - 222e5f3e
    body:
      encoding: UTF-8
      string: "{\n \"spatialReference\": {\n  \"wkid\": 102100,\n  \"latestWkid\":
        3857\n },\n \"candidates\": [\n  \n ]\n}"
  recorded_at: Fri, 08 Mar 2024 21:21:32 GMT
- request:
    method: get
    uri: https://gis.sf.gov/dahl/rest/services/app_services/NRHP_Composite/GeocodeServer/findAddressCandidates?Address=1299191%20Blahblah%20St&City=San%20Francisco&State=CA&f=pjson&outfields=loc_name
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Etag:
      - '"222e5f3e"'
    body:
      encoding: UTF-8
      string: "{\n \"spatialReference\": {\n  \"wkid\": 102100,\n  \"latestWkid\":
        3857\n },\n \"candidates\": [\n  \n ]\n}"
  recorded_at: Fri, 02 Aug 2024 14:32:53 GMT
recorded_with: VCR 6.1.0
