---
http_interactions:
- request:
    method: get
    uri: https://sfgis-portal.sfgov.org/dahl/rest/services/app_services/NHRP_Composite/GeocodeServer/findAddressCandidates?City=San%20Francisco&State=CA&Street=1299191%20Blahblah%20St&f=pjson&outfields=loc_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Etag:
      - 222e5f3e
    body:
      encoding: UTF-8
      string: "{\n \"spatialReference\": {\n  \"wkid\": 102100,\n  \"latestWkid\":
        3857\n },\n \"candidates\": [\n  \n ]\n}"
  recorded_at: Mon, 10 Aug 2020 23:16:52 GMT
recorded_with: VCR 5.0.0
