---
http_interactions:
- request:
    method: get
    uri: https://sfgis-portal.sfgov.org/svc/rest/services/dahlia/NHRP_Composite/GeocodeServer/findAddressCandidates?City=San%20Francisco&State=CA&Street=2244%20Taraval%20St&f=pjson&outfields=loc_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 41effba5
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
         "spatialReference": {
          "wkid": 102100,
          "latestWkid": 3857
         },
         "candidates": [
          {
           "address": "2244 TARAVAL ST, San Francisco, CA",
           "location": {
            "x": -13635572.627741044,
            "y": 4543134.2961135982
           },
           "score": 100,
           "attributes": {
            "Loc_name": "eas"
           },
           "extent": {
            "xmin": -13635772.627741044,
            "ymin": 4542934.2961135982,
            "xmax": -13635372.627741044,
            "ymax": 4543334.2961135982
           }
          },
          {
           "address": "2244 TARAVAL ST, San Francisco, CA",
           "location": {
            "x": -13635537.586986665,
            "y": 4543116.6615152163
           },
           "score": 100,
           "attributes": {
            "Loc_name": "StClines"
           },
           "extent": {
            "xmin": -13635737.586986665,
            "ymin": 4542916.6615152163,
            "xmax": -13635337.586986665,
            "ymax": 4543316.6615152163
           }
          },
          {
           "address": "2245 TARAVAL ST, San Francisco, CA",
           "location": {
            "x": -13635535.89269774,
            "y": 4543086.2285807347
           },
           "score": 79,
           "attributes": {
            "Loc_name": "StClines"
           },
           "extent": {
            "xmin": -13635735.89269774,
            "ymin": 4542886.2285807347,
            "xmax": -13635335.89269774,
            "ymax": 4543286.2285807347
           }
          }
         ]
        }
  recorded_at: Tue, 10 Jul 2018 22:58:41 GMT
- request:
    method: get
    uri: https://sfgis-portal.sfgov.org/svc/rest/services/dahlia/NRHP_pref/MapServer/0/query?f=pjson&geometry=-13635572.627741044,4543134.296113598&geometryType=esriGeometryPoint&returnCountOnly=true&spatialRel=esriSpatialRelIntersects&where=projid=%272012-021%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - l9aPzlwaSZzDn3DK_1529527436
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
         "count": 0
        }
  recorded_at: Tue, 10 Jul 2018 22:58:41 GMT
recorded_with: VCR 3.0.3
