// Can remove this file once it's brought over from pattern library
.animated-fade {
  opacity: 1;
  &.ng-hide,
  &.ng-enter {
    transition: opacity 0.33s ease;
    opacity: 0;
    &.ng-enter-active {
        opacity: 1;
    }
  }
}
