.fr_response_field {margin-bottom:10px!important;}
form input, form select {background:#e9e9e9;padding:12px 13px 10px 13px;border:0;}
form select {padding:13px 0;}
.fr_response_field label {width:100%;padding:1.2em 0 10px; font-size:18px; line-height:1.4em;color:#3d3d3d;z-index:1;font-weight:normal;}
.has_sub_label label {padding-top:0;line-height:1.4em;font-size:14px;}
.fr_response_field_number .fr_units, .fr_grid .fr_spacer {font-size:16px!important;}
.fr_response_field_section_break {margin:5em 0 0;}
.fr_page .fr_response_field_section_break:first-of-type {margin:0;}
form hr {margin:5px;}
label.fr_option {padding:5px 0 5px 20px;text-indent:-18px;}
.fr_bottom {background:#fff!important;color:#888;font-size:18px;}
.fr_button {background:#0085d0; color:#fff!important;line-height:54px !important;padding:0 30px !important;width:auto!important;transition:background 0.3s;}
.fr_button:hover, .fr_button:focus {background:#054a71;}
abbr[title], .fr_required {text-decoration:none;border-bottom:0;}
input#c44 {width:auto!important;}
#fr_response_field_sydee3yw {padding-top:1em;}

/*overwrites*/
a { background-image: none; }
label.control input {
  position: relative;
  opacity: 100;
}
.fr_option.control { padding: 5px 0 5px 0px; }


