.directory-page-navigation-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--seeds-bg-color-surface);
  margin: 0 auto;
  width: 100%;

  --inter-row-gap: var(--seeds-s12);
  --max-width: var(--seeds-width-3xl);
  --max-width-large-screen: var(--seeds-width-5xl);
  --margin: var(--inter-row-gap) auto;
  --seeds-focus-ring-box-shadow: none !important;
  --seeds-focus-ring-outline: none !important;

  display: flex;
  flex-direction: row;
  max-width: var(--max-width);
  overflow-x: auto;
  overflow-y: hidden;
  margin: var(--margin);

  a:focus {
    box-shadow: none !important;
  }

  @media (min-width: $screen-lg) {
    --max-width: var(--max-width-large-screen);
  }

  .directory-page-navigation-bar__button {
    flex: 1 0 0;
    min-width: max-content;
    margin-left: var(--seeds-s4);
    padding: var(--seeds-s4) var(--seeds-s6);

    background: var(--seeds-bg-color-surface);
    color: var(--seeds-text-color-light);
    border: var(--seeds-border-1) solid var(--seeds-color-gray-450);
    border-radius: 0px;
  }
  .directory-page-navigation-bar__button:hover,
  .active {
    color: var(--components-tabs-active-label-color, #222);
    background: var(--components-tabs-background-color);

    border-top: var(--seeds-border-1) solid var(--seeds-color-gray-450);
    border-right: var(--seeds-border-1) solid var(--seeds-color-gray-450);
    border-left: var(--seeds-border-1) solid var(--seeds-color-gray-450);
    border-bottom: var(--seeds-s0_5) solid var(--seeds-color-primary);
  }
}
