.directory-page-navigation-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  max-width: var(--bloom-width-5xl);

  --inter-row-gap: var(--bloom-s12);
  --max-width: var(--bloom-width-3xl);
  --max-width-large-screen: var(--bloom-width-5xl);
  --margin: var(--inter-row-gap) auto;
  --seeds-focus-ring-box-shadow: none !important;
  --seeds-focus-ring-outline: none !important;

  display: flex;
  flex-direction: row;
  max-width: var(--max-width);
  overflow-x: auto;
  overflow-y: hidden;
  margin: var(--margin);

  a:focus {
    box-shadow: none !important;
  }

  @media (min-width: $screen-lg) {
    --max-width: var(--max-width-large-screen);
  }

  .seeds-button {
    flex: 1 0 0;
    min-width: max-content;
    margin-left: 16px;
    padding: var(--sizes-size-s4, 16px) var(--sizes-size-s6, 24px);

    background: var(--components-tabs-background-color, #fff);
    color: var(--components-tabs-label-color, #767676);
    border: var(--borders-width-1, 1px) solid var(--components-tabs-border-color, #dedee0);
    border-radius: 0px;
  }
  .seeds-button:hover,
  .active {
    color: var(--components-tabs-active-label-color, #222);
    background: var(--components-tabs-background-color);

    border-top: var(--borders-width-1, 1px) solid var(--components-tabs-border-color, #dedee0);
    border-right: var(--borders-width-1, 1px) solid var(--components-tabs-border-color, #dedee0);
    border-left: var(--borders-width-1, 1px) solid var(--components-tabs-border-color, #dedee0);
    border-bottom: var(--components-tabs-active-indicator-width, 2px) solid
      var(--components-tabs-active-indicator-color, #0077da);
  }
}
