.eligibility-subheader {
  @apply text-gray-700;

  .eligibility-subtext {
    @apply text-gray-950;
    @apply font-bold;
  }
}

.page-header-subheader {
  text-transform: uppercase;
  font-size: 1.625rem;
  font-family: "Lato";
  letter-spacing: 0.12rem;
  font-weight: 800;
  margin-bottom: 0.4rem;
}

.page-header-text-block {
  color: #555;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.match-container {
  width: 64rem;
}
