.listings-group__customHeader {
  .listings-group__content {
    max-width: 100%;
  }
}

#buy-now,
#enter-a-lottery,
#upcoming-lotteries,
#lottery-results,
#additional-listings {
  scroll-margin-top: 70px;
}

#buy-now > .listings-group__customHeader {
  border-top: 1px solid var(--seeds-color-gray-450);
  padding-top: var(--seeds-s9);
}
