.listings-group__customHeader {
  max-width: var(--seeds-width-3xl);

  @media (min-width: $screen-lg) {
    max-width: var(--seeds-width-5xl);
  }
}

#buy-now,
#enter-a-lottery,
#upcoming-lotteries,
#lottery-results,
#additional-listings {
  scroll-margin-top: 80px;
}

#buy-now > .listings-group__customHeader {
  border-top: 1px solid var(--seeds-color-gray-450);
  padding-top: var(--seeds-s9);
}
